n8n/workflows/modulo_2/auditoria_diaria_sici.json
{
  "name": "SICI - Auditoría Diaria v2.3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: 9:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Ejecuta todos los días a las 9:00 AM (Bolivia UTC-4)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  -- Estados (todos)\n  COUNT(*) as total,\n  COUNT(*) FILTER (WHERE status = 'completado') as completadas,\n  COUNT(*) FILTER (WHERE status = 'nueva') as nuevas,\n  COUNT(*) FILTER (WHERE status = 'inactivo_pending') as inactivo_pending,\n  COUNT(*) FILTER (WHERE status = 'inactivo_confirmed') as inactivo_confirmed,\n  \n  -- Matching\n  COUNT(*) FILTER (WHERE id_proyecto_master IS NOT NULL AND status = 'completado') as matcheadas,\n  COUNT(*) FILTER (WHERE id_proyecto_master IS NULL AND status = 'completado') as sin_match,\n  COUNT(*) FILTER (WHERE nombre_edificio IS NOT NULL AND nombre_edificio != '' AND status = 'completado') as con_nombre,\n  COUNT(*) FILTER (WHERE zona IS NOT NULL AND zona != '' AND status = 'completado') as con_zona,\n  \n  -- Pendientes enrich (nuevas venta)\n  COUNT(*) FILTER (WHERE status = 'nueva' AND tipo_operacion = 'venta') as pendientes_enrich,\n  \n  -- Actividad 24h\n  COUNT(*) FILTER (WHERE fecha_creacion >= NOW() - INTERVAL '24 hours') as creadas_24h,\n  COUNT(*) FILTER (WHERE fecha_enrichment >= NOW() - INTERVAL '24 hours') as enriquecidas_24h,\n  \n  -- Calidad: Scores (solo completadas)\n  COUNT(*) FILTER (WHERE score_calidad_dato >= 95 AND status = 'completado') as score_alto,\n  COUNT(*) FILTER (WHERE score_calidad_dato >= 85 AND score_calidad_dato < 95 AND status = 'completado') as score_medio,\n  COUNT(*) FILTER (WHERE score_calidad_dato < 85 AND status = 'completado') as score_bajo,\n  \n  -- Calidad: Campos faltantes (solo completadas)\n  COUNT(*) FILTER (WHERE (zona IS NULL OR zona = '') AND status = 'completado') as sin_zona,\n  COUNT(*) FILTER (WHERE dormitorios IS NULL AND status = 'completado') as sin_dormitorios,\n  COUNT(*) FILTER (WHERE (nombre_edificio IS NULL OR nombre_edificio = '') AND status = 'completado') as sin_nombre,\n  \n  -- Revisión humana: Discrepancias merge\n  COUNT(*) FILTER (WHERE (\n    (discrepancias_detectadas->'gps'->>'flag' IS NOT NULL AND discrepancias_detectadas->'gps'->>'flag' != 'null') OR\n    (discrepancias_detectadas->'area'->>'flag' IS NOT NULL AND discrepancias_detectadas->'area'->>'flag' != 'null') OR\n    (discrepancias_detectadas->'precio'->>'flag' IS NOT NULL AND discrepancias_detectadas->'precio'->>'flag' != 'null')\n  )) as discrepancias_merge,\n  \n  -- Excluidas matching\n  COUNT(*) FILTER (WHERE es_para_matching = false AND status = 'completado') as excluidas_matching,\n  \n  -- Health: timestamps\n  MAX(fecha_enrichment) as ultimo_enrichment,\n  MAX(fecha_merge) as ultimo_merge,\n  ROUND(EXTRACT(EPOCH FROM (NOW() - MAX(fecha_enrichment))) / 3600, 1) as horas_sin_enrichment,\n  ROUND(EXTRACT(EPOCH FROM (NOW() - MAX(fecha_merge))) / 3600, 1) as horas_sin_merge,\n  \n  -- Health: Discovery (hubo nuevas en 26h?)\n  CASE WHEN COUNT(*) FILTER (WHERE fecha_creacion >= NOW() - INTERVAL '26 hours') > 0 THEN true ELSE false END as discovery_ok,\n  \n  -- Health: TC Dinámico (hubo inactivaciones en 26h?)\n  CASE WHEN COUNT(*) FILTER (WHERE status = 'inactivo_confirmed' AND fecha_inactivacion >= NOW() - INTERVAL '26 hours') > 0 THEN true ELSE false END as tc_dinamico_ok\nFROM propiedades_v2",
        "options": {}
      },
      "id": "pg-stats-props",
      "name": "PG: Stats Propiedades",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 300],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Estadísticas de propiedades: estados, calidad, discrepancias"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) as sugerencias_total,\n  COUNT(*) FILTER (WHERE created_at >= NOW() - INTERVAL '24 hours') as sugerencias_24h,\n  COUNT(*) FILTER (WHERE estado = 'aprobado' AND fecha_revision >= NOW() - INTERVAL '24 hours') as aprobadas_24h,\n  COUNT(*) FILTER (WHERE estado = 'rechazado' AND fecha_revision >= NOW() - INTERVAL '24 hours') as rechazadas_24h,\n  COUNT(*) FILTER (WHERE estado = 'pendiente') as pendientes_matching,\n  \n  -- Health: Matching Nocturno 4AM (sugerencias creadas entre 4-5 AM hoy)\n  COUNT(*) FILTER (\n    WHERE created_at >= DATE_TRUNC('day', NOW()) + INTERVAL '4 hours'\n    AND created_at < DATE_TRUNC('day', NOW()) + INTERVAL '5 hours'\n  ) as matching_nocturno_hoy,\n  \n  -- Health: Supervisor 8PM (procesados entre 20-21h ayer)\n  COUNT(*) FILTER (\n    WHERE fecha_revision >= DATE_TRUNC('day', NOW()) - INTERVAL '4 hours'\n    AND fecha_revision < DATE_TRUNC('day', NOW()) - INTERVAL '3 hours'\n    AND estado IN ('aprobado', 'rechazado')\n  ) as supervisor_match_ayer\nFROM matching_sugerencias",
        "options": {}
      },
      "id": "pg-stats-matching",
      "name": "PG: Stats Matching",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Estadísticas de matching y verificación de ejecución nocturna"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) as total,\n  COUNT(*) FILTER (WHERE activo = true) as activos,\n  COUNT(*) FILTER (WHERE gps_verificado_google = true) as gps_verificado,\n  COUNT(*) FILTER (WHERE google_place_id IS NOT NULL) as con_place_id,\n  COALESCE((SELECT COUNT(*) FROM proyectos_pendientes_google WHERE estado = 'pendiente'), 0) as pendientes_google\nFROM proyectos_master",
        "options": {}
      },
      "id": "pg-stats-proyectos",
      "name": "PG: Stats Proyectos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 300],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Estadísticas de proyectos master"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) FILTER (WHERE estado = 'pendiente') as pendientes_sinmatch,\n  \n  -- Health: Export 7AM (exportados entre 7-8 AM hoy)\n  COUNT(*) FILTER (\n    WHERE fecha_export >= DATE_TRUNC('day', NOW()) + INTERVAL '7 hours'\n    AND fecha_export < DATE_TRUNC('day', NOW()) + INTERVAL '8 hours'\n  ) as export_7am_hoy,\n  \n  -- Health: Supervisor Sin Match 8:30PM (procesados entre 20:30-21:30 ayer)\n  COUNT(*) FILTER (\n    WHERE fecha_procesado >= DATE_TRUNC('day', NOW()) - INTERVAL '3 hours' - INTERVAL '30 minutes'\n    AND fecha_procesado < DATE_TRUNC('day', NOW()) - INTERVAL '2 hours' - INTERVAL '30 minutes'\n  ) as supervisor_sinmatch_ayer\nFROM sin_match_exportados",
        "options": {}
      },
      "id": "pg-stats-sinmatch",
      "name": "PG: Stats Sin Match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 300],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Estadísticas de sin_match_exportados y health supervisores"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT valor FROM config_global WHERE clave = 'tipo_cambio_paralelo') as tc_paralelo,\n  (SELECT valor FROM config_global WHERE clave = 'tipo_cambio_oficial') as tc_oficial,\n  (SELECT MAX(fecha_cambio) FROM auditoria_tipo_cambio) as ultimo_cambio_tc,\n  (SELECT COUNT(*) FROM tc_binance_historial WHERE timestamp >= NOW() - INTERVAL '24 hours') as consultas_binance_24h,\n  (SELECT MAX(timestamp) FROM tc_binance_historial) as ultima_consulta_binance",
        "options": {}
      },
      "id": "pg-stats-tc",
      "name": "PG: Stats TC",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [990, 300],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Estadísticas de tipo de cambio y Binance"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  workflow_name,\n  MAX(finished_at) as last_run,\n  MAX(CASE WHEN finished_at >= NOW() - INTERVAL '26 hours' THEN true ELSE false END) as ran_last_26h,\n  MAX(CASE \n    WHEN workflow_name = 'matching_nocturno' AND \n         finished_at >= DATE_TRUNC('day', NOW()) + INTERVAL '4 hours' AND\n         finished_at < DATE_TRUNC('day', NOW()) + INTERVAL '5 hours'\n    THEN true ELSE false END) as ran_at_scheduled_time\nFROM workflow_executions\nWHERE workflow_name IN ('discovery', 'enrichment', 'merge', 'matching_nocturno', 'matching_supervisor', 'exportar_sin_match', 'supervisor_sin_match', 'radar_mensual', 'auditoria_diaria', 'tc_dinamico_binance')\nGROUP BY workflow_name;",
        "options": {}
      },
      "id": "pg-stats-workflows",
      "name": "PG: Stats Workflows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 500],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Verificar ejecuciones de workflows desde workflow_executions",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos de todos los nodos Postgres\nconst props = $('PG: Stats Propiedades').first().json;\nconst matching = $('PG: Stats Matching').first().json;\nconst proyectos = $('PG: Stats Proyectos').first().json;\nconst sinmatch = $('PG: Stats Sin Match').first().json;\nconst tcStats = $('PG: Stats TC').first().json;\n\n// Obtener stats de workflow_executions (tabla nueva)\nlet workflowStats = {};\ntry {\n  const wfData = $('PG: Stats Workflows').all();\n  for (const item of wfData) {\n    if (item.json && item.json.workflow_name) {\n      workflowStats[item.json.workflow_name] = {\n        lastRun: item.json.last_run,\n        ranLast26h: item.json.ran_last_26h === true || item.json.ran_last_26h === 't',\n        ranAtScheduled: item.json.ran_at_scheduled_time === true || item.json.ran_at_scheduled_time === 't'\n      };\n    }\n  }\n} catch (e) {\n  // Tabla aún no existe o vacía - usar fallback\n  workflowStats = {};\n}\n\n// === PROPIEDADES ===\nconst total = parseInt(props.total) || 0;\nconst completadas = parseInt(props.completadas) || 0;\nconst nuevas = parseInt(props.nuevas) || 0;\nconst inactivoPending = parseInt(props.inactivo_pending) || 0;\nconst inactivoConfirmed = parseInt(props.inactivo_confirmed) || 0;\nconst propsInactivas = inactivoPending + inactivoConfirmed;\n\nconst matcheadas = parseInt(props.matcheadas) || 0;\nconst sinMatch = parseInt(props.sin_match) || 0;\nconst conNombre = parseInt(props.con_nombre) || 0;\nconst conZona = parseInt(props.con_zona) || 0;\nconst pendientesEnrich = parseInt(props.pendientes_enrich) || 0;\n\nconst creadas24h = parseInt(props.creadas_24h) || 0;\nconst enriquecidas24h = parseInt(props.enriquecidas_24h) || 0;\n\n// Porcentajes\nconst pctMatchCompletadas = completadas > 0 \n  ? parseFloat(((matcheadas / completadas) * 100).toFixed(2))\n  : 0;\nconst pctNombreCompletadas = completadas > 0 \n  ? parseFloat(((conNombre / completadas) * 100).toFixed(2))\n  : 0;\n\n// === CALIDAD DE DATOS ===\nconst scoreAlto = parseInt(props.score_alto) || 0;\nconst scoreMedio = parseInt(props.score_medio) || 0;\nconst scoreBajo = parseInt(props.score_bajo) || 0;\nconst totalScored = scoreAlto + scoreMedio + scoreBajo;\nconst pctAlto = totalScored > 0 ? Math.round((scoreAlto / totalScored) * 100) : 0;\nconst pctMedio = totalScored > 0 ? Math.round((scoreMedio / totalScored) * 100) : 0;\nconst pctBajo = totalScored > 0 ? Math.round((scoreBajo / totalScored) * 100) : 0;\n\nconst sinZona = parseInt(props.sin_zona) || 0;\nconst sinDorms = parseInt(props.sin_dormitorios) || 0;\nconst sinNombre = parseInt(props.sin_nombre) || 0;\n\n// === REVISIÓN HUMANA ===\nconst pendientesMatching = parseInt(matching.pendientes_matching) || 0;\nconst pendientesSinMatch = parseInt(sinmatch.pendientes_sinmatch) || 0;\nconst discrepanciasMerge = parseInt(props.discrepancias_merge) || 0;\nconst excluidasMatching = parseInt(props.excluidas_matching) || 0;\nconst totalPendientes = pendientesMatching + pendientesSinMatch;\n\n// === MATCHING ===\nconst sugerenciasTotal = parseInt(matching.sugerencias_total) || 0;\nconst sugerencias24h = parseInt(matching.sugerencias_24h) || 0;\nconst aprobadas24h = parseInt(matching.aprobadas_24h) || 0;\nconst rechazadas24h = parseInt(matching.rechazadas_24h) || 0;\nconst tasaAprobacion24h = sugerencias24h > 0 \n  ? parseFloat(((aprobadas24h / sugerencias24h) * 100).toFixed(2))\n  : null;\n\n// === PROYECTOS ===\nconst proyTotal = parseInt(proyectos.total) || 0;\nconst proyActivos = parseInt(proyectos.activos) || 0;\nconst proyGpsVerificado = parseInt(proyectos.gps_verificado) || 0;\nconst proyConPlaceId = parseInt(proyectos.con_place_id) || 0;\nconst proyPendientesGoogle = parseInt(proyectos.pendientes_google) || 0;\nconst pctGpsVerificado = proyTotal > 0 \n  ? parseFloat(((proyGpsVerificado / proyTotal) * 100).toFixed(2))\n  : 0;\n\n// === TC DINAMICO ===\nconst tcParalelo = parseFloat(tcStats.tc_paralelo) || 0;\nconst tcOficial = parseFloat(tcStats.tc_oficial) || 0;\nconst consultasBinance24h = parseInt(tcStats.consultas_binance_24h) || 0;\n\n// === HEALTH CHECK ===\nconst horasSinEnrichment = parseFloat(props.horas_sin_enrichment) || 999;\nconst horasSinMerge = parseFloat(props.horas_sin_merge) || 999;\n\n// Usar workflow_executions si disponible, sino fallback a inferencia\nconst discoveryOk = workflowStats.discovery?.ranLast26h || (props.discovery_ok === true || props.discovery_ok === 't');\nconst enrichmentOk = workflowStats.enrichment?.ranLast26h || horasSinEnrichment < 26;\nconst mergeOk = workflowStats.merge?.ranLast26h || horasSinMerge < 26;\nconst tcDinamicoOk = props.tc_dinamico_ok === true || props.tc_dinamico_ok === 't';\nconst tcDinamicoBinanceOk = workflowStats.tc_dinamico_binance?.ranLast26h || false;\nconst matchingNocturnoOk = workflowStats.matching_nocturno?.ranLast26h || parseInt(matching.matching_nocturno_hoy) > 0;\nconst export7amOk = workflowStats.exportar_sin_match?.ranLast26h || parseInt(sinmatch.export_7am_hoy) >= 0;\nconst supervisorMatchOk = workflowStats.matching_supervisor?.ranLast26h || parseInt(matching.supervisor_match_ayer) >= 0;\nconst supervisorSinMatchOk = workflowStats.supervisor_sin_match?.ranLast26h || parseInt(sinmatch.supervisor_sinmatch_ayer) >= 0;\n\n// === ALERTAS ===\nconst alertas = [];\nif (totalPendientes > 5) alertas.push(`${totalPendientes} pendientes revisión`);\nif (discrepanciasMerge > 0) alertas.push(`${discrepanciasMerge} discrepancias merge`);\nif (!enrichmentOk) alertas.push('Enrichment no corrió en 26h');\nif (!discoveryOk) alertas.push('Discovery no corrió en 26h');\nif (pctMatchCompletadas < 90) alertas.push('Cobertura matching <90%');\nif (pctBajo > 5) alertas.push(`${pctBajo}% calidad baja`);\n\n// Fecha formateada (Bolivia)\nconst fecha = new Date().toLocaleDateString('es-BO', {\n  day: '2-digit',\n  month: 'short',\n  year: 'numeric',\n  timeZone: 'America/La_Paz'\n});\n\n// Fecha ISO para snapshot\nconst fechaISO = new Date().toISOString().split('T')[0];\n\n// === CONSTRUIR MENSAJE SLACK ===\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: `📊 SICI Auditoría Diaria — ${fecha}`, emoji: true }\n  }\n];\n\nif (alertas.length > 0) {\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: `🚨 *ALERTAS:* ${alertas.join(' | ')}` }\n  });\n}\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*📦 PROPIEDADES*' } });\nblocks.push({\n  type: 'section',\n  fields: [\n    { type: 'mrkdwn', text: `*Completadas:* ${completadas}` },\n    { type: 'mrkdwn', text: `*Nuevas:* ${nuevas}` },\n    { type: 'mrkdwn', text: `*Inactivo pending:* ${inactivoPending}` },\n    { type: 'mrkdwn', text: `*Inactivo confirmed:* ${inactivoConfirmed}` },\n    { type: 'mrkdwn', text: `*Total:* ${total}` },\n    { type: 'mrkdwn', text: ' ' }\n  ]\n});\nblocks.push({\n  type: 'section',\n  fields: [\n    { type: 'mrkdwn', text: `*Matcheadas:* ${matcheadas} (${pctMatchCompletadas}%)` },\n    { type: 'mrkdwn', text: `*Sin match:* ${sinMatch}` },\n    { type: 'mrkdwn', text: `*Con nombre:* ${conNombre} (${pctNombreCompletadas}%)` },\n    { type: 'mrkdwn', text: `*Pendientes enrich:* ${pendientesEnrich}` }\n  ]\n});\nblocks.push({\n  type: 'section',\n  text: { type: 'mrkdwn', text: `_Últimas 24h: +${creadas24h} creadas, +${enriquecidas24h} enriquecidas_` }\n});\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*📈 CALIDAD DE DATOS*' } });\nblocks.push({\n  type: 'section',\n  fields: [\n    { type: 'mrkdwn', text: `*Score alto (≥95):* ${scoreAlto} (${pctAlto}%)` },\n    { type: 'mrkdwn', text: `*Score medio:* ${scoreMedio} (${pctMedio}%)` },\n    { type: 'mrkdwn', text: `*Score bajo (<85):* ${scoreBajo} (${pctBajo}%)` },\n    { type: 'mrkdwn', text: ' ' }\n  ]\n});\nblocks.push({\n  type: 'section',\n  text: { type: 'mrkdwn', text: `_Faltantes: zona ${sinZona} | dorms ${sinDorms} | nombre ${sinNombre}_` }\n});\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*🔗 MATCHING*' } });\nblocks.push({\n  type: 'section',\n  fields: [\n    { type: 'mrkdwn', text: `*Sugerencias 24h:* ${sugerencias24h}` },\n    { type: 'mrkdwn', text: `*Aprobadas:* ${aprobadas24h} ✅` },\n    { type: 'mrkdwn', text: `*Rechazadas:* ${rechazadas24h} ❌` },\n    { type: 'mrkdwn', text: `*Tasa aprob:* ${tasaAprobacion24h !== null ? tasaAprobacion24h + '%' : 'N/A'}` },\n    { type: 'mrkdwn', text: `*Pendientes revisión:* ${pendientesMatching > 0 ? '⚠️ ' : ''}${pendientesMatching}` },\n    { type: 'mrkdwn', text: `*Nocturno 4AM:* ${matchingNocturnoOk ? '✅ Corrió' : '⚠️ No corrió'}` }\n  ]\n});\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*👤 REVISIÓN HUMANA*' } });\nblocks.push({\n  type: 'section',\n  fields: [\n    { type: 'mrkdwn', text: `*Pendientes matching:* ${pendientesMatching}` },\n    { type: 'mrkdwn', text: `*Pendientes sin_match:* ${pendientesSinMatch}` },\n    { type: 'mrkdwn', text: `*Discrepancias merge:* ${discrepanciasMerge > 0 ? '⚠️ ' : ''}${discrepanciasMerge}` },\n    { type: 'mrkdwn', text: `*Excluidas matching:* ${excluidasMatching}` }\n  ]\n});\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*🏢 PROYECTOS*' } });\nblocks.push({\n  type: 'section',\n  fields: [\n    { type: 'mrkdwn', text: `*Total:* ${proyTotal}` },\n    { type: 'mrkdwn', text: `*GPS verificado:* ${proyGpsVerificado} (${pctGpsVerificado}%)` },\n    { type: 'mrkdwn', text: `*Con Place ID:* ${proyConPlaceId}` },\n    { type: 'mrkdwn', text: `*Pendientes Google:* ${proyPendientesGoogle}` }\n  ]\n});\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*💱 TC DINÁMICO*' } });\nblocks.push({\n  type: 'section',\n  fields: [\n    { type: 'mrkdwn', text: `*TC Paralelo:* ${tcParalelo.toFixed(2)} BOB/USD` },\n    { type: 'mrkdwn', text: `*TC Oficial:* ${tcOficial.toFixed(2)} BOB/USD` },\n    { type: 'mrkdwn', text: `*Consultas Binance 24h:* ${consultasBinance24h}` },\n    { type: 'mrkdwn', text: `*Workflow:* ${tcDinamicoBinanceOk ? '✅ Corrió' : '⚪ Sin ejecución'}` }\n  ]\n});\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*⚡ HEALTH CHECK*' } });\nblocks.push({\n  type: 'section',\n  fields: [\n    { type: 'mrkdwn', text: `*Discovery:* ${discoveryOk ? '✅' : '🔴'}` },\n    { type: 'mrkdwn', text: `*Enrichment:* ${enrichmentOk ? '✅' : '🔴'} hace ${horasSinEnrichment}h` },\n    { type: 'mrkdwn', text: `*Merge:* ${mergeOk ? '✅' : '🔴'} hace ${horasSinMerge}h` },\n    { type: 'mrkdwn', text: `*TC Dinámico:* ${tcDinamicoOk ? '✅' : '⚪'}` },\n    { type: 'mrkdwn', text: `*Export 7AM:* ${export7amOk ? '✅' : '⚪'}` },\n    { type: 'mrkdwn', text: `*Nocturno 4AM:* ${matchingNocturnoOk ? '✅' : '⚪'}` }\n  ]\n});\nblocks.push({\n  type: 'section',\n  fields: [\n    { type: 'mrkdwn', text: `*Super 8PM:* ${supervisorMatchOk ? '✅' : '⚪'}` },\n    { type: 'mrkdwn', text: `*Super SinM 8:30PM:* ${supervisorSinMatchOk ? '✅' : '⚪'}` }\n  ]\n});\n\nblocks.push({\n  type: 'context',\n  elements: [{ type: 'mrkdwn', text: `📈 Total sugerencias históricas: ${sugerenciasTotal} | SICI Auditoría v2.3` }]\n});\n\n// === SNAPSHOT DATA ===\nconst snapshot = {\n  fecha: fechaISO,\n  props_total: total,\n  props_completadas: completadas,\n  props_nuevas: nuevas,\n  props_nuevas_venta: pendientesEnrich,\n  props_inactivas: propsInactivas,\n  props_inactivo_pending: inactivoPending,\n  props_inactivo_confirmed: inactivoConfirmed,\n  props_matcheadas: matcheadas,\n  props_sin_match: sinMatch,\n  props_con_nombre: conNombre,\n  props_con_zona: conZona,\n  props_creadas_24h: creadas24h,\n  props_enriquecidas_24h: enriquecidas24h,\n  pct_match_completadas: pctMatchCompletadas,\n  pct_nombre_completadas: pctNombreCompletadas,\n  score_alto: scoreAlto,\n  score_medio: scoreMedio,\n  score_bajo: scoreBajo,\n  pct_alto: pctAlto,\n  pct_medio: pctMedio,\n  pct_bajo: pctBajo,\n  sin_zona: sinZona,\n  sin_dormitorios: sinDorms,\n  sin_nombre: sinNombre,\n  discrepancias_merge: discrepanciasMerge,\n  excluidas_matching: excluidasMatching,\n  match_total: sugerenciasTotal,\n  match_24h: sugerencias24h,\n  match_aprobadas_24h: aprobadas24h,\n  match_rechazadas_24h: rechazadas24h,\n  match_pendientes: pendientesMatching,\n  pendientes_sinmatch: pendientesSinMatch,\n  tasa_aprobacion_24h: tasaAprobacion24h,\n  proy_total: proyTotal,\n  proy_activos: proyActivos,\n  proy_gps_verificado: proyGpsVerificado,\n  proy_con_place_id: proyConPlaceId,\n  proy_pendientes_google: proyPendientesGoogle,\n  pct_gps_verificado: pctGpsVerificado,\n  horas_sin_enrichment: horasSinEnrichment,\n  horas_sin_merge: horasSinMerge,\n  matching_nocturno_ok: matchingNocturnoOk,\n  discovery_ok: discoveryOk,\n  enrichment_ok: enrichmentOk,\n  merge_ok: mergeOk,\n  tc_dinamico_ok: tcDinamicoOk,\n  export_7am_ok: export7amOk,\n  supervisor_match_ok: supervisorMatchOk,\n  supervisor_sinmatch_ok: supervisorSinMatchOk\n};\n\nreturn [{ json: { slack_payload: { blocks }, snapshot } }];"
      },
      "id": "code-consolidar",
      "name": "Code: Consolidar Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "notes": "Consolidar métricas, construir mensaje Slack y preparar snapshot"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO auditoria_snapshots (\n  fecha, props_total, props_completadas, props_nuevas, props_nuevas_venta,\n  props_inactivas, props_inactivo_pending, props_inactivo_confirmed,\n  props_matcheadas, props_sin_match, props_con_nombre, props_con_zona,\n  props_creadas_24h, props_enriquecidas_24h, pct_match_completadas, pct_nombre_completadas,\n  score_alto, score_medio, score_bajo, pct_alto, pct_medio, pct_bajo,\n  sin_zona, sin_dormitorios, sin_nombre, discrepancias_merge, excluidas_matching,\n  match_total, match_24h, match_aprobadas_24h, match_rechazadas_24h, match_pendientes,\n  pendientes_sinmatch, tasa_aprobacion_24h,\n  proy_total, proy_activos, proy_gps_verificado, proy_con_place_id, proy_pendientes_google,\n  pct_gps_verificado, horas_sin_enrichment, horas_sin_merge, matching_nocturno_ok,\n  discovery_ok, enrichment_ok, merge_ok, tc_dinamico_ok, export_7am_ok,\n  supervisor_match_ok, supervisor_sinmatch_ok\n) VALUES (\n  '{{ $json.snapshot.fecha }}',\n  {{ $json.snapshot.props_total }},\n  {{ $json.snapshot.props_completadas }},\n  {{ $json.snapshot.props_nuevas }},\n  {{ $json.snapshot.props_nuevas_venta }},\n  {{ $json.snapshot.props_inactivas }},\n  {{ $json.snapshot.props_inactivo_pending }},\n  {{ $json.snapshot.props_inactivo_confirmed }},\n  {{ $json.snapshot.props_matcheadas }},\n  {{ $json.snapshot.props_sin_match }},\n  {{ $json.snapshot.props_con_nombre }},\n  {{ $json.snapshot.props_con_zona }},\n  {{ $json.snapshot.props_creadas_24h }},\n  {{ $json.snapshot.props_enriquecidas_24h }},\n  {{ $json.snapshot.pct_match_completadas }},\n  {{ $json.snapshot.pct_nombre_completadas }},\n  {{ $json.snapshot.score_alto }},\n  {{ $json.snapshot.score_medio }},\n  {{ $json.snapshot.score_bajo }},\n  {{ $json.snapshot.pct_alto }},\n  {{ $json.snapshot.pct_medio }},\n  {{ $json.snapshot.pct_bajo }},\n  {{ $json.snapshot.sin_zona }},\n  {{ $json.snapshot.sin_dormitorios }},\n  {{ $json.snapshot.sin_nombre }},\n  {{ $json.snapshot.discrepancias_merge }},\n  {{ $json.snapshot.excluidas_matching }},\n  {{ $json.snapshot.match_total }},\n  {{ $json.snapshot.match_24h }},\n  {{ $json.snapshot.match_aprobadas_24h }},\n  {{ $json.snapshot.match_rechazadas_24h }},\n  {{ $json.snapshot.match_pendientes }},\n  {{ $json.snapshot.pendientes_sinmatch }},\n  {{ $json.snapshot.tasa_aprobacion_24h === null ? 'NULL' : $json.snapshot.tasa_aprobacion_24h }},\n  {{ $json.snapshot.proy_total }},\n  {{ $json.snapshot.proy_activos }},\n  {{ $json.snapshot.proy_gps_verificado }},\n  {{ $json.snapshot.proy_con_place_id }},\n  {{ $json.snapshot.proy_pendientes_google }},\n  {{ $json.snapshot.pct_gps_verificado }},\n  {{ $json.snapshot.horas_sin_enrichment }},\n  {{ $json.snapshot.horas_sin_merge }},\n  {{ $json.snapshot.matching_nocturno_ok }},\n  {{ $json.snapshot.discovery_ok }},\n  {{ $json.snapshot.enrichment_ok }},\n  {{ $json.snapshot.merge_ok }},\n  {{ $json.snapshot.tc_dinamico_ok }},\n  {{ $json.snapshot.export_7am_ok }},\n  {{ $json.snapshot.supervisor_match_ok }},\n  {{ $json.snapshot.supervisor_sinmatch_ok }}\n)\nON CONFLICT (fecha) DO UPDATE SET\n  props_total = EXCLUDED.props_total,\n  props_completadas = EXCLUDED.props_completadas,\n  props_nuevas = EXCLUDED.props_nuevas,\n  props_nuevas_venta = EXCLUDED.props_nuevas_venta,\n  props_inactivas = EXCLUDED.props_inactivas,\n  props_inactivo_pending = EXCLUDED.props_inactivo_pending,\n  props_inactivo_confirmed = EXCLUDED.props_inactivo_confirmed,\n  props_matcheadas = EXCLUDED.props_matcheadas,\n  props_sin_match = EXCLUDED.props_sin_match,\n  props_con_nombre = EXCLUDED.props_con_nombre,\n  props_con_zona = EXCLUDED.props_con_zona,\n  props_creadas_24h = EXCLUDED.props_creadas_24h,\n  props_enriquecidas_24h = EXCLUDED.props_enriquecidas_24h,\n  pct_match_completadas = EXCLUDED.pct_match_completadas,\n  pct_nombre_completadas = EXCLUDED.pct_nombre_completadas,\n  score_alto = EXCLUDED.score_alto,\n  score_medio = EXCLUDED.score_medio,\n  score_bajo = EXCLUDED.score_bajo,\n  pct_alto = EXCLUDED.pct_alto,\n  pct_medio = EXCLUDED.pct_medio,\n  pct_bajo = EXCLUDED.pct_bajo,\n  sin_zona = EXCLUDED.sin_zona,\n  sin_dormitorios = EXCLUDED.sin_dormitorios,\n  sin_nombre = EXCLUDED.sin_nombre,\n  discrepancias_merge = EXCLUDED.discrepancias_merge,\n  excluidas_matching = EXCLUDED.excluidas_matching,\n  match_total = EXCLUDED.match_total,\n  match_24h = EXCLUDED.match_24h,\n  match_aprobadas_24h = EXCLUDED.match_aprobadas_24h,\n  match_rechazadas_24h = EXCLUDED.match_rechazadas_24h,\n  match_pendientes = EXCLUDED.match_pendientes,\n  pendientes_sinmatch = EXCLUDED.pendientes_sinmatch,\n  tasa_aprobacion_24h = EXCLUDED.tasa_aprobacion_24h,\n  proy_total = EXCLUDED.proy_total,\n  proy_activos = EXCLUDED.proy_activos,\n  proy_gps_verificado = EXCLUDED.proy_gps_verificado,\n  proy_con_place_id = EXCLUDED.proy_con_place_id,\n  proy_pendientes_google = EXCLUDED.proy_pendientes_google,\n  pct_gps_verificado = EXCLUDED.pct_gps_verificado,\n  horas_sin_enrichment = EXCLUDED.horas_sin_enrichment,\n  horas_sin_merge = EXCLUDED.horas_sin_merge,\n  matching_nocturno_ok = EXCLUDED.matching_nocturno_ok,\n  discovery_ok = EXCLUDED.discovery_ok,\n  enrichment_ok = EXCLUDED.enrichment_ok,\n  merge_ok = EXCLUDED.merge_ok,\n  tc_dinamico_ok = EXCLUDED.tc_dinamico_ok,\n  export_7am_ok = EXCLUDED.export_7am_ok,\n  supervisor_match_ok = EXCLUDED.supervisor_match_ok,\n  supervisor_sinmatch_ok = EXCLUDED.supervisor_sinmatch_ok",
        "options": {}
      },
      "id": "pg-insert-snapshot",
      "name": "PG: Insert Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 450],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Guardar snapshot diario (UPSERT por fecha)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_SICI}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slack_payload) }}",
        "options": {}
      },
      "id": "slack-reporte",
      "name": "Slack: Reporte Diario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1320, 150],
      "notes": "Enviar reporte consolidado a Slack"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow(\n  'auditoria_diaria',\n  'success',\n  1,\n  1,\n  0,\n  NULL,\n  '{\"version\": \"2.3\"}'::jsonb\n);",
        "options": {}
      },
      "id": "pg-reg-exec-auditoria",
      "name": "PG: Registrar Ejecución",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1540, 300],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Registrar ejecución del workflow de auditoría"
    }
  ],
  "connections": {
    "Schedule: 9:00 AM": {
      "main": [
        [
          {
            "node": "PG: Stats Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Stats Propiedades": {
      "main": [
        [
          {
            "node": "PG: Stats Matching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Stats Matching": {
      "main": [
        [
          {
            "node": "PG: Stats Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Stats Proyectos": {
      "main": [
        [
          {
            "node": "PG: Stats Sin Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Stats Sin Match": {
      "main": [
        [
          {
            "node": "PG: Stats TC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Stats TC": {
      "main": [
        [
          {
            "node": "PG: Stats Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Stats Workflows": {
      "main": [
        [
          {
            "node": "Code: Consolidar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Consolidar Reporte": {
      "main": [
        [
          {
            "node": "Slack: Reporte Diario",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG: Insert Snapshot",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG: Registrar Ejecución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/La_Paz"
  },
  "tags": [
    {
      "name": "SICI",
      "id": "sici-tag"
    },
    {
      "name": "Auditoría",
      "id": "auditoria-tag"
    }
  ],
  "pinData": {},
  "versionId": "2.3.0"
}
