n8n/workflows/modulo_2/auditoria_diaria_sici.json
{
  "name": "SICI - Auditoría Diaria v2.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: 9:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Ejecuta todos los días a las 9:00 AM (Bolivia UTC-4)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  -- Inventario\n  COUNT(*) FILTER (WHERE status IN ('completado', 'actualizado')) as props_activas,\n  COUNT(*) FILTER (WHERE status = 'inactivo_confirmed') as props_inactivas,\n  \n  -- Actividad 24h\n  COUNT(*) FILTER (WHERE fecha_creacion >= NOW() - INTERVAL '24 hours') as nuevas_24h,\n  COUNT(*) FILTER (WHERE status = 'inactivo_confirmed' AND fecha_inactivacion >= NOW() - INTERVAL '24 hours') as inactivadas_24h,\n  \n  -- Calidad: Con proyecto\n  COUNT(*) FILTER (WHERE id_proyecto_master IS NOT NULL AND status IN ('completado', 'actualizado')) as con_proyecto,\n  COUNT(*) FILTER (WHERE id_proyecto_master IS NULL AND status IN ('completado', 'actualizado') AND COALESCE(es_para_matching, true) = true) as sin_proyecto,\n  \n  -- Calidad: Scores\n  COUNT(*) FILTER (WHERE score_calidad_dato >= 95 AND status IN ('completado', 'actualizado')) as score_alto,\n  COUNT(*) FILTER (WHERE score_calidad_dato >= 85 AND score_calidad_dato < 95 AND status IN ('completado', 'actualizado')) as score_medio,\n  COUNT(*) FILTER (WHERE score_calidad_dato < 85 AND status IN ('completado', 'actualizado')) as score_bajo,\n  \n  -- Calidad: Campos faltantes\n  COUNT(*) FILTER (WHERE (zona IS NULL OR zona = '') AND status IN ('completado', 'actualizado')) as sin_zona,\n  COUNT(*) FILTER (WHERE dormitorios IS NULL AND status IN ('completado', 'actualizado')) as sin_dormitorios,\n  COUNT(*) FILTER (WHERE (nombre_edificio IS NULL OR nombre_edificio = '') AND status IN ('completado', 'actualizado')) as sin_nombre,\n  \n  -- Revisión humana\n  COUNT(*) FILTER (WHERE es_para_matching = false AND status IN ('completado', 'actualizado')) as excluidas_matching,\n  \n  -- Health: timestamps\n  MAX(fecha_enrichment) as ultimo_enrichment,\n  MAX(fecha_merge) as ultimo_merge,\n  ROUND(EXTRACT(EPOCH FROM (NOW() - MAX(fecha_enrichment))) / 3600, 1) as horas_enrichment,\n  ROUND(EXTRACT(EPOCH FROM (NOW() - MAX(fecha_merge))) / 3600, 1) as horas_merge,\n  \n  -- Health: Discovery (hubo nuevas en 26h?)\n  CASE WHEN COUNT(*) FILTER (WHERE fecha_creacion >= NOW() - INTERVAL '26 hours') > 0 THEN true ELSE false END as discovery_ok\nFROM propiedades_v2",
        "options": {}
      },
      "id": "pg-propiedades",
      "name": "PG: Propiedades + Calidad",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 300],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Inventario, calidad de datos, campos faltantes, health enrichment/merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) FILTER (WHERE activo = true) as proy_activos,\n  COUNT(*) FILTER (WHERE activo = false) as proy_inactivos,\n  COUNT(*) FILTER (WHERE created_at >= NOW() - INTERVAL '24 hours') as proy_creados_24h,\n  COUNT(*) FILTER (WHERE gps_verificado_google = true AND activo = true) as proy_gps_verificado\nFROM proyectos_master",
        "options": {}
      },
      "id": "pg-proyectos",
      "name": "PG: Proyectos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Inventario proyectos + actividad 24h"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH matching_stats AS (\n  SELECT\n    COUNT(*) FILTER (WHERE estado = 'aprobado' AND fecha_revision >= NOW() - INTERVAL '24 hours') as aprobados_24h,\n    COUNT(*) FILTER (WHERE estado = 'rechazado' AND fecha_revision >= NOW() - INTERVAL '24 hours') as rechazados_24h,\n    COUNT(*) FILTER (WHERE estado = 'pendiente') as pendientes_matching,\n    COUNT(*) FILTER (\n      WHERE created_at >= DATE_TRUNC('day', NOW()) + INTERVAL '4 hours'\n      AND created_at < DATE_TRUNC('day', NOW()) + INTERVAL '5 hours'\n    ) as matching_nocturno_hoy,\n    COUNT(*) FILTER (\n      WHERE fecha_revision >= DATE_TRUNC('day', NOW()) - INTERVAL '4 hours'\n      AND fecha_revision < DATE_TRUNC('day', NOW()) - INTERVAL '3 hours'\n      AND estado IN ('aprobado', 'rechazado')\n    ) as supervisor_match_ayer\n  FROM matching_sugerencias\n),\nsinmatch_stats AS (\n  SELECT\n    COUNT(*) FILTER (WHERE estado = 'pendiente') as pendientes_sinmatch,\n    COUNT(*) FILTER (WHERE estado = 'asignado' AND fecha_procesado >= NOW() - INTERVAL '24 hours') as asignados_24h,\n    COUNT(*) FILTER (WHERE estado = 'creado' AND fecha_procesado >= NOW() - INTERVAL '24 hours') as creados_24h,\n    COUNT(*) FILTER (WHERE estado = 'corregido' AND fecha_procesado >= NOW() - INTERVAL '24 hours') as corregidos_24h,\n    COUNT(*) FILTER (\n      WHERE fecha_export >= DATE_TRUNC('day', NOW()) + INTERVAL '7 hours'\n      AND fecha_export < DATE_TRUNC('day', NOW()) + INTERVAL '8 hours'\n    ) as export_sinmatch_hoy,\n    COUNT(*) FILTER (\n      WHERE fecha_procesado >= DATE_TRUNC('day', NOW()) - INTERVAL '3 hours' - INTERVAL '30 minutes'\n      AND fecha_procesado < DATE_TRUNC('day', NOW()) - INTERVAL '2 hours' - INTERVAL '30 minutes'\n    ) as supervisor_sinmatch_ayer\n  FROM sin_match_exportados\n)\nSELECT * FROM matching_stats, sinmatch_stats",
        "options": {}
      },
      "id": "pg-matching",
      "name": "PG: Matching + Sin Match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 300],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase SICI"
        }
      },
      "notes": "Actividad matching, revisión humana pendiente, health workflows supervisores"
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos de todos los nodos Postgres\nconst props = $('PG: Propiedades + Calidad').first().json;\nconst proy = $('PG: Proyectos').first().json;\nconst match = $('PG: Matching + Sin Match').first().json;\n\n// === SECCIÓN 1: INVENTARIO ===\nconst propsActivas = parseInt(props.props_activas) || 0;\nconst propsInactivas = parseInt(props.props_inactivas) || 0;\nconst proyActivos = parseInt(proy.proy_activos) || 0;\nconst proyInactivos = parseInt(proy.proy_inactivos) || 0;\n\n// Cambios 24h\nconst nuevas24h = parseInt(props.nuevas_24h) || 0;\nconst inactivadas24h = parseInt(props.inactivadas_24h) || 0;\nconst proyCreados24h = parseInt(proy.proy_creados_24h) || 0;\n\n// === SECCIÓN 2: CALIDAD DE DATOS ===\nconst conProyecto = parseInt(props.con_proyecto) || 0;\nconst sinProyecto = parseInt(props.sin_proyecto) || 0;\nconst pctConProyecto = propsActivas > 0 \n  ? ((conProyecto / propsActivas) * 100).toFixed(1) \n  : '0.0';\n\n// Scores\nconst scoreAlto = parseInt(props.score_alto) || 0;\nconst scoreMedio = parseInt(props.score_medio) || 0;\nconst scoreBajo = parseInt(props.score_bajo) || 0;\nconst totalScored = scoreAlto + scoreMedio + scoreBajo;\nconst pctAlto = totalScored > 0 ? Math.round((scoreAlto / totalScored) * 100) : 0;\nconst pctMedio = totalScored > 0 ? Math.round((scoreMedio / totalScored) * 100) : 0;\nconst pctBajo = totalScored > 0 ? Math.round((scoreBajo / totalScored) * 100) : 0;\n\n// Campos faltantes\nconst sinZona = parseInt(props.sin_zona) || 0;\nconst sinDorms = parseInt(props.sin_dormitorios) || 0;\nconst sinNombre = parseInt(props.sin_nombre) || 0;\n\n// === SECCIÓN 3: REVISIÓN HUMANA ===\nconst pendientesMatching = parseInt(match.pendientes_matching) || 0;\nconst pendientesSinMatch = parseInt(match.pendientes_sinmatch) || 0;\nconst excluidasMatching = parseInt(props.excluidas_matching) || 0;\nconst totalPendientes = pendientesMatching + pendientesSinMatch;\n\n// === SECCIÓN 4: ACTIVIDAD 24H ===\nconst aprobados24h = parseInt(match.aprobados_24h) || 0;\nconst rechazados24h = parseInt(match.rechazados_24h) || 0;\nconst asignados24h = parseInt(match.asignados_24h) || 0;\nconst creados24h = parseInt(match.creados_24h) || 0;\nconst corregidos24h = parseInt(match.corregidos_24h) || 0;\n\n// === SECCIÓN 5: SALUD WORKFLOWS ===\nconst horasEnrichment = parseFloat(props.horas_enrichment) || 999;\nconst horasMerge = parseFloat(props.horas_merge) || 999;\nconst discoveryOk = props.discovery_ok === true || props.discovery_ok === 't';\nconst enrichmentOk = horasEnrichment < 26;\nconst mergeOk = horasMerge < 26;\nconst matchingNocturnoOk = parseInt(match.matching_nocturno_hoy) > 0;\nconst supervisorMatchOk = parseInt(match.supervisor_match_ayer) >= 0;\nconst supervisorSinMatchOk = parseInt(match.supervisor_sinmatch_ayer) >= 0;\n\n// Alertas\nconst alertas = [];\nif (totalPendientes > 5) alertas.push(`${totalPendientes} pendientes revisión`);\nif (!enrichmentOk) alertas.push('Enrichment no corrió en 26h');\nif (!discoveryOk) alertas.push('Discovery no corrió en 26h');\nif (pctBajo > 5) alertas.push(`${pctBajo}% calidad baja`);\nif (parseFloat(pctConProyecto) < 90) alertas.push('Cobertura matching <90%');\n\n// Fecha formateada (Bolivia)\nconst fecha = new Date().toLocaleDateString('es-BO', {\n  day: '2-digit',\n  month: 'short',\n  year: 'numeric',\n  timeZone: 'America/La_Paz'\n});\n\nreturn [{\n  json: {\n    fecha,\n    // Inventario\n    props_activas: propsActivas,\n    props_inactivas: propsInactivas,\n    proy_activos: proyActivos,\n    proy_inactivos: proyInactivos,\n    nuevas_24h: nuevas24h,\n    inactivadas_24h: inactivadas24h,\n    proy_creados_24h: proyCreados24h,\n    // Calidad\n    con_proyecto: conProyecto,\n    pct_con_proyecto: pctConProyecto,\n    pct_alto: pctAlto,\n    pct_medio: pctMedio,\n    pct_bajo: pctBajo,\n    sin_zona: sinZona,\n    sin_dorms: sinDorms,\n    sin_nombre: sinNombre,\n    // Revisión humana\n    pendientes_matching: pendientesMatching,\n    pendientes_sinmatch: pendientesSinMatch,\n    total_pendientes: totalPendientes,\n    excluidas_matching: excluidasMatching,\n    // Actividad\n    aprobados_24h: aprobados24h,\n    rechazados_24h: rechazados24h,\n    asignados_24h: asignados24h,\n    creados_24h: creados24h,\n    corregidos_24h: corregidos24h,\n    // Health\n    horas_enrichment: horasEnrichment,\n    horas_merge: horasMerge,\n    discovery_ok: discoveryOk,\n    enrichment_ok: enrichmentOk,\n    merge_ok: mergeOk,\n    matching_nocturno_ok: matchingNocturnoOk,\n    supervisor_match_ok: supervisorMatchOk,\n    supervisor_sinmatch_ok: supervisorSinMatchOk,\n    // Alertas\n    alertas: alertas,\n    tiene_alertas: alertas.length > 0\n  }\n}];"
      },
      "id": "code-consolidar",
      "name": "Code: Consolidar v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "notes": "Consolidar métricas, calcular porcentajes, generar alertas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_SICI}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📊 SICI Auditoría — {{ $json.fecha }}\",\n        \"emoji\": true\n      }\n    },\n    {{ $json.tiene_alertas ? `{\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"🚨 *ALERTAS:* ${$json.alertas.join(' | ')}\"\n      }\n    },` : '' }}\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*━━━ 1. INVENTARIO ━━━*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Props activas:* {{ $json.props_activas }} {{ $json.nuevas_24h > 0 ? '(+' + $json.nuevas_24h + ')' : '' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Props inactivas:* {{ $json.props_inactivas }} {{ $json.inactivadas_24h > 0 ? '(+' + $json.inactivadas_24h + ')' : '' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Proy activos:* {{ $json.proy_activos }} {{ $json.proy_creados_24h > 0 ? '(+' + $json.proy_creados_24h + ')' : '' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Proy inactivos:* {{ $json.proy_inactivos }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*━━━ 2. CALIDAD DE DATOS ━━━*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Con proyecto:* {{ $json.con_proyecto }} ({{ $json.pct_con_proyecto }}%)\\n*Calidad:* {{ $json.pct_alto }}% alta | {{ $json.pct_medio }}% media | {{ $json.pct_bajo }}% baja\\n*Faltantes:* zona {{ $json.sin_zona }} | dorms {{ $json.sin_dorms }} | nombre {{ $json.sin_nombre }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*━━━ 3. REVISIÓN HUMANA ━━━*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Pendientes:* {{ $json.total_pendientes == 0 ? '✅ 0' : '⚠️ ' + $json.total_pendientes }} (matching: {{ $json.pendientes_matching }}, sin_match: {{ $json.pendientes_sinmatch }})\\n*Excluidas matching:* {{ $json.excluidas_matching }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*━━━ 4. ACTIVIDAD 24H ━━━*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.nuevas_24h > 0 ? '+' + $json.nuevas_24h + ' nuevas' : '' }}{{ $json.nuevas_24h > 0 && $json.inactivadas_24h > 0 ? '  ' : '' }}{{ $json.inactivadas_24h > 0 ? '-' + $json.inactivadas_24h + ' inactivadas' : '' }}{{ ($json.nuevas_24h == 0 && $json.inactivadas_24h == 0) ? '_Sin cambios en propiedades_' : '' }}\\n✅ {{ $json.aprobados_24h }} aprobados  ❌ {{ $json.rechazados_24h }} rechazados\\n📌 {{ $json.asignados_24h }} asignados  🆕 {{ $json.creados_24h }} proyectos creados  🔧 {{ $json.corregidos_24h }} corregidos\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*━━━ 5. SALUD WORKFLOWS ━━━*\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.discovery_ok ? '✅' : '🔴' }} Discovery  {{ $json.enrichment_ok ? '✅' : '🔴' }} Enrichment ({{ $json.horas_enrichment }}h)  {{ $json.merge_ok ? '✅' : '🔴' }} Merge ({{ $json.horas_merge }}h)\\n{{ $json.matching_nocturno_ok ? '✅' : '⚪' }} Match 4AM  {{ $json.supervisor_match_ok ? '✅' : '⚪' }} Super 8PM  {{ $json.supervisor_sinmatch_ok ? '✅' : '⚪' }} SinM 8:30PM\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"SICI Auditoría v2.0 | Generado automáticamente\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-reporte",
      "name": "Slack: Reporte v2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1100, 300],
      "notes": "Enviar reporte con 5 secciones a Slack"
    }
  ],
  "connections": {
    "Schedule: 9:00 AM": {
      "main": [
        [
          {
            "node": "PG: Propiedades + Calidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Propiedades + Calidad": {
      "main": [
        [
          {
            "node": "PG: Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Proyectos": {
      "main": [
        [
          {
            "node": "PG: Matching + Sin Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Matching + Sin Match": {
      "main": [
        [
          {
            "node": "Code: Consolidar v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Consolidar v2": {
      "main": [
        [
          {
            "node": "Slack: Reporte v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/La_Paz"
  },
  "tags": [
    {
      "name": "SICI",
      "id": "sici-tag"
    },
    {
      "name": "Auditoría",
      "id": "auditoria-tag"
    }
  ],
  "pinData": {},
  "versionId": "2.0.1"
}
