n8n/workflows/modulo_2/exportar_excluidas.json
{
  "name": "SICI - Export Propiedades Excluidas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule: Diario 7:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Ejecutar después del Export Sin Match (7 AM)"
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM exportar_propiedades_excluidas()",
        "options": {}
      },
      "id": "pg-get-excluidas",
      "name": "PG: Get Excluidas Pendientes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 100],
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase SICI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-data",
              "leftValue": "={{ $json.propiedad_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-data",
      "name": "IF: Hay datos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [470, 100]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Propiedades_Excluidas",
          "mode": "list",
          "cachedResultName": "Propiedades_Excluidas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "propiedad_id": "={{ $json.propiedad_id }}",
            "url": "={{ $json.url }}",
            "fuente": "={{ $json.fuente }}",
            "precio_usd": "={{ $json.precio_usd }}",
            "precio_m2": "={{ $json.precio_m2 }}",
            "dormitorios": "={{ $json.dormitorios }}",
            "area_m2": "={{ $json.area_m2 }}",
            "zona": "={{ $json.zona }}",
            "nombre_edificio": "={{ $json.nombre_edificio }}",
            "score": "={{ $json.score_calidad }}",
            "razon_exclusion": "={{ $json.razon_exclusion }}",
            "ACCION": "",
            "DORMS_CORRECTO": "",
            "PRECIO_CORRECTO": "",
            "NOTAS": ""
          }
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Sheets: Append Excluidas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets SICI"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO propiedades_excluidas_export (propiedad_id, url, fuente, precio_usd, precio_m2, dormitorios, area_m2, zona, nombre_edificio, score_calidad, razon_exclusion, estado)\nSELECT \n  $1::int, $2, $3, $4::numeric, $5::numeric, $6::int, $7::numeric, $8, $9, $10::int, $11, 'pendiente'\nON CONFLICT (propiedad_id) DO NOTHING",
        "options": {
          "queryParams": "={{ [$json.propiedad_id, $json.url, $json.fuente, $json.precio_usd, $json.precio_m2, $json.dormitorios, $json.area_m2, $json.zona, $json.nombre_edificio, $json.score_calidad, $json.razon_exclusion] }}"
        }
      },
      "id": "pg-register-export",
      "name": "PG: Registrar Export",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 0],
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase SICI"
        }
      }
    },
    {
      "parameters": {
        "content": "=### Export Excluidas Completado\n\n**Exportadas:** {{ $('PG: Get Excluidas Pendientes').all().length }} propiedades\n**Destino:** Sheet Propiedades_Excluidas",
        "options": {}
      },
      "id": "note-complete",
      "name": "Note: Completado",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [920, 200]
    },
    {
      "parameters": {
        "content": "### Sin datos nuevos\n\nNo hay propiedades excluidas pendientes de exportar.",
        "options": {}
      },
      "id": "note-no-data",
      "name": "Note: Sin datos",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [700, 200]
    }
  ],
  "connections": {
    "Schedule: Diario 7:30 AM": {
      "main": [
        [
          {
            "node": "PG: Get Excluidas Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Manual": {
      "main": [
        [
          {
            "node": "PG: Get Excluidas Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Get Excluidas Pendientes": {
      "main": [
        [
          {
            "node": "IF: Hay datos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Hay datos?": {
      "main": [
        [
          {
            "node": "Sheets: Append Excluidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Note: Sin datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Append Excluidas": {
      "main": [
        [
          {
            "node": "PG: Registrar Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SICI",
      "id": "sici-tag"
    },
    {
      "name": "HITL",
      "id": "hitl-tag"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-08T00:00:00.000Z",
  "versionId": "1"
}
