n8n/workflows/modulo_2/matching_supervisor.json
{
  "name": "SICI - Matching Supervisor v1.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "bfbfef46-9bc1-454f-9cbc-e837833b6c12",
      "name": "Schedule Trigger (8 PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        304
      ],
      "notes": "Ejecuta todos los días a las 8:00 PM para aplicar decisiones humanas"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        112
      ],
      "id": "5e0c119d-fc56-472a-8bb2-e1b393ace24b",
      "name": "Manual Trigger (Testing)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pendientes_Matching",
          "mode": "name"
        },
        "options": {}
      },
      "id": "97c31693-a5b9-4e8d-8467-491ad9bfc326",
      "name": "Google Sheets: Leer Bandeja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -720,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DbMNipx0RBpm2Hhu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// EL AUDITOR: Analiza estado de revisión\n// ========================================\nconst filas = $input.all();\n\n// Filtrar filas válidas (ignorar header y vacías)\nconst filasData = filas.filter(f => \n  f.json.ID_SUGERENCIA && \n  f.json.ID_SUGERENCIA !== 'ID_SUGERENCIA' &&\n  !isNaN(parseInt(f.json.ID_SUGERENCIA))\n);\n\nif (filasData.length === 0) {\n  return [{\n    total_filas: 0,\n    pendientes: 0,\n    aprobados: 0,\n    rechazados: 0,\n    ids_aprobados: [],\n    ids_rechazados: [],\n    decision: 'VACIO',\n    mensaje: 'No hay filas para procesar'\n  }];\n}\n\n// Contar por estado (usando includes para flexibilidad con emojis)\nconst pendientesData = filasData.filter(f => \n  f.json['ACCION (Humano)'] && \n  f.json['ACCION (Humano)'].includes('PENDIENTE')\n);\n\nconst aprobadosData = filasData.filter(f => \n  f.json['ACCION (Humano)'] && \n  f.json['ACCION (Humano)'].includes('APROBAR')\n);\n\nconst rechazadosData = filasData.filter(f => \n  f.json['ACCION (Humano)'] && \n  f.json['ACCION (Humano)'].includes('RECHAZAR')\n);\n\n// Extraer IDs\nconst idsAprobados = aprobadosData\n  .map(f => parseInt(f.json.ID_SUGERENCIA))\n  .filter(id => !isNaN(id));\n  \nconst idsRechazados = rechazadosData\n  .map(f => parseInt(f.json.ID_SUGERENCIA))\n  .filter(id => !isNaN(id));\n\n// IDs procesados (para limpiar después)\nconst idsProcesados = [...idsAprobados, ...idsRechazados];\n\n// DECISIÓN\nlet decision;\nif (pendientesData.length > 0) {\n  decision = 'BLOQUEAR';\n} else if (idsAprobados.length > 0 || idsRechazados.length > 0) {\n  decision = 'SYNC';\n} else {\n  decision = 'VACIO';\n}\n\nreturn [{\n  total_filas: filasData.length,\n  pendientes: pendientesData.length,\n  aprobados: idsAprobados.length,\n  rechazados: idsRechazados.length,\n  ids_aprobados: idsAprobados,\n  ids_rechazados: idsRechazados,\n  ids_procesados: idsProcesados,\n  decision: decision,\n  // Para Slack\n  nombres_aprobados: aprobadosData.map(f => f.json.NOMBRE_EDIFICIO).slice(0, 5),\n  nombres_rechazados: rechazadosData.map(f => f.json.NOMBRE_EDIFICIO).slice(0, 5)\n}];"
      },
      "id": "72b67e5f-c6d6-48d8-800e-a964f988c104",
      "name": "Code: El Auditor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "SYNC",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SYNC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "BLOQUEAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BLOQUEAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "VACIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VACIO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -240,
        208
      ],
      "id": "e4115f2b-bba7-4101-b36f-44de6c6564e6",
      "name": "Switch: Decision"
    },
    {
      "parameters": {
        "jsCode": "// Preparar arrays para PostgreSQL\nconst data = $input.first().json;\n\n// Formato PostgreSQL: \"{1,2,3}\"\nconst pgAprobados = data.ids_aprobados.length > 0 \n  ? `{${data.ids_aprobados.join(',')}}` \n  : '{}';\n  \nconst pgRechazados = data.ids_rechazados.length > 0 \n  ? `{${data.ids_rechazados.join(',')}}` \n  : '{}';\n\nreturn [{\n  p_ids_aprobados: pgAprobados,\n  p_ids_rechazados: pgRechazados,\n  ids_procesados: data.ids_procesados,\n  aprobados: data.aprobados,\n  rechazados: data.rechazados,\n  nombres_aprobados: data.nombres_aprobados,\n  nombres_rechazados: data.nombres_rechazados\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7640432e-aaa7-47bb-8bdc-1bddeaa2fe4a",
      "name": "Code: Preparar RPC"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chaosoiyoeyjuwtwckix.supabase.co/rest/v1/rpc/aplicar_matches_revisados",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoYW9zb2l5b2V5anV3dHdja2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5MTM5MTIsImV4cCI6MjA3NDQ4OTkxMn0.MwDhUzK2_CnFtS7XbOSg0BbdNdof9Gtqib8ufpe65wg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoYW9zb2l5b2V5anV3dHdja2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5MTM5MTIsImV4cCI6MjA3NDQ4OTkxMn0.MwDhUzK2_CnFtS7XbOSg0BbdNdof9Gtqib8ufpe65wg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_ids_aprobados\": \"{{ $json.p_ids_aprobados }}\",\n  \"p_ids_rechazados\": \"{{ $json.p_ids_rechazados }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        0
      ],
      "id": "f3980520-ea8a-42e2-a6b9-9f254fe4ee37",
      "name": "HTTP: Aplicar Matches (RPC)"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pendientes_Matching",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        0
      ],
      "id": "114b145a-55ad-4a6c-944c-a7c6ff4555e9",
      "name": "Google Sheets: Limpiar Procesados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DbMNipx0RBpm2Hhu",
          "name": "Google Sheets account"
        }
      },
      "disabled": true,
      "notes": "Opcional: Eliminar filas procesadas del Sheet. Habilitar si prefieres limpiar automáticamente."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{SLACK_WEBHOOK_SICI}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"✅ SICI Matching Supervisor - Sincronización Completada\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"Las decisiones humanas han sido aplicadas a la base de datos.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*✅ Aprobados:*\\n{{ $('Code: Preparar RPC').first().json.aprobados }} matches\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*❌ Rechazados:*\\n{{ $('Code: Preparar RPC').first().json.rechazados }} sugerencias\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Proyectos aprobados:*\\n{{ $('Code: Preparar RPC').first().json.nombres_aprobados.join(', ') || 'Ninguno' }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        0
      ],
      "id": "eaffb9bb-7bd1-4b29-b987-d3570b6473fb",
      "name": "Slack: Sync Completado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{SLACK_WEBHOOK_SICI}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🛑 SICI Matching Supervisor - Sincronización Bloqueada\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Problema Detectado:*\\nAún hay *{{ $json.pendientes }} sugerencias* en estado ⏳ PENDIENTE.\\n\\n❌ No puedo aplicar los matches hasta que decidas qué hacer con ellos.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*📋 Total en Bandeja:*\\n{{ $json.total_filas }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*⏳ Sin Revisar:*\\n{{ $json.pendientes }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"📂 Ir a Bandeja de Matching\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"url\": \"https://docs.google.com/spreadsheets/d/1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw/edit\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        208
      ],
      "id": "05b4076d-3c6a-4676-8a28-004216baa68d",
      "name": "Slack: Bloqueo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{SLACK_WEBHOOK_SICI}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📭 SICI Matching Supervisor - Bandeja Vacía\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"No hay sugerencias para procesar en el Google Sheets.\\n\\nEsto puede significar:\\n• No hubo matches pendientes hoy\\n• Ya fueron procesados anteriormente\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        400
      ],
      "id": "a3d52f28-e03b-475d-a5c2-227438927eb8",
      "name": "Slack: Bandeja Vacía"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (8 PM)": {
      "main": [
        [
          {
            "node": "Google Sheets: Leer Bandeja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Testing)": {
      "main": [
        [
          {
            "node": "Google Sheets: Leer Bandeja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Leer Bandeja": {
      "main": [
        [
          {
            "node": "Code: El Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: El Auditor": {
      "main": [
        [
          {
            "node": "Switch: Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Decision": {
      "main": [
        [
          {
            "node": "Code: Preparar RPC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Bloqueo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Bandeja Vacía",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Preparar RPC": {
      "main": [
        [
          {
            "node": "HTTP: Aplicar Matches (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Aplicar Matches (RPC)": {
      "main": [
        [
          {
            "node": "Google Sheets: Limpiar Procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Limpiar Procesados": {
      "main": [
        [
          {
            "node": "Slack: Sync Completado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/La_Paz",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "dbb5e2b0-897b-4315-88af-32204567755b",
  "meta": {
    "instanceId": "0cf95066756cd645aa773b1efb0bb40a009acb9e082a84e9d526127529829060"
  },
  "id": "Mbm4R9q0Q5UottI7",
  "tags": [
    {
      "updatedAt": "2025-12-29T14:15:39.110Z",
      "createdAt": "2025-12-29T14:15:39.110Z",
      "id": "AbH1OPZVVZ7kwVPA",
      "name": "SICI - Matching"
    },
    {
      "updatedAt": "2025-12-29T14:15:39.119Z",
      "createdAt": "2025-12-29T14:15:39.119Z",
      "id": "3ql4yLkRTKEWjJm1",
      "name": "Modulo 2"
    }
  ]
}