n8n/workflows/modulo_2/matching_supervisor.json
{
  "name": "SICI - Matching Supervisor v1.3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "09340a56-961e-40e4-b486-120b9f083f9c",
      "name": "Schedule Trigger (8 PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1680,
        64
      ],
      "notes": "Ejecuta todos los días a las 8:00 PM para aplicar decisiones humanas"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1680,
        -128
      ],
      "id": "df93c719-092d-4b7b-971d-cfd2852dba5b",
      "name": "Manual Trigger (Testing)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pendientes_Matching",
          "mode": "name"
        },
        "options": {}
      },
      "id": "8dda5af8-210a-4856-88ea-aba9e38332ab",
      "name": "Google Sheets: Leer Bandeja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1456,
        -32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DbMNipx0RBpm2Hhu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// EL AUDITOR v1.3: Analiza estado de revisión\n// Soporta: APROBAR, RECHAZAR, CORREGIR (texto/ID), CREAR\n// ========================================\nconst filas = $input.all();\n\n// Filtrar filas válidas Y guardar row_number\nconst filasData = filas\n  .map((f, index) => ({\n    ...f,\n    row_number: index + 2  // +2 porque fila 1 es header\n  }))\n  .filter(f =>\n    f.json.ID_SUGERENCIA &&\n    f.json.ID_SUGERENCIA !== 'ID_SUGERENCIA' &&\n    !isNaN(parseInt(f.json.ID_SUGERENCIA))\n  );\n\nif (filasData.length === 0) {\n  return [{\n    json: {\n      total_filas: 0,\n      pendientes: 0,\n      aprobados: 0,\n      rechazados: 0,\n      corregidos_texto: 0,\n      corregidos_id: 0,\n      creados: 0,\n      ids_aprobados: [],\n      ids_rechazados: [],\n      proyectos_alternativos: [],\n      proyectos_corregidos: [],\n      asignaciones_existentes: [],\n      filas_eliminar: [],\n      decision: 'VACIO',\n      mensaje: 'No hay filas para procesar'\n    }\n  }];\n}\n\n// Contar por estado\nconst pendientesData = filasData.filter(f =>\n  f.json['ACCION (Humano)'] &&\n  f.json['ACCION (Humano)'].includes('PENDIENTE')\n);\n\nconst aprobadosData = filasData.filter(f =>\n  f.json['ACCION (Humano)'] &&\n  f.json['ACCION (Humano)'].includes('APROBAR')\n);\n\nconst rechazadosData = filasData.filter(f =>\n  f.json['ACCION (Humano)'] &&\n  f.json['ACCION (Humano)'].includes('RECHAZAR')\n);\n\n// CORREGIR - separar en dos tipos:\n// 1. Con ID numérico = asignar proyecto existente\n// 2. Con texto = corregir nombre/GPS del proyecto sugerido\nconst corregidosData = filasData.filter(f =>\n  f.json['ACCION (Humano)'] &&\n  f.json['ACCION (Humano)'].includes('CORREGIR')\n);\n\n// CORREGIR con ID numérico -> asignar proyecto existente\nconst asignacionesExistentes = corregidosData\n  .filter(f => {\n    const alt = f.json['PROYECTO_ALTERNATIVO'];\n    return alt && !isNaN(parseInt(String(alt).trim()));\n  })\n  .map(f => ({\n    sugerencia_id: parseInt(f.json.ID_SUGERENCIA),\n    propiedad_id: parseInt(f.json.PROPIEDAD_ID),\n    proyecto_id_existente: parseInt(String(f.json['PROYECTO_ALTERNATIVO']).trim()),\n    nombre_edificio: f.json.NOMBRE_EDIFICIO,\n    row_number: f.row_number\n  }));\n\n// CORREGIR con texto -> corregir nombre/GPS del proyecto sugerido\nconst proyectosCorregidos = corregidosData\n  .filter(f => {\n    const alt = f.json['PROYECTO_ALTERNATIVO'];\n    // Es corrección de texto si NO es número puro o está vacío\n    return !alt || isNaN(parseInt(String(alt).trim()));\n  })\n  .map(f => ({\n    sugerencia_id: parseInt(f.json.ID_SUGERENCIA),\n    propiedad_id: parseInt(f.json.PROPIEDAD_ID),\n    nombre_nuevo: f.json['PROYECTO_ALTERNATIVO'] ? String(f.json['PROYECTO_ALTERNATIVO']).trim() : '',\n    gps_nuevo: f.json['GPS_ALTERNATIVO'] ? String(f.json['GPS_ALTERNATIVO']).trim() : '',\n    nombre_edificio: f.json.NOMBRE_EDIFICIO,\n    row_number: f.row_number\n  }));\n\n// CREAR - nueva acción explícita para crear proyecto\nconst creadosData = filasData.filter(f =>\n  f.json['ACCION (Humano)'] &&\n  f.json['ACCION (Humano)'].includes('CREAR')\n);\n\nconst creaciones = creadosData\n  .filter(f => {\n    const alt = f.json['PROYECTO_ALTERNATIVO'];\n    return alt && String(alt).trim() !== '';\n  })\n  .map(f => ({\n    sugerencia_id: parseInt(f.json.ID_SUGERENCIA),\n    propiedad_id: parseInt(f.json.PROPIEDAD_ID),\n    proyecto_alternativo: String(f.json['PROYECTO_ALTERNATIVO']).trim(),\n    gps_alternativo: f.json['GPS_ALTERNATIVO'] ? String(f.json['GPS_ALTERNATIVO']).trim() : '',\n    nombre_edificio: f.json.NOMBRE_EDIFICIO,\n    row_number: f.row_number\n  }));\n\n// Rechazados CON proyecto alternativo (legacy - también crea)\nconst rechazadosConAlternativo = rechazadosData.filter(f =>\n  f.json['PROYECTO_ALTERNATIVO'] &&\n  String(f.json['PROYECTO_ALTERNATIVO']).trim() !== '' &&\n  isNaN(parseInt(String(f.json['PROYECTO_ALTERNATIVO']).trim()))\n).map(f => ({\n  sugerencia_id: parseInt(f.json.ID_SUGERENCIA),\n  propiedad_id: parseInt(f.json.PROPIEDAD_ID),\n  proyecto_alternativo: String(f.json['PROYECTO_ALTERNATIVO']).trim(),\n  gps_alternativo: f.json['GPS_ALTERNATIVO'] ? String(f.json['GPS_ALTERNATIVO']).trim() : '',\n  nombre_edificio: f.json.NOMBRE_EDIFICIO,\n  row_number: f.row_number\n}));\n\n// Combinar CREAR explícito con RECHAZAR+ALTERNATIVO (legacy)\nconst todasCreaciones = [...creaciones, ...rechazadosConAlternativo];\n\n// Extraer IDs\nconst idsAprobados = aprobadosData\n  .map(f => parseInt(f.json.ID_SUGERENCIA))\n  .filter(id => !isNaN(id));\n\nconst idsRechazados = rechazadosData\n  .filter(f => !f.json['PROYECTO_ALTERNATIVO'] || String(f.json['PROYECTO_ALTERNATIVO']).trim() === '')\n  .map(f => parseInt(f.json.ID_SUGERENCIA))\n  .filter(id => !isNaN(id));\n\nconst idsCorregidosTexto = proyectosCorregidos.map(c => c.sugerencia_id);\nconst idsAsignacionesId = asignacionesExistentes.map(a => a.sugerencia_id);\nconst idsCreados = todasCreaciones.map(c => c.sugerencia_id);\n\n// IDs procesados\nconst idsProcesados = [...idsAprobados, ...idsRechazados, ...idsCorregidosTexto, ...idsAsignacionesId, ...idsCreados];\n\n// FILAS a eliminar (ordenadas de mayor a menor)\nconst filasAprobados = aprobadosData.map(f => f.row_number);\nconst filasRechazadosSinAlt = rechazadosData\n  .filter(f => !f.json['PROYECTO_ALTERNATIVO'] || String(f.json['PROYECTO_ALTERNATIVO']).trim() === '')\n  .map(f => f.row_number);\nconst filasCorregidosTexto = proyectosCorregidos.map(c => c.row_number);\nconst filasAsignacionesId = asignacionesExistentes.map(a => a.row_number);\nconst filasCreaciones = todasCreaciones.map(c => c.row_number);\n\nconst filas_eliminar = [\n  ...filasAprobados,\n  ...filasRechazadosSinAlt,\n  ...filasCorregidosTexto,\n  ...filasAsignacionesId,\n  ...filasCreaciones\n].sort((a, b) => b - a);\n\n// DECISIÓN\nlet decision;\nif (pendientesData.length > 0) {\n  decision = 'BLOQUEAR';\n} else if (idsProcesados.length > 0) {\n  decision = 'SYNC';\n} else {\n  decision = 'VACIO';\n}\n\nreturn [{\n  json: {\n    total_filas: filasData.length,\n    pendientes: pendientesData.length,\n    aprobados: idsAprobados.length,\n    rechazados: idsRechazados.length,\n    corregidos_texto: proyectosCorregidos.length,\n    corregidos_id: asignacionesExistentes.length,\n    creados: todasCreaciones.length,\n    ids_aprobados: idsAprobados,\n    ids_rechazados: idsRechazados,\n    ids_procesados: idsProcesados,\n    proyectos_alternativos: todasCreaciones,\n    proyectos_corregidos: proyectosCorregidos,\n    asignaciones_existentes: asignacionesExistentes,\n    hay_alternativos: todasCreaciones.length > 0,\n    hay_corregidos: proyectosCorregidos.length > 0,\n    hay_asignaciones_id: asignacionesExistentes.length > 0,\n    filas_eliminar: filas_eliminar,\n    decision: decision,\n    // Para Slack\n    nombres_aprobados: aprobadosData.map(f => f.json.NOMBRE_EDIFICIO).slice(0, 5),\n    nombres_rechazados: rechazadosData.map(f => f.json.NOMBRE_EDIFICIO).slice(0, 5),\n    nombres_alternativos: todasCreaciones.map(a => a.proyecto_alternativo).slice(0, 5),\n    nombres_corregidos: proyectosCorregidos.map(c => c.nombre_edificio).slice(0, 5),\n    nombres_asignados_id: asignacionesExistentes.map(a => `${a.nombre_edificio} -> ID ${a.proyecto_id_existente}`).slice(0, 5)\n  }\n}];"
      },
      "id": "ce738106-985c-4e8b-8a3c-d4b16d447800",
      "name": "Code: El Auditor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "SYNC",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SYNC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "BLOQUEAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BLOQUEAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "VACIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VACIO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1008,
        -48
      ],
      "id": "1c72462c-f1ae-4285-9d89-08ca07356743",
      "name": "Switch: Decision"
    },
    {
      "parameters": {
        "jsCode": "// Preparar arrays para PostgreSQL\nconst data = $input.first().json;\n\n// Formato PostgreSQL: \"{1,2,3}\"\nconst pgAprobados = data.ids_aprobados.length > 0\n  ? `{${data.ids_aprobados.join(',')}}`\n  : '{}';\n\nconst pgRechazados = data.ids_rechazados.length > 0\n  ? `{${data.ids_rechazados.join(',')}}`\n  : '{}';\n\nreturn [{\n  json: {\n    p_ids_aprobados: pgAprobados,\n    p_ids_rechazados: pgRechazados,\n    ids_procesados: data.ids_procesados,\n    aprobados: data.aprobados,\n    rechazados: data.rechazados,\n    corregidos_texto: data.corregidos_texto,\n    corregidos_id: data.corregidos_id,\n    creados: data.creados,\n    nombres_aprobados: data.nombres_aprobados,\n    nombres_rechazados: data.nombres_rechazados,\n    // Proyectos alternativos (CREAR + RECHAZAR+ALT)\n    proyectos_alternativos: data.proyectos_alternativos || [],\n    hay_alternativos: data.hay_alternativos || false,\n    nombres_alternativos: data.nombres_alternativos || [],\n    // Corregidos (texto - nombre/GPS)\n    proyectos_corregidos: data.proyectos_corregidos || [],\n    hay_corregidos: data.hay_corregidos || false,\n    nombres_corregidos: data.nombres_corregidos || [],\n    // NUEVO: Asignaciones a proyecto existente (por ID)\n    asignaciones_existentes: data.asignaciones_existentes || [],\n    hay_asignaciones_id: data.hay_asignaciones_id || false,\n    nombres_asignados_id: data.nombres_asignados_id || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        -224
      ],
      "id": "1e9c8bc0-31ce-4bfc-8324-4ef4f8d1015d",
      "name": "Code: Preparar RPC"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chaosoiyoeyjuwtwckix.supabase.co/rest/v1/rpc/aplicar_matches_revisados",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoYW9zb2l5b2V5anV3dHdja2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5MTM5MTIsImV4cCI6MjA3NDQ4OTkxMn0.MwDhUzK2_CnFtS7XbOSg0BbdNdof9Gtqib8ufpe65wg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoYW9zb2l5b2V5anV3dHdja2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5MTM5MTIsImV4cCI6MjA3NDQ4OTkxMn0.MwDhUzK2_CnFtS7XbOSg0BbdNdof9Gtqib8ufpe65wg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_ids_aprobados\": \"{{ $json.p_ids_aprobados }}\",\n  \"p_ids_rechazados\": \"{{ $json.p_ids_rechazados }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        -224
      ],
      "id": "adcf65ed-0981-4f95-9624-105acf1fbed9",
      "name": "HTTP: Aplicar Matches (RPC)"
    },
    {
      "parameters": {
        "jsCode": "// Preparar filas para eliminar (orden descendente)\nconst data = $('Code: El Auditor').first().json;\nconst filasEliminar = data.filas_eliminar || [];\n\nif (filasEliminar.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\nreturn filasEliminar.map(rowNum => ({\n  json: { row_number: rowNum }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -224
      ],
      "id": "ae0987b7-fffe-4322-83dc-8c7cc28b22b1",
      "name": "Code: Preparar Delete"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pendientes_Matching",
          "mode": "name"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -112,
        -224
      ],
      "id": "d5a91176-5a21-47c3-85c3-e5b439828fd0",
      "name": "Google Sheets: Limpiar Procesados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DbMNipx0RBpm2Hhu",
          "name": "Google Sheets account"
        }
      },
      "notes": "Eliminar filas procesadas del Sheet por row_number."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "asign-id-check",
              "leftValue": "={{ $('Code: Preparar RPC').first().json.hay_asignaciones_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -224
      ],
      "id": "if-asignaciones-id",
      "name": "IF: Hay Asignaciones ID?"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Code: Preparar RPC').first().json;\nconst asignaciones = data.asignaciones_existentes || [];\nreturn asignaciones.map(a => ({ json: a }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -384
      ],
      "id": "split-asignaciones-id",
      "name": "Code: Split Asignaciones ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chaosoiyoeyjuwtwckix.supabase.co/rest/v1/rpc/asignar_proyecto_existente",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoYW9zb2l5b2V5anV3dHdja2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5MTM5MTIsImV4cCI6MjA3NDQ4OTkxMn0.MwDhUzK2_CnFtS7XbOSg0BbdNdof9Gtqib8ufpe65wg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoYW9zb2l5b2V5anV3dHdja2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5MTM5MTIsImV4cCI6MjA3NDQ4OTkxMn0.MwDhUzK2_CnFtS7XbOSg0BbdNdof9Gtqib8ufpe65wg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_sugerencia_id\": {{ $json.sugerencia_id }},\n  \"p_propiedad_id\": {{ $json.propiedad_id }},\n  \"p_proyecto_id\": {{ $json.proyecto_id_existente }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        -384
      ],
      "id": "http-asignar-existente",
      "name": "HTTP: Asignar Proyecto Existente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b720a1f-7675-407e-9185-f9df21d03fa7",
              "leftValue": "={{ $('Code: Preparar RPC').first().json.hay_corregidos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        -224
      ],
      "id": "db9f86aa-afa4-4ee4-8657-df50fcb82c90",
      "name": "IF: Hay Corregidos?"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Code: Preparar RPC').first().json;\nconst corregidos = data.proyectos_corregidos || [];\nreturn corregidos.map(c => ({ json: c }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -304
      ],
      "id": "de344db8-d49f-4593-a4d9-0a186773734d",
      "name": "Code: Split Corregidos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM corregir_proyecto_matching(\n  {{ $json.sugerencia_id }},\n  '{{ $json.nombre_nuevo }}',\n  '{{ $json.gps_nuevo }}'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        -304
      ],
      "id": "d0947683-2a83-41c2-a236-bce8bbe2ba8f",
      "name": "PG: Corregir Proyecto",
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Code: Preparar RPC').first().json.hay_alternativos }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1008,
        -224
      ],
      "id": "0fddc4c2-acfc-41fa-ac2e-ca0b1c95f538",
      "name": "IF: Hay Alternativos?"
    },
    {
      "parameters": {
        "jsCode": "// Extraer proyectos alternativos para iterar\nconst data = $('Code: Preparar RPC').first().json;\nconst alternativos = data.proyectos_alternativos || [];\n\nreturn alternativos.map(alt => ({ json: alt }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -304
      ],
      "id": "634c4848-a53c-40c2-812e-bcd932568840",
      "name": "Code: Split Alternativos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chaosoiyoeyjuwtwckix.supabase.co/rest/v1/rpc/crear_proyecto_desde_sugerencia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoYW9zb2l5b2V5anV3dHdja2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5MTM5MTIsImV4cCI6MjA3NDQ4OTkxMn0.MwDhUzK2_CnFtS7XbOSg0BbdNdof9Gtqib8ufpe65wg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoYW9zb2l5b2V5anV3dHdja2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5MTM5MTIsImV4cCI6MjA3NDQ4OTkxMn0.MwDhUzK2_CnFtS7XbOSg0BbdNdof9Gtqib8ufpe65wg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_nombre_proyecto\": \"{{ $json.proyecto_alternativo }}\",\n  \"p_propiedad_id\": {{ $json.propiedad_id }},\n  \"p_sugerencia_id\": {{ $json.sugerencia_id }},\n  \"p_gps_alternativo\": \"{{ $json.gps_alternativo }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        -304
      ],
      "id": "08693234-2348-4edd-9d13-ee4558227219",
      "name": "HTTP: Crear Proyecto Alternativo"
    },
    {
      "parameters": {
        "jsCode": "// Consolidar resultados de proyectos alternativos\nconst resultados = $input.all();\nconst data = $('Code: Preparar RPC').first().json;\n\nconst proyectosCreados = resultados.filter(r => \n  r.json && r.json[0] && r.json[0].proyecto_creado === true\n).length;\n\nreturn [{\n  json: {\n    aprobados: data.aprobados,\n    rechazados: data.rechazados,\n    nombres_aprobados: data.nombres_aprobados,\n    nombres_rechazados: data.nombres_rechazados,\n    proyectos_alternativos_creados: proyectosCreados,\n    nombres_alternativos: data.nombres_alternativos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -304
      ],
      "id": "86a76aec-7d46-4b39-96e2-a03ed781f17b",
      "name": "Code: Consolidar Alternativos",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_SICI }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"SICI Matching Supervisor - Sync Completado\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"Las decisiones humanas han sido aplicadas a la base de datos.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Aprobados:*\\n{{ $('Code: Preparar RPC').first().json.aprobados }} matches\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Rechazados:*\\n{{ $('Code: Preparar RPC').first().json.rechazados }} sugerencias\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Corregidos (texto):*\\n{{ $('Code: Preparar RPC').first().json.corregidos_texto || 0 }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Asignados (ID):*\\n{{ $('Code: Preparar RPC').first().json.corregidos_id || 0 }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Proyectos aprobados:*\\n{{ $('Code: Preparar RPC').first().json.nombres_aprobados.join(', ') || 'Ninguno' }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Proyectos creados (CREAR/RECHAZAR+ALT):*\\n{{ $('Code: Preparar RPC').first().json.nombres_alternativos.length > 0 ? $('Code: Preparar RPC').first().json.nombres_alternativos.join(', ') : 'Ninguno' }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Asignados a proyecto existente:*\\n{{ $('Code: Preparar RPC').first().json.nombres_asignados_id.length > 0 ? $('Code: Preparar RPC').first().json.nombres_asignados_id.join(', ') : 'Ninguno' }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Ver Bandeja de Matching\",\n            \"emoji\": true\n          },\n          \"url\": \"https://docs.google.com/spreadsheets/d/1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw/edit\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        -224
      ],
      "id": "a4adf521-8428-4367-b066-4997cb633df6",
      "name": "Slack: Sync Completado",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_SICI }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"SICI Matching Supervisor - Sincronizacion Bloqueada\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Problema Detectado:*\\nAun hay *{{ $json.pendientes }} sugerencias* en estado PENDIENTE.\\n\\nNo puedo aplicar los matches hasta que decidas que hacer con ellos.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Total en Bandeja:*\\n{{ $json.total_filas }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Sin Revisar:*\\n{{ $json.pendientes }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Ir a Bandeja de Matching\",\n            \"emoji\": true\n          },\n          \"style\": \"danger\",\n          \"url\": \"https://docs.google.com/spreadsheets/d/1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw/edit\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -784,
        -32
      ],
      "id": "e5301193-2ab2-4cf6-8862-f9c6bd57bcd3",
      "name": "Slack: Bloqueo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_SICI }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"SICI Matching Supervisor - Bandeja Vacia\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"No hay sugerencias para procesar en el Google Sheets.\\n\\nEsto puede significar:\\n- No hubo matches pendientes hoy\\n- Ya fueron procesados anteriormente\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -784,
        160
      ],
      "id": "4ca16f8d-1553-4db9-80b1-9b7219c60a96",
      "name": "Slack: Bandeja Vacia"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n      id_proyecto_master as \"ID\",\n      nombre_oficial as \"NOMBRE\",\n      id_proyecto_master || ' - ' || nombre_oficial as \"DROPDOWN_VALUE\"\n  FROM proyectos_master\n  WHERE activo = true\n  ORDER BY nombre_oficial\n  LIMIT 500",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        -128
      ],
      "id": "44646066-8e7b-402d-899a-118cfcf48333",
      "name": "PG: Obtener Proyectos",
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw"
        },
        "sheetName": {
          "__rl": true,
          "value": 1844478893,
          "mode": "list",
          "cachedResultName": " Proyectos_Lista",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw/edit#gid=1844478893"
        },
        "clear": "specificRange",
        "range": "A2:C1000"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        -208
      ],
      "id": "6726fe60-4cc4-4f5f-86c4-0f704fa5ddd9",
      "name": "Sheets: Limpiar Lista",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DbMNipx0RBpm2Hhu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw"
        },
        "sheetName": {
          "__rl": true,
          "value": 1844478893,
          "mode": "list",
          "cachedResultName": " Proyectos_Lista",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ra3-MWhSiaI6ixRg-YX2KlB3rZE_LHzttPdPhzER4Xw/edit#gid=1844478893"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "NOMBRE": "={{ $json.NOMBRE }}",
            "DROPDOWN_VALUE": "={{ $json.DROPDOWN_VALUE }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DROPDOWN_VALUE",
              "displayName": "DROPDOWN_VALUE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2800,
        -128
      ],
      "id": "1471aa1a-768e-4f27-9f03-9eb902c9be9f",
      "name": "Sheets: Escribir Proyectos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DbMNipx0RBpm2Hhu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2576,
        -128
      ],
      "id": "8fb7784a-4e0e-4b18-872c-3068967c6828",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst unique = [];\nfor (const item of $input.all()) {\n  const id = item.json.ID;\n  if (!seen.has(id)) {\n    seen.add(id);\n    unique.push(item);\n  }\n}\nreturn unique;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -208
      ],
      "id": "b21cdf67-4c8f-4f73-9780-5bf14b121b06",
      "name": "Code: Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow('matching_supervisor', 'success', 0, 0, 0, NULL, '{}'::jsonb);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        -32
      ],
      "id": "8ef04f1d-16f2-45b6-8205-910076395218",
      "name": "registrar_ejecucion_workflow",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow('matching_supervisor', 'success', 0, 0, 0, NULL, '{}'::jsonb);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        160
      ],
      "id": "db5300ea-335c-4096-9847-258c9df298eb",
      "name": "registrar_ejecucion_workflow1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow('matching_supervisor', 'success', 0, 0, 0, NULL, '{}'::jsonb);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        -320
      ],
      "id": "ed6c6582-ab25-47d6-bb98-538282d9837b",
      "name": "registrar_ejecucion_workflow2",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (8 PM)": {
      "main": [
        [
          {
            "node": "Google Sheets: Leer Bandeja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Testing)": {
      "main": [
        [
          {
            "node": "Google Sheets: Leer Bandeja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Leer Bandeja": {
      "main": [
        [
          {
            "node": "Code: El Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: El Auditor": {
      "main": [
        [
          {
            "node": "Switch: Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Decision": {
      "main": [
        [
          {
            "node": "Code: Preparar RPC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Bloqueo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Bandeja Vacia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Preparar RPC": {
      "main": [
        [
          {
            "node": "HTTP: Aplicar Matches (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Aplicar Matches (RPC)": {
      "main": [
        [
          {
            "node": "Code: Preparar Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Preparar Delete": {
      "main": [
        [
          {
            "node": "Google Sheets: Limpiar Procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Limpiar Procesados": {
      "main": [
        [
          {
            "node": "IF: Hay Asignaciones ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Hay Asignaciones ID?": {
      "main": [
        [
          {
            "node": "Code: Split Asignaciones ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Hay Corregidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Split Asignaciones ID": {
      "main": [
        [
          {
            "node": "HTTP: Asignar Proyecto Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Asignar Proyecto Existente": {
      "main": [
        [
          {
            "node": "IF: Hay Corregidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Hay Corregidos?": {
      "main": [
        [
          {
            "node": "Code: Split Corregidos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Hay Alternativos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Split Corregidos": {
      "main": [
        [
          {
            "node": "PG: Corregir Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Corregir Proyecto": {
      "main": [
        [
          {
            "node": "IF: Hay Alternativos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Hay Alternativos?": {
      "main": [
        [
          {
            "node": "Code: Split Alternativos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Sync Completado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Split Alternativos": {
      "main": [
        [
          {
            "node": "HTTP: Crear Proyecto Alternativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Crear Proyecto Alternativo": {
      "main": [
        [
          {
            "node": "Code: Consolidar Alternativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Consolidar Alternativos": {
      "main": [
        [
          {
            "node": "Slack: Sync Completado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Sync Completado": {
      "main": [
        [
          {
            "node": "PG: Obtener Proyectos",
            "type": "main",
            "index": 0
          },
          {
            "node": "registrar_ejecucion_workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Bloqueo": {
      "main": [
        [
          {
            "node": "registrar_ejecucion_workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Bandeja Vacia": {
      "main": [
        [
          {
            "node": "registrar_ejecucion_workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Obtener Proyectos": {
      "main": [
        [
          {
            "node": "Sheets: Limpiar Lista",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sheets: Limpiar Lista": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code: Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Remove Duplicates": {
      "main": [
        [
          {
            "node": "Sheets: Escribir Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cf95066756cd645aa773b1efb0bb40a009acb9e082a84e9d526127529829060"
  }
}
