n8n/workflows/modulo_1/flujo_b_processing_v3.0.json
{
  "name": "Flujo B v3.0 - Processing (Enrichment)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "c2c5b061-1569-46d5-beeb-58b00f277c84",
      "name": "Trigger 2:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -208
      ],
      "notes": "Ejecucion diaria 2:00 AM (despues de Discovery 1:00 AM)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id_proyecto_master,\n  nombre_oficial,\n  alias_conocidos,\n  latitud,\n  longitud,\n  activo\nFROM proyectos_master\nWHERE activo = true",
        "options": {}
      },
      "id": "472427cf-13c4-4eb2-853f-ed637917a118",
      "name": "Cargar Proyectos Master",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "Cargar proyectos_master para fuzzy matching"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT clave, valor \nFROM config_global \nWHERE clave IN ('TIPO_CAMBIO_OFICIAL', 'TIPO_CAMBIO_PARALELO') \n  AND activo = true",
        "options": {}
      },
      "id": "95110b21-fd3d-433f-a1dd-185384ac6e40",
      "name": "Cargar Config Global",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "Cargar tipos de cambio dinamicos"
    },
    {
      "parameters": {
        "jsCode": "// Transformar Config a Objeto\nconst config = {};\nfor (const item of $input.all()) {\n  config[item.json.clave] = parseFloat(item.json.valor);\n}\n\nreturn [{\n  json: {\n    CONFIG_GLOBAL: {\n      TIPO_CAMBIO_USD_BS_OFICIAL: config.TIPO_CAMBIO_OFICIAL || 6.96,\n      TIPO_CAMBIO_USD_BS_PARALELO: config.TIPO_CAMBIO_PARALELO || 10.20\n    }\n  }\n}];"
      },
      "id": "c1e0358d-197e-43c7-9ce9-e39c04bb4445",
      "name": "Transformar Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -16
      ],
      "notes": "Convertir config a objeto para extractores"
    },
    {
      "parameters": {},
      "id": "704b9fb6-4823-4901-8944-5cba14922316",
      "name": "Merge Queries",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        224,
        -304
      ],
      "notes": "Sincronizar: Propiedades + Proyectos Master"
    },
    {
      "parameters": {},
      "id": "4b2043ec-5e4f-40d2-8981-038c495eb2ee",
      "name": "Merge Con Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        448,
        -208
      ],
      "notes": "Agregar Config Global al merge"
    },
    {
      "parameters": {
        "jsCode": "// Dummy sync - garantiza que todos los queries terminaron\n// Ahora podemos acceder a los datos via $('NombreNodo')\nreturn [{ json: { sync: true } }];"
      },
      "id": "5416d0f4-3cd4-46e7-801d-2c51c70acd16",
      "name": "Sync Point",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -208
      ],
      "notes": "Punto de sincronizacion antes de acceder a datos"
    },
    {
      "parameters": {
        "jsCode": "// === PREPARAR DATOS PARA PROCESAMIENTO ===\n// Ahora podemos acceder a todos los queries porque el Merge los sincronizo\nconst propiedades = $('Obtener Propiedades Nuevas (original)').all().map(item => item.json);\nconst proyectosMaster = $('Cargar Proyectos Master').all().map(item => item.json);\nconst configData = $('Transformar Config').first()?.json?.CONFIG_GLOBAL || {\n  TIPO_CAMBIO_USD_BS_OFICIAL: 6.96,\n  TIPO_CAMBIO_USD_BS_PARALELO: 10.20\n};\n\nif (propiedades.length === 0 || !propiedades[0].id) {\n  return [{ json: { skip: true, message: 'No hay propiedades nuevas para procesar' } }];\n}\n\nconsole.log(`\\n=== FLUJO B v3.0 PROCESSING ===`);\nconsole.log(`Propiedades a procesar: ${propiedades.length}`);\nconsole.log(`Proyectos master cargados: ${proyectosMaster.length}`);\nconsole.log(`Tipo cambio oficial: ${configData.TIPO_CAMBIO_USD_BS_OFICIAL}`);\nconsole.log(`Tipo cambio paralelo: ${configData.TIPO_CAMBIO_USD_BS_PARALELO}`);\nconsole.log(`================================\\n`);\n\n// Preparar cada propiedad para procesamiento\nreturn propiedades.map(prop => ({\n  json: {\n    id: prop.id,\n    url: prop.url,\n    fuente: prop.fuente,\n    codigo_propiedad: prop.codigo_propiedad,\n    datos_discovery: prop.datos_json_discovery,\n    proyectos_master: proyectosMaster,\n    config_global: configData\n  }\n}));"
      },
      "id": "ca51a67f-b237-4799-8598-ad4e3a8318ff",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -208
      ],
      "notes": "Combinar propiedades + proyectos_master + config_global"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{$json.url}}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d07bd017-db8a-4bd7-a3fd-a0b6dab08161",
      "name": "IF Hay Propiedades",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        -208
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "61622c83-58ba-4229-8836-ffbc1dd4ea23",
      "name": "Procesar Una por Una",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "firecrawlApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"formats\": [\"rawHtml\"],\n  \"timeout\": 75000,\n  \"waitFor\": 2000\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 80000
        }
      },
      "id": "95f9f76f-0225-45e3-bd7f-7b8f2c12ac79",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        -416
      ],
      "alwaysOutputData": true,
      "credentials": {
        "firecrawlApi": {
          "id": "1txYWUirJjoOvK41",
          "name": "Firecrawl account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Obtener HTML renderizado via Firecrawl (espera JS)"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n  // NORMALIZADOR FIRECRAWL → EXTRACTOR (v1.1 - Defensivo)\n  // ============================================================================\n\n  const input = $input.first();\n  const itemData = $('Procesar Una por Una').item.json;\n\n  // Validación defensiva de la respuesta\n  if (!input || !input.json) {\n    console.error('❌ Sin respuesta de Firecrawl');\n    return [{\n      json: {\n        ...itemData,\n        html: '',\n        firecrawl_error: true,\n        firecrawl_mensaje: 'Sin respuesta de Firecrawl'\n      }\n    }];\n  }\n\n  // Intentar obtener response de body o directamente del json\n  const response = input.json.body || input.json;\n\n  // Validar respuesta de Firecrawl\n  if (!response || !response.success || !response.data) {\n    console.error('❌ Error Firecrawl:', response?.error || 'Respuesta vacía o inválida');\n    return [{\n      json: {\n        ...itemData,\n        html: '',\n        firecrawl_error: true,\n        firecrawl_mensaje: response?.error || 'Respuesta vacía o inválida'\n      }\n    }];\n  }\n\n  const html = response.data.rawHtml || response.data.html || '';\n\n  if (!html || html.length < 500) {\n    console.error('⚠️ HTML insuficiente:', html.length);\n    return [{\n      json: {\n        ...itemData,\n        html: html,\n        firecrawl_error: true,\n        firecrawl_mensaje: `HTML insuficiente (${html.length} chars)`\n      }\n    }];\n  }\n\n  console.log(`✅ HTML obtenido: ${html.length} chars`);\n\n  return [{\n    json: {\n      ...itemData,\n      html: html,\n      firecrawl_error: false\n    }\n  }];"
      },
      "id": "a710f9f5-9446-491e-a8f5-ba3d4e180849",
      "name": "Normalizar Firecrawl",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -416
      ],
      "notes": "Normalizar respuesta Firecrawl y preservar datos"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "9e26479d-52ef-4ff1-a37b-107787e3f72a",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        -416
      ],
      "webhookId": "rate-limit-wait",
      "notes": "Rate limit: 2s entre requests"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "fuente-check",
              "leftValue": "={{ $json.fuente }}",
              "rightValue": "remax",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a7b47a8-a234-4276-83c9-968be1806047",
      "name": "Switch Fuente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2464,
        -416
      ],
      "notes": "Remax (true) vs Century21 (false)"
    },
    {
      "parameters": {
        "jsCode": "// === MERGE RESULTADOS DE AMBOS EXTRACTORES ===\n\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { skip: true, message: 'No hay resultados de extraccion' } }];\n}\n\nreturn items;"
      },
      "id": "c9e14b41-75a4-480c-bdda-e2a0d4fb8d8c",
      "name": "Merge Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        -416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "exito-check",
              "leftValue": "={{ $json.extraccion_exitosa }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "e93a0f19-a8c6-4418-9c20-fda19db3a277",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3b4015f-98bc-49b1-bf21-52c4b18c9df8",
      "name": "IF Extraccion Exitosa",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3360,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_enrichment($1::jsonb)",
        "options": {
          "queryReplacement": "={{ [JSON.stringify($json)] }}"
        }
      },
      "id": "249a079a-7564-4880-9de1-9899a6148cab",
      "name": "Registrar Enrichment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3584,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "Persistir datos via registrar_enrichment()"
    },
    {
      "parameters": {
        "jsCode": "// === LOG ERROR ===\nconst item = $input.first().json;\n\nconsole.log(`\\n[ERROR] Extraccion fallida para: ${item.url}`);\nconsole.log(`Errores: ${item.errores?.join(', ') || 'Desconocido'}`);\n\nreturn $input.all();"
      },
      "id": "b7ccae3a-d323-4326-bd57-b71bc733aa4b",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        -400
      ],
      "notes": "Log de errores de extraccion"
    },
    {
      "parameters": {
        "jsCode": "// === CONTINUAR LOOP ===\n\nreturn $input.all();"
      },
      "id": "efa14a30-460a-44f6-bfde-a17964e95adb",
      "name": "Continuar Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "// === RESUMEN FINAL ===\n// Nota: En un loop con SplitInBatches, solo vemos el ultimo item\n// Los stats reales deben verse en los logs o en la BD\n\nconst stats = {\n  timestamp: new Date().toISOString(),\n  workflow: 'Flujo B v3.0 - Processing',\n  version: '3.0.1',\n  mensaje: 'Procesamiento completado. Ver BD para stats reales.'\n};\n\nconsole.log(`\\n========================================`);\nconsole.log(`FLUJO B v3.0 PROCESSING - COMPLETADO`);\nconsole.log(`========================================`);\nconsole.log(`Verificar propiedades_v2 con status='actualizado'`);\nconsole.log(`========================================\\n`);\n\nreturn [{ json: stats }];"
      },
      "id": "c90d1874-299e-409a-b3d5-ce5c85d5dad5",
      "name": "Resumen Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -608
      ],
      "notes": "Estadisticas finales del procesamiento"
    },
    {
      "parameters": {
        "jsCode": "// === NO HAY PROPIEDADES ===\n\nconsole.log('\\n=== FLUJO B v3.0 ===');\nconsole.log('No hay propiedades nuevas para procesar');\nconsole.log('=====================\\n');\n\nreturn [{ json: { message: 'No hay propiedades nuevas', timestamp: new Date().toISOString() } }];"
      },
      "id": "c8473e52-95dc-4839-a05a-45b3b0fdc641",
      "name": "No Hay Propiedades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.html;\n\n// Buscar __NEXT_DATA__\nconst hasNextData = html.includes('__NEXT_DATA__');\nconst matches = html.match(/<script[^>]*id=\"__NEXT_DATA__\"[^>]*>(.*?)<\\/script>/s);\n\nconsole.log('Tiene __NEXT_DATA__:', hasNextData);\nconsole.log('Matches encontrados:', matches ? matches.length : 0);\n\n// Mostrar primeros 1000 chars del HTML\nconsole.log('Primeros 1000 chars:', html.substring(0, 1000));\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -416
      ],
      "id": "da8498f3-dc87-499d-a33b-14f0f3b1648c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "(\n  SELECT id, url, fuente, codigo_propiedad, datos_json_discovery\n  FROM propiedades_v2 \n  WHERE status = 'nueva' AND fuente = 'remax' AND tipo_operacion = 'venta'\n  ORDER BY fecha_discovery DESC LIMIT 10\n)\nUNION ALL\n(\n  SELECT id, url, fuente, codigo_propiedad, datos_json_discovery\n  FROM propiedades_v2 \n  WHERE status = 'nueva' AND fuente = 'century21' AND tipo_operacion = 'venta'\n  ORDER BY fecha_discovery DESC LIMIT 10\n);",
        "options": {}
      },
      "id": "cb34ab8d-1a79-4c13-aca9-2b357bf8b4ec",
      "name": "Obtener Propiedades Nuevas (original)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        -400
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "SELECT \n  id,\n  url,\n  fuente,\n  codigo_propiedad,\n  datos_json_discovery\nFROM propiedades_v2 \nWHERE status = 'nueva'\n  AND fuente IN ('remax', 'century21') \nORDER BY fecha_discovery DESC\nLIMIT 8\n\n\n\nSELECT id, url, fuente, codigo_propiedad, datos_json_discovery\nFROM propiedades_v2 \nWHERE status = 'nueva' \n  AND tipo_operacion = 'venta'\n  AND es_activa = TRUE\nORDER BY fecha_discovery DESC\nLIMIT 100;\n\n\n-- Query TEST: 5 Remax + 5 Century21\n(\n  SELECT id, url, fuente, codigo_propiedad, datos_json_discovery\n  FROM propiedades_v2 \n  WHERE status = 'nueva' AND fuente = 'remax' AND tipo_operacion = 'venta'\n  ORDER BY fecha_discovery DESC LIMIT 50\n)\nUNION ALL\n(\n  SELECT id, url, fuente, codigo_propiedad, datos_json_discovery\n  FROM propiedades_v2 \n  WHERE status = 'nueva' AND fuente = 'century21' AND tipo_operacion = 'venta'\n  ORDER BY fecha_discovery DESC LIMIT 50\n);"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e41adf5-e302-473d-920f-841e5403c6b2",
              "leftValue": "={{ $json.datos_json.es_inactiva }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3136,
        -416
      ],
      "id": "d45b8e83-276f-4b32-bd5f-52aeeafad0d7",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE propiedades_v2\nSET\n  status = 'inactivo_confirmed',\n  fecha_actualizacion = NOW()\nWHERE id = {{ $json.id_propiedad }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3360,
        -304
      ],
      "id": "e8d6a855-82e3-4c23-89be-c8719871e2f6",
      "name": "Marcar como inactivo_confirmed",
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// Extractor Century21 - Schema Canonical v3.1\n// Versión: v16.5\n// Fecha: 2025-12-22\n// =====================================================\n// CHANGELOG v16.5:\n// - Add: extraccion_exitosa flag (boolean)\n// - Change: modalidad → tipo_operacion\n// - Homologación con Schema Canonical v3.1\n// - Spread operator en return final\n// =====================================================\nconst itemEntrada = $input.item.json;\nconst idOriginal = itemEntrada.id || itemEntrada.id_propiedad || null;\nconst html = itemEntrada.html || \n             (itemEntrada.data && itemEntrada.data.rawHtml) || \n             \"\";\n\n// ============================================================================\n// CARGAR PROYECTOS MASTER PARA FUZZY MATCHING\n// ============================================================================\n// ✅ NUEVO (v16.4) - Datos vienen en itemEntrada\nconst proyectosMaster = itemEntrada.proyectos_master || [];\nconst configGlobal = itemEntrada.config_global || {};\nconst TC_OFICIAL = configGlobal.TIPO_CAMBIO_USD_BS_OFICIAL || 6.96;\nconst TC_PARALELO = configGlobal.TIPO_CAMBIO_USD_BS_PARALELO || 7.25;\n\n// ============================================================================\n// BLACKLIST Y FUNCIONES FUZZY\n// ============================================================================\n// ----------------------------------------------------------------------------\n// BLACKLIST CRÍTICA - Términos que invalidan nombres\n// ----------------------------------------------------------------------------\nconst BLACKLIST_CRITICA = [\n  // Marketing\n  'en venta', 'en preventa', 'en pre venta', 'pre venta', 'preventa',\n  'tu mejor inversion', 'tu mejor inversión', 'invierte en', 'invertí en', \n  'invierte inteligente', 'inversión inteligente',\n  'en venta', 'venta de', 'venta',  // Ya estaba \"en venta\", reforzar\n  'century 21', 'century', 'c21',\n  'cuenta con', 'con piscina',\n  'exclusivo', 'exclusiva', 'domotica', 'con domotica',\n  \n  // Características\n  'areas sociales', 'áreas sociales', 'cuenta con', 'contara con', 'contará con',\n  'areas comunes', 'áreas comunes', 'piscina', 'gym', 'sauna', 'salon de',\n  \n  // Metadata\n  'century 21', 'century21', 'remax', 'inmobiliaria', 're/max',\n  \n  // Temporales\n  'entrega inmediata', 'entrega junio', 'entrega', 'entrega 2026', \n  'entrega 2025', 'disponible en',\n  \n  // Tipos de propiedad\n  'departamentos', 'monoambientes', 'monoambiente', 'anticretico', 'anticrético',\n  'departamento en', 'casa en', 'local en',\n  \n  // Frases completas comunes\n  'más exclusiva de', 'único en su', 'excelente ubicación', 'precio referencial'\n];\n\n// ----------------------------------------------------------------------------\n// ZONAS GEOGRÁFICAS - Para limpiar de nombres\n// ----------------------------------------------------------------------------\nconst ZONAS_GEOGRAFICAS = [\n  'equipetrol norte', 'equipetrol sur', 'equipetrol',\n  'sirari', 'urubo', 'las palmas', 'centro',\n  'plaza italia', 'barrio', 'zona norte', 'zona sur',\n  'santa cruz', 'bolivia'\n];\n\n// ----------------------------------------------------------------------------\n// FUNCIÓN: Limpiar zonas geográficas del nombre\n// ----------------------------------------------------------------------------\nfunction limpiarZonasGeograficas(nombre) {\n  if (!nombre || typeof nombre !== 'string') return nombre;\n  \n  let limpio = nombre;\n  \n  // Limpiar cada zona geográfica (al final del nombre)\n  ZONAS_GEOGRAFICAS.forEach(zona => {\n    // Patrón: zona al final, con o sin separadores\n    const regex = new RegExp(`\\\\s*[-,]?\\\\s*${zona}\\\\s*$`, 'gi');\n    limpio = limpio.replace(regex, '');\n  });\n  \n  return limpio.trim();\n}\n\n// ----------------------------------------------------------------------------\n// FUNCIÓN: Calcular similitud fuzzy (word intersection)\n// ----------------------------------------------------------------------------\nfunction calcularSimilitudFuzzy(nombre1, nombre2) {\n  if (!nombre1 || !nombre2) return 0;\n  \n  // Convertir a lowercase y dividir en palabras\n  const words1 = nombre1.toLowerCase()\n    .split(/\\s+/)\n    .filter(w => w.length > 2); // Solo palabras de 3+ caracteres\n  \n  const words2 = nombre2.toLowerCase()\n    .split(/\\s+/)\n    .filter(w => w.length > 2);\n  \n  if (words1.length === 0 || words2.length === 0) return 0;\n  \n  // Calcular intersección\n  const intersection = words1.filter(w => words2.includes(w)).length;\n  \n  // Calcular unión\n  const union = new Set([...words1, ...words2]).size;\n  \n  // Jaccard similarity\n  return intersection / union;\n}\n\n// ----------------------------------------------------------------------------\n// FUNCIÓN: Buscar match fuzzy en proyectos master\n// ----------------------------------------------------------------------------\nfunction buscarMatchFuzzy(nombreExtraido) {\n  if (!nombreExtraido || nombreExtraido.length < 3) return null;\n  \n  let mejorMatch = null;\n  let mejorScore = 0;\n  \n  // Iterar sobre todos los proyectos master\n  for (const proyecto of proyectosMaster) {\n    const score = calcularSimilitudFuzzy(nombreExtraido, proyecto.nombre);\n    \n    // Umbral mínimo: 60% de similitud\n    if (score > mejorScore && score >= 0.6) {\n      mejorScore = score;\n      mejorMatch = proyecto;\n    }\n  }\n  \n  if (!mejorMatch) return null;\n  \n  return {\n    proyecto: mejorMatch,\n    score: Math.round(mejorScore * 100) // Convertir a porcentaje\n  };\n}\n\n// ============================================================================\n// CONFIGURACIÓN\n// ============================================================================\nconst CONFIG = {\n  VERSION: \"16.4\",\n  CORE_VERSION: \"3.0\",\n  TIPO_CAMBIO_USD_BS_OFICIAL: TC_OFICIAL,\n  TIPO_CAMBIO_USD_BS_PARALELO: TC_PARALELO,\n  MEDIA_ZONA_USD_M2: {\n    \"Equipetrol\": 2461,\n    \"Equipetrol Norte\": 2461,\n    \"Los Cusis\": 1200,\n    \"Urubo\": 1500,\n    \"Las Palmas\": 1700,\n    \"Centro\": 1000,\n    \"Norte\": 900,\n    \"Sur\": 800,\n    \"default\": 1200\n  }\n};\n// ============================================================================\n// ============================================================================\n// 🧰 FUNCIONES DE APOYO\n// ============================================================================\n// ============================================================================\n// 🔎 buscarPatron v24.19 (FUNCIÓN DE APOYO QUE FALTABA)\n// ============================================================================\nfunction buscarPatron(texto, regex) {\n    if (!texto || typeof texto !== 'string') return null;\n\n    // Asegurarse de que el regex sea global si no lo es\n    let flags = regex.flags;\n    if (flags.indexOf('g') === -1) {\n         flags += 'g';\n    }\n\n    const re = new RegExp(regex.source, flags);\n    const matches = [];\n    let match;\n\n    while ((match = re.exec(texto)) !== null) {\n        matches.push(match);\n    }\n\n    if (matches.length === 0) return null;\n\n    // Devolver el primer match (comportamiento de .match())\n    return matches[0];\n}\n\n// ============================================================================\n// ⚙️ getMeta (Función de Apoyo)\n// ============================================================================\nfunction getMeta(content, name) {\n  const match = content.match(new RegExp(`<meta[^>]+name=[\"']${name}[\"'][^>]+content=[\"']([^\"']+)[\"']`, \"i\"));\n  return match ? match[1].trim() : null;\n}\n\n\n// ============================================================================\n// 💱 detectarTipoCambio v24.32 (MEJORADO - Detección ultra flexible)\n// ============================================================================\nfunction detectarTipoCambio(descripcion = \"\") {\n    if (!descripcion || typeof descripcion !== 'string') return \"no_especificado\";\n    \n    const desc = descripcion.toLowerCase();\n    \n    // Detectar TC Paralelo EXPLÍCITO\n    const testParaleloExplicito = /\\b(?:tc\\s*paralelo|cambio\\s+paralelo|dólar\\s+blue|tc\\s+blue)\\b/i;\n    if (testParaleloExplicito.test(desc)) return \"paralelo\";\n    \n    const testPagoDolares = /\\bpago\\s+en\\s+dólares/i;\n    if (testPagoDolares.test(desc)) return \"paralelo\";\n    \n    // 🆕 v15.1: Detectar \"TC del día\" o \"cambio del día\" SIN número (es paralelo)\n    const testTCDelDia = /\\b(?:a\\s+)?(?:tc|tipo\\s+de\\s+cambio|cambio)\\s+del\\s+día\\b(?!\\s*[67])/i;\n    if (testTCDelDia.test(desc)) return \"paralelo\";\n    \n    // Patrón flexible para \"PRECIO ... DOLARES\"\n    const testPrecioDolares = /(?:precio|desde)[\\s\\S]{0,100}\\$[\\s]*us[\\.\\s]*[\\d\\.,\\-]+[\\s]+dólares/i;                                                                         \n    if (testPrecioDolares.test(desc)) return \"paralelo\";\n    \n    // Detectar TC Oficial (con número explícito 6 o 7)\n    const testOficial = /tipo\\s+de\\s+cambio\\s+oficial|tipo\\s+de\\s+cambio\\s*:?\\s*[67]|tc\\.?\\s*oficial|\\btc\\.?\\s*[67]\\b|(?:cambio|tc)\\s+(?:del\\s+)?día\\s*[67]/i;\n    if (testOficial.test(desc)) return \"oficial\";\n    \n    return \"no_especificado\";\n}\n\n// ============================================================================\n// 🧹 limpiarContextoNoRelacionado v14.8 (FIX PARQUEO DEFINITIVO)\n// ============================================================================\n// CORRECCIÓN: Elimina líneas duplicadas y usa la RegEx\n// que detecta moneda ANTES (ej. $us 13.000) o DESPUÉS (ej. 13.000 $us).\n// ============================================================================\nfunction limpiarContextoNoRelacionado(descripcion) {\n    if (!descripcion || typeof descripcion !== 'string') return \"\";\n\n    // Reemplaza saltos de línea para que los regex funcionen mejor\n    descripcion = descripcion.replace(/[\\r\\n]+/g, ' ').trim(); \n\n    return descripcion\n        // ✅ VERSIÓN NUEVA Y ÚNICA:\n        .replace(/parqueo\\s+(?:opcional\\s+)?(?:a\\s+parte|aparte\\s+)?(?:en|por|:)\\s*(?:\\$?\\s?(?:us\\.?|usd)?\\s?[\\d.,]+|[\\d.,]+\\s?(?:\\$|us\\.?|usd))/gi, '[PARQUEO_REMOVIDO]')\n        .replace(/estacionamiento\\s+(?:opcional\\s+)?(?:a\\s+parte|aparte\\s+)?(?:en|por|:)\\s*(?:\\$?\\s?(?:us\\.?|usd)?\\s?[\\d.,]+|[\\d.,]+\\s?(?:\\$|us\\.?|usd))/gi, '[ESTACIONAMIENTO_REMOVIDO]')\n        .replace(/parking\\s+(?:opcional\\s+)?(?:a\\s+parte\\s+)?(?:en|por|:)\\s*(?:\\$?\\s?(?:us\\.?|usd)?\\s?[\\d.,]+|[\\d.,]+\\s?(?:\\$|us\\.?|usd))/gi, '[PARKING_REMOVIDO]')\n        .replace(/baulera\\s+(?:opcional\\s+)?(?:a\\s+parte\\s+)?(?:en|por|:)\\s*(?:\\$?\\s?(?:us\\.?|usd)?\\s?[\\d.,]+|[\\d.,]+\\s?(?:\\$|us\\.*|usd))/gi, '[BAULERA_REMOVIDO]')\n\n        // LÍNEAS ANTIGUAS ELIMINADAS (eran redundantes)\n\n        // ✅ Mantenemos las otras limpiezas\n        .replace(/precio\\s+m[²2]\\s*:?\\s*\\$?\\s?(?:us\\.?|usd)?\\s?[\\d.,]+\\s*[\\/]?\\s*m[²2]/gi, '[PRECIO_M2_REMOVIDO]')\n        .replace(/\\$?\\s?(?:us\\.?|usd)?\\s?[\\d.,]+\\s*[\\/]\\s*m[²2]/gi, '[PRECIO_M2_REMOVIDO]');\n}\n\n// ============================================================================\n// 🆕 normalizarPrecioUSD v24.19 (CORREGIDO)\n// ============================================================================\nfunction normalizarPrecioUSD(precio_original, descripcion = \"\") {\n    if (!precio_original || isNaN(precio_original) || precio_original === null || precio_original === undefined) {\n        return { precio: null, normalizado: false, precio_original: null };\n    }\n\n    const descLower = (typeof descripcion === 'string' && descripcion) ? descripcion.toLowerCase() : \"\";\n    const tipoCambio = detectarTipoCambio(descLower);\n\n    // --- LÓGICA CORREGIDA ---\n    // CASO 1: El precio está explícitamente en Bs. (ej. \"Precio Bs. 780.000\")\n    if (precio_original > 350000 && /precio\\s*bs/i.test(descLower)) {\n         const precioNormalizado = precio_original / CONFIG.TIPO_CAMBIO_USD_BS_OFICIAL;\n         return { precio: Math.round(precioNormalizado), normalizado: true, precio_original: precio_original };\n    }\n\n    // CASO 2: El precio está en USD, pero se menciona \"TC Paralelo\" (ej. 50.000 al TC Paralelo)\n    if (tipoCambio === 'paralelo') {\n        // No normalizamos si el precio es > 350k (ya lo habría hecho el CASO 1 si tuviera \"Bs\")\n        // Si es 50.000, es USD (al blue). Si es 780.000, es Bs (pero sin \"Bs.\" explícito),\n        // así que lo tratamos como USD (al blue) también, lo cual es más seguro.\n\n        // Lógica de v24.19: Asumimos que el precio_original está en USD (calculado al blue)\n        const precioEnBs = precio_original * CONFIG.TIPO_CAMBIO_USD_BS_PARALELO;\n        const precioNormalizado = precioEnBs / CONFIG.TIPO_CAMBIO_USD_BS_OFICIAL;\n        return { precio: Math.round(precioNormalizado), normalizado: true, precio_original: precio_original };\n    }\n\n    // CASO 3: TC Oficial o no especificado. El precio está en USD.\n    return { precio: precio_original, normalizado: false, precio_original: precio_original };\n}\n\n// ============================================================================\n// 🆕 parsePrecioMeta v15.1 – FIX EUROPEO DEFINITIVO + BUG DEL DOBLE RETURN CORREGIDO\n// ============================================================================\nfunction parsePrecioMeta(metaPrecio) {\n    if (!metaPrecio) return null;\n\n    let raw = metaPrecio.toString().trim();\n\n    // ====================================================================\n    // FIX EUROPEO/BOLIVIANO: 59.448,75 (coma dec) O 59.448.75 (punto dec) → CORREGIDO\n    // ====================================================================\n    const cleanedForRegex = raw.replace(/[^\\d.,]/g, \"\");\n\n    // Formato 1: Europeo/Boliviano coma decimal (59.448,75)\n    if (/^\\d{1,3}(\\.\\d{3})*,\\d{1,3}$/.test(cleanedForRegex)) {\n        const fixed = cleanedForRegex.replace(/\\./g, '').replace(',', '.');\n        const num = parseFloat(fixed);\n        if (!isNaN(num) && num > 0) return Math.round(num);\n    }\n\n    // Formato 2: Boliviano punto decimal (59.448.75)\n    if (/^\\d{1,3}(\\.\\d{3})+\\.\\d{1,2}$/.test(cleanedForRegex)) {\n        // Detectar si el último punto es decimal (2 dígitos después)\n        const partes = cleanedForRegex.split('.');\n        if (partes[partes.length - 1].length <= 2) {\n            // Es formato con decimales: 59.448.75 → 59448.75\n            const fixed = partes.slice(0, -1).join('') + '.' + partes[partes.length - 1];\n            const num = parseFloat(fixed);\n            if (!isNaN(num) && num > 0) return Math.round(num);\n        }\n    }\n\n    // ====================================================================\n    // TU CÓDIGO ORIGINAL v14.7 – QUEDA 100% INTACTO DESDE ACÁ\n    // ====================================================================\n    raw = raw.replace(/[^\\d.,]/g, \"\");\n\n    if (/mil/i.test(metaPrecio)) {\n        const num = parseFloat(raw.replace(/[,\\\\.]/g, \"\"));\n        return isNaN(num) ? null : num * 1000;\n    }\n\n    if (raw.includes(\".\") && raw.includes(\",\")) {\n        raw = raw.indexOf(\".\") < raw.indexOf(\",\")\n            ? raw.replace(/\\./g, \"\").replace(\",\", \".\")\n            : raw.replace(/,/g, \"\");\n    } else if (raw.includes(\",\")) {\n        const partes = raw.split(\",\");\n        const decimales = partes[partes.length - 1];\n        if (decimales.length >= 3 && !partes[2]) {\n            raw = raw.replace(/,/g, \"\");\n        } else {\n            raw = raw.replace(\",\", \".\");\n        }\n    } else if (raw.includes(\".\")) {\n        const partes = raw.split(\".\");\n        const decimales = partes[partes.length - 1];\n        if (partes.length > 2 || (partes.length === 2 && decimales.length === 3)) {\n            raw = raw.replace(/\\./g, \"\");\n        }\n    }\n\n    const num = parseFloat(raw);\n    if (isNaN(num)) return null;\n\n    // Anti-ridículo (tu lógica original – se queda)\n    if (num > 10000000) {\n        const digitos = Math.floor(Math.log10(num)) + 1;\n        if (digitos > 8) {\n            return num / Math.pow(10, digitos - 6);\n        }\n    }\n\n    return Math.round(num);\n}\n\n// ============================================================================\n// 💰 extraerPrecioHTML v13.0 (BUSCA EL PRECIO VISIBLE EN EL HTML)\n// ============================================================================\nfunction extraerPrecioHTML(html) {\n    // Usamos buscarPatron (que debe estar definida en el script)\n    const patterns = [\n        // 1. Busca el precio dentro de cualquier etiqueta de título H1-H6 que contenga \"USD\"\n        // ✅ CORRECCIÓN P3: Patrón flexibilizado para capturar cualquier formato numérico (ej. 171.614 y 93.000)\n        /<h[1-6][^>]*>[\\s\\S]*?([\\d.,]+)\\s*USD/i,\n        // 2. Busca el precio dentro de un <span> que contenga \"USD\"\n        // ✅ CORRECCIÓN P3: Patrón flexibilizado\n        /<span[^>]*>[\\s\\S]*?([\\d.,]+)\\s*USD/i,\n        // 3. Busca el precio dentro de un <div> con una clase que sugiere precio\n        /<div[^>]*price[^>]*>[\\s\\S]*?([\\d.,]+)/i\n    ];\n\n    for (const pattern of patterns) {\n        const match = buscarPatron(html, pattern); // Asume que buscarPatron(texto, regex) está definido.\n        \n        if (match && match[1]) { \n            // ✅ CORRECCIÓN P3: Usar el parser de precios robusto (parsePrecioMeta)\n            // const precio = parseFloat(match[1].replace(/[.,]/g, '')); // <-- Lógica anterior\n            const precio = parsePrecioMeta(match[1]); // ✅ USA EL PARSER CORRECTO\n            \n            // Validación básica de rango para evitar números de teléfono o códigos\n            if (precio > 1000 && precio < 10000000) { \n                return precio;\n            }\n        }\n    }\n    return null;\n}\n// ============================================================================\n// 💵 detectarMonedaOriginal v1.0 (PARA HOMOLOGACIÓN SCHEMA)\n// ============================================================================\nfunction detectarMonedaOriginal(normalizacionPrincipal) {\n    return normalizacionPrincipal.normalizado ? \"BOB\" : \"USD\";\n}\n\n// ============================================================================\n// 💰 extraerPrecio v14.5 (MEJORADO - Detecta \"desde X\" en multiproyectos)\n// ============================================================================\nfunction extraerPrecio(html, descripcion = \"\", esMultiproyecto = false) {\n    const descripcionSegura = typeof descripcion === 'string' ? descripcion : \"\";\n    const descripcionLimpia = limpiarContextoNoRelacionado(descripcionSegura);\n\n    const precioHTMLVisible = extraerPrecioHTML(html);\n    const precioMetaNum = parsePrecioMeta(getMeta(html, \"precio\"));\n\n    let precioExplicitoDesc = null;\n    const patronesDesc = [\n        /(?:precio|desde)\\s*:?\\s*\\$\\s?([\\d.,]+)(?:\\s+a\\s+tc)/i, // ← NUEVO: \"Precio desde: $59.448.75 a TC\"\n        /(?:precio|desde)\\s*:?\\s*\\$?\\s?(?:us\\.?|usd)\\s?([\\d.,]+)(?!\\s*\\/\\s*m|\\s*por\\s*m)/i,\n        /(\\d[\\d.,]+)\\s*\\$?\\s?(?:us\\.?|usd)(?!\\s*\\/\\s*m|\\s*por\\s*m)/i,\n        /\\$?\\s?(?:us\\.?|usd)\\s?([\\d.,]+)(?!\\s*\\/\\s*m|\\s*por\\s*m)/i,\n        /(?:precio|desde)\\s*:?\\s*bs\\.?\\s?([\\d.,]+)/i\n    ];\n\n    for (let i = 0; i < patronesDesc.length; i++) {\n        const resultado = buscarPatron(descripcionLimpia, patronesDesc[i]);\n        if (resultado && resultado[1]) {\n            console.log(`🔍 Patrón ${i} capturó:`, resultado[1]);\n            precioExplicitoDesc = parsePrecioMeta(resultado[1]);\n            console.log(`💰 parsePrecioMeta devolvió:`, precioExplicitoDesc);\n            if (precioExplicitoDesc) break;\n        }\n    }\n\n    const patronRango = /\\$?\\s?(?:us\\.?|usd)?\\s?(\\\\d+[.,]?\\\\d*)\\\\s*(?:-|a|hasta)\\\\s*\\$?\\s?(?:us\\.?|usd)?\\s?(\\\\d+[.,]?\\\\d*)/i;\n    const rangoResult = buscarPatron(descripcionLimpia, patronRango);\n    let rango_precio_usd_bruto = rangoResult ? \n        [parsePrecioMeta(rangoResult[1]), parsePrecioMeta(rangoResult[2])] : null;\n\n    // 🆕 MEJORADO: Detectar múltiples precios en multiproyectos\n    if (!rango_precio_usd_bruto && esMultiproyecto) {\n        // Patrón 1: \"1D desde X y 2D desde Y\"\n        const patronMultiplesDesde = /(\\d+)D?\\s+desde\\s*:?\\s*\\$?\\s?(?:us\\.?|usd)?\\s?([\\\\d.,]+).*?(\\d+)D?\\s+desde\\s*:?\\s*\\$?\\s?(?:us\\.?|usd)?\\s?([\\\\d.,]+)/i;\n        const multiplesResult = buscarPatron(descripcionLimpia, patronMultiplesDesde);\n        \n        if (multiplesResult && multiplesResult[2] && multiplesResult[4]) {\n            const precio1 = parsePrecioMeta(multiplesResult[2]);\n            const precio2 = parsePrecioMeta(multiplesResult[4]);\n            if (precio1 && precio2) {\n                rango_precio_usd_bruto = [Math.min(precio1, precio2), Math.max(precio1, precio2)];\n            }\n        }\n        \n        // Patrón 2: Solo un \"desde X\" (fallback)\n        if (!rango_precio_usd_bruto) {\n            const patronDesde = /(?:desde|precio\\s+desde|a\\s+partir\\s+de)\\s*:?\\s*\\$?\\s?(?:us\\.?|usd)?\\s?([\\\\d.,]+)/i;\n            const desdeResult = buscarPatron(descripcionLimpia, patronDesde);\n            \n            if (desdeResult && desdeResult[1]) {\n                const precioMin = parsePrecioMeta(desdeResult[1]);\n                if (precioMin) {\n                    rango_precio_usd_bruto = [precioMin, null];\n                }\n            }\n        }\n    }\n\n    let precio_bruto;\n    let fuente_precio = \"no_detectado\";\n    const mencionaTCParalelo = detectarTipoCambio(descripcionSegura) === 'paralelo';\n\n    if (precioExplicitoDesc && /precio\\s*bs/i.test(descripcionLimpia)) {\n        precio_bruto = precioExplicitoDesc;\n        fuente_precio = \"descripcion_bs_explicito\";\n    }\n    else if (mencionaTCParalelo && precioExplicitoDesc) {\n        precio_bruto = precioExplicitoDesc;\n        fuente_precio = \"descripcion_tc_explicito\";\n    }\n    else if (esMultiproyecto) {\n    if (rango_precio_usd_bruto) {\n        // 🆕 v14.9: Si solo hay precio_min (desde X), usar ese valor\n        if (rango_precio_usd_bruto[1] === null) {\n            precio_bruto = rango_precio_usd_bruto[0];\n            fuente_precio = \"descripcion_desde\";\n        } else {\n            precio_bruto = (rango_precio_usd_bruto[0] + rango_precio_usd_bruto[1]) / 2;\n            fuente_precio = \"descripcion_rango\";\n        }\n    } else if (precioExplicitoDesc) {\n            precio_bruto = precioExplicitoDesc;\n            fuente_precio = \"descripcion_multiproyecto\";\n        } else if (precioMetaNum) {\n            precio_bruto = precioMetaNum;\n            fuente_precio = \"meta_tag_fallback\";\n        } else if (precioHTMLVisible) {\n            precio_bruto = precioHTMLVisible;\n            fuente_precio = \"html_visible_fallback\";\n        }\n    } else {\n        if (precioMetaNum) {\n            precio_bruto = precioMetaNum;\n            fuente_precio = \"meta_tag\";\n        } else if (precioHTMLVisible) {\n            precio_bruto = precioHTMLVisible;\n            fuente_precio = \"html_visible\";\n        } else if (precioExplicitoDesc) {\n            precio_bruto = precioExplicitoDesc;\n            fuente_precio = \"descripcion_fallback\";\n        }\n    }\n\n    const normalizacionPrincipal = normalizarPrecioUSD(precio_bruto, descripcionSegura);\n    const normalizacionDesc = precioExplicitoDesc ? \n        normalizarPrecioUSD(precioExplicitoDesc, descripcionSegura) : { precio: null };\n\n    let conflicto_precio = false;\n    if (normalizacionPrincipal.precio && normalizacionDesc.precio && \n        fuente_precio !== \"descripcion_fallback\" && \n        fuente_precio !== \"descripcion_tc_explicito\") {\n\n        const diff = Math.abs(normalizacionPrincipal.precio - normalizacionDesc.precio) / \n                    normalizacionPrincipal.precio;\n        if (diff > 0.02) { \n            conflicto_precio = true;\n        }\n    }\n\n    const rango_normalizado = rango_precio_usd_bruto ? [\n    normalizarPrecioUSD(rango_precio_usd_bruto[0], descripcionSegura).precio,\n    rango_precio_usd_bruto[1] ? normalizarPrecioUSD(rango_precio_usd_bruto[1], descripcionSegura).precio : null\n    ] : null;\n\n    // 🆕 v15.0: Lógica de rangos falsos CORREGIDA\n    let precio_min_final = null;\n    let precio_max_final = null;\n    let es_rango_falso = false;\n\n    if (esMultiproyecto && normalizacionPrincipal.precio) {\n        // CASO 1: Rango completo (min y max detectados)\n        if (rango_normalizado && rango_normalizado[1] !== null) {\n            precio_min_final = rango_normalizado[0];\n            precio_max_final = rango_normalizado[1];\n            es_rango_falso = false;\n        }\n        // CASO 2: Solo \"desde X\" (sin máximo) → Rango falso\n        else if (rango_normalizado && rango_normalizado[1] === null) {\n            precio_min_final = rango_normalizado[0];\n            precio_max_final = rango_normalizado[0];  // ✅ MISMO VALOR\n            es_rango_falso = true;                    // ✅ TRUE\n        }\n        // CASO 3: Sin rango detectado en absoluto → Rango falso\n        else {\n            precio_min_final = normalizacionPrincipal.precio;\n            precio_max_final = normalizacionPrincipal.precio;\n            es_rango_falso = true;\n        }\n    } else {\n        // Propiedad individual: rangos en null\n        precio_min_final = rango_normalizado ? rango_normalizado[0] : null;\n        precio_max_final = rango_normalizado ? rango_normalizado[1] : null;\n        es_rango_falso = false;\n    }\n\n    // 🆕 v16.5: Detectar moneda original\n    const moneda_original = detectarMonedaOriginal(normalizacionPrincipal);\n    const es_rango_falso_positivo = (precio_min_final && precio_max_final && \n                                      precio_min_final === precio_max_final && \n                                      !esMultiproyecto);\n    return {\n        precio_usd: normalizacionPrincipal.precio,\n        precio_usd_original: normalizacionPrincipal.precio_original,\n        precio_fue_normalizado: normalizacionPrincipal.normalizado,\n        precio_min_usd: precio_min_final,      \n        precio_max_usd: precio_max_final,\n        es_rango_falso: es_rango_falso,\n        es_rango_falso_positivo: es_rango_falso_positivo,\n        moneda_original: moneda_original,  // 🆕 NUEVO\n        fuente_precio: fuente_precio,\n        conflicto_precio: conflicto_precio\n    };\n}\n// ============================================================================\n// 📝 extraerDescripcionCompleta \n// ============================================================================\nfunction extraerDescripcionCompleta(html) {\n  if (!html) return \"\";\n  let match = html.match(/<p[^>]*style=[\"'][^\"']white-space:\\spre-wrap[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/p>/i);\n  if (match && match[1].trim()) return match[1].trim();\n  match = html.match(/<p[^>]*white-space:\\s*pre-wrap[^>]*>([\\s\\S]*?)<\\/p>/i);\n  if (match && match[1].trim()) return match[1].trim();\n  return getMeta(html, \"og:description\") || getMeta(html, \"description\") || \"\";\n}\n// ============================================================================\n// 📅 extraerFecha v24.19 (¡NUEVA FUNCIÓN!)\n// ============================================================================\nfunction extraerFecha(html) {\n    // Método 1: Meta tag \"dateModified\"\n    const dateModified = getMeta(html, \"dateModified\");\n    if (dateModified) {\n        return { fecha: dateModified, fuente: \"meta_dateModified\" };\n    }\n\n    // Método 2: Meta tag \"lastmod\"\n    const lastMod = getMeta(html, \"lastmod\");\n    if (lastMod) {\n        return { fecha: lastMod, fuente: \"meta_lastmod\" };\n    }\n\n    // Método 3: JSON-LD \"datePublished\"\n    const patron = /\"datePublished\"\\s*:\\s*\"([^\"]+)\"/i;\n    const resultado = buscarPatron(html, patron); // Usa buscarPatron\n    if (resultado && resultado[1]) {\n        return { fecha: resultado[1], fuente: \"json_ld_published\" };\n    }\n\n    // Si no se encuentra nada\n    return { fecha: null, fuente: \"no_detectado\" };\n}\n// ============================================================================\n// 🏢 extraerNombreEdificio v4.0 - CON FUZZY MATCHING\n// ============================================================================\n// CAMBIOS v4.0:\n// - Integra blacklist crítica de SNIPPET 2\n// - Función validarYLimpiarNombre() mejorada (SNIPPET 3)\n// - Fuzzy matching contra proyectos_master (SNIPPET 4)\n// - Normalización de tildes y mayúsculas\n// - Limpieza de zonas geográficas\n// ============================================================================\nfunction extraerNombreEdificio(descripcion = \"\", url = \"\", ubicacion = \"\") {\n  try {\n    // Validar tipos\n    if (typeof descripcion !== 'string') descripcion = \"\";\n    if (typeof url !== 'string') url = \"\";\n    if (typeof ubicacion !== 'string') ubicacion = \"\";\n    \n    const descLower = descripcion.toLowerCase();\n    \n    // ========================================================================\n    // FUNCIÓN AUXILIAR: validarYLimpiarNombre() - MEJORADA\n    // ========================================================================\n    function validarYLimpiarNombre(nombrePotencial, fuente = \"\") {\n      if (!nombrePotencial || typeof nombrePotencial !== 'string') return null;\n      \n      let nombreLimpio = nombrePotencial.trim();\n      \n      nombreLimpio = nombreLimpio.replace(/^En\\s+/i, '');\n      nombreLimpio = nombreLimpio.replace(/^En\\s+el\\s+/i, '');\n      nombreLimpio = nombreLimpio.replace(/^En\\s+la\\s+/i, '');\n      \n      // 1. BLACKLIST CRÍTICA - Rechazar si contiene estos términos\n      const lower = nombreLimpio.toLowerCase();\n      if (BLACKLIST_CRITICA.some(term => lower.includes(term.toLowerCase()))) {  // ← CAMBIO AQUÍ\n        return null;\n      }\n      \n      // 2. Limpiar zonas geográficas\n      nombreLimpio = limpiarZonasGeograficas(nombreLimpio);\n      \n      // 3. Limpiar sufijos de dirección\n      nombreLimpio = nombreLimpio.replace(/,\\s*(?:Av\\.?|Avenida|Calle|N°|No\\.|\\d{1,3}(?:vo|to|er)?\\s+Anillo|entre|piso|dpto|zona|barrio|lado|equipetrol).*$/i, '').trim();\n      nombreLimpio = nombreLimpio.replace(/\\s+(?:Dpto|Piso|Oficina|Torre)\\s+[A-Z0-9\\-]+.*$/i, '').trim();\n      \n      // 4. Limpiar puntuación final\n      nombreLimpio = nombreLimpio.replace(/[.,!¿?]+$/, '').trim();\n      \n      // 5. Validación de longitud\n      if (nombreLimpio.length < 3 || nombreLimpio.length > 60) return null;\n      \n      // 6. Rechazar si empieza con palabra inválida\n      const palabrasInvalidas = ['departamento', 'monoambiente', 'venta', 'alquiler', 'preventa'];\n      const palabras = nombreLimpio.split(' ');\n      const primeraPalabra = palabras[0].toLowerCase();\n      if (palabras.length > 2 && palabrasInvalidas.indexOf(primeraPalabra) !== -1) {\n        return null;\n      }\n      \n      // 7. Normalizar mayúsculas (si no es todo mayúsculas, capitalizar)\n      if (nombreLimpio !== nombreLimpio.toUpperCase()) {\n        nombreLimpio = nombreLimpio.replace(/\\b\\w/g, function(l) { return l.toUpperCase(); });\n      }\n      \n      // 8. Rechazar si es solo un término genérico\n      if (/^(Edif|Edificio|Torre|Condominio|Residencial|Proyecto|Urbanizacion|Urbanización)$/i.test(nombreLimpio)) {\n        return null;\n      }\n      \n      // 9. Rechazar si es solo números\n      if (/^\\d+$/.test(nombreLimpio)) return null;\n      \n      // 10. Limpiar guiones iniciales\n      nombreLimpio = nombreLimpio.replace(/^[-\\s]+/, '');\n      \n      return nombreLimpio;\n    }\n    \n    // ========================================================================\n    // PRIORIDAD 1: Slug de URL (Century21)\n    // ========================================================================\n    let nombrePotencial = null;\n    let fuente_nombre = \"no_detectado\";\n    let nivel_confianza = 0;\n\n    if (url) {\n      // 🆕 FIX B: BUSCAR PATRÓN \"edificio-X\" / \"condominio-X\" PRIMERO\n      const patronEdificio = url.match(/(?:edificio|condominio|cond|torre)-([a-z0-9-]+)/i);\n      if (patronEdificio && patronEdificio[1]) {\n        const nombreEdificio = patronEdificio[1]\n          .replace(/-/g, ' ')\n          .replace(/\\b\\w/g, l => l.toUpperCase());\n        \n        nombrePotencial = validarYLimpiarNombre(nombreEdificio, \"url_slug_edificio\");\n        if (nombrePotencial) {\n          fuente_nombre = \"url_slug_edificio\";\n          nivel_confianza = 0.95;  // Alta confianza (patrón explícito)\n        }\n      }\n      // FIN FIX B\n      \n      // Si no encontró patrón edificio-X, continuar con lógica original\n      if (!nombrePotencial) {\n        const slugMatch = url.match(/\\/([^\\/]+)-\\d+$/);\n        if (slugMatch && slugMatch[1]) {\n          const slug = slugMatch[1]\n            .replace(/-/g, ' ')\n            .replace(/\\b\\w/g, l => l.toUpperCase());\n          \n          // FIX 2: BUSCAR PALABRAS EN MAYÚSCULAS PRIMERO\n          const palabrasMayusculas = slug.match(/\\b[A-Z]{3,}(?:\\s+[A-Z]{3,})*\\b/);\n          if (palabrasMayusculas) {\n            nombrePotencial = validarYLimpiarNombre(palabrasMayusculas[0], \"url_slug\");\n            if (nombrePotencial) {\n              fuente_nombre = \"url_slug_mayusculas\";\n              nivel_confianza = 0.90;\n            }\n          }\n          \n          // Si no encontró mayúsculas, intentar con slug completo\n          if (!nombrePotencial) {\n            nombrePotencial = validarYLimpiarNombre(slug, \"url_slug\");\n            if (nombrePotencial) {\n              fuente_nombre = \"url_slug\";\n              nivel_confianza = 0.90;\n            }\n          }\n        }\n      }\n    }\n    \n    // ========================================================================\n    // PRIORIDAD 2: Campo ubicación\n    // ========================================================================\n    if (!nombrePotencial && ubicacion) {\n      const patterns = [\n        /(?:Edificio|Edif\\.|Torre|Condominio|Residencial|Proyecto)\\s+([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(?:\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+){0,3})/i,\n        /([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(?:\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+){1,3})\\s*,/\n      ];\n      \n      for (const pattern of patterns) {\n        const match = ubicacion.match(pattern);\n        if (match && match[1]) {\n          nombrePotencial = validarYLimpiarNombre(match[1], \"ubicacion\");\n          if (nombrePotencial) {\n            fuente_nombre = \"ubicacion\";\n            nivel_confianza = 0.85;\n            break;\n          }\n        }\n      }\n    }\n    \n    // ========================================================================\n    // PRIORIDAD 3: Descripción - Palabras clave\n    // ========================================================================\n    if (!nombrePotencial && descripcion) {\n      const keywordPatterns = [\n        /(?:Edificio|Edif\\.|Torre|Condominio|Residencial|Proyecto)\\s+([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(?:\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+){0,3})/i,\n        /\\b([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(?:\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+){1,3})\\s+(?:Equipetrol|Sirari|Urubo)/i\n      ];\n      \n      for (const pattern of keywordPatterns) {\n        const match = descripcion.match(pattern);\n        if (match && match[1]) {\n          nombrePotencial = validarYLimpiarNombre(match[1], \"descripcion_keyword\");\n          if (nombrePotencial) {\n            fuente_nombre = \"descripcion_keyword\";\n            nivel_confianza = 0.70;\n            break;\n          }\n        }\n      }\n    }\n    \n    // ========================================================================\n    // PRIORIDAD 4: Descripción - Texto en mayúsculas\n    // ========================================================================\n    if (!nombrePotencial && descripcion) {\n      const lines = descripcion.split('\\n');\n      for (const line of lines) {\n        const words = line.trim().split(/\\s+/);\n        if (words.length >= 2 && words.length <= 5) {\n          const allCaps = words.every(w => w === w.toUpperCase() && /^[A-ZÁÉÍÓÚÑ]/.test(w));\n          if (allCaps) {\n            const candidate = words.join(' ');\n            nombrePotencial = validarYLimpiarNombre(candidate, \"descripcion_mayusculas\");\n            if (nombrePotencial) {\n              fuente_nombre = \"descripcion_mayusculas\";\n              nivel_confianza = 0.60;\n              break;\n            }\n          }\n        }\n      }\n    }\n    \n    // ========================================================================\n    // FUZZY MATCHING FINAL - SNIPPET 4 INTEGRADO (CORREGIDO)\n    // ========================================================================\n    if (nombrePotencial) {\n      const matchFuzzy = buscarMatchFuzzy(nombrePotencial);\n      \n      if (matchFuzzy && matchFuzzy.score >= 65) {\n        // Match fuzzy exitoso - usar nombre del proyecto master\n        return {\n          nombre_edificio: matchFuzzy.proyecto.nombre,\n          fuente_nombre_edificio: fuente_nombre + '_fuzzy_matched',\n          nombre_edificio_nivel_confianza: matchFuzzy.score / 100,\n          id_proyecto_master_sugerido: matchFuzzy.proyecto.id,\n          metodo_match: 'fuzzy_extractor'\n        };\n      }\n      \n      // No hay match fuzzy - devolver nombre extraído con confianza ajustada\n      let confianzaAjustada = nivel_confianza;\n      \n      // Reducir confianza si el nombre es muy corto\n      if (nombrePotencial.length < 4) confianzaAjustada *= 0.5;\n      \n      // Reducir confianza si contiene números\n      if (/\\d/.test(nombrePotencial)) confianzaAjustada *= 0.9;\n      \n      return {\n        nombre_edificio: nombrePotencial,\n        fuente_nombre_edificio: fuente_nombre,\n        nombre_edificio_nivel_confianza: confianzaAjustada\n      };\n    }\n    \n    // ========================================================================\n    // NO SE DETECTÓ NOMBRE\n    // ========================================================================\n    return { \n      nombre_edificio: null, \n      fuente_nombre_edificio: \"no_detectado\", \n      nombre_edificio_nivel_confianza: 0 \n    };\n    \n  } catch (error) {\n    console.error(\"❌ Error en extraerNombreEdificio:\", error ? error.message : \"Error desconocido\");\n    return { \n      nombre_edificio: null, \n      fuente_nombre_edificio: \"error\", \n      nombre_edificio_nivel_confianza: 0 \n    };\n  }\n}\n\n\n// ============================================================================\n// 🗺️ extraerGPS (CORREGIDO - Acepta lat=0 o lon=0)\n// ============================================================================\nfunction extraerGPS(html) {\n    let lat = null;\n    let lon = null;\n    \n    // Extracción de latitud (sin cambios)\n    let matchLat = buscarPatron(html, /\"latitud\":\"(-?\\d+\\.\\d+)\"/i);\n    if (!matchLat) {\n        matchLat = buscarPatron(html, /\"latitude\":\"(-?\\d+\\.\\d+)\"/i);\n    }\n    if (matchLat && matchLat[1]) {\n        lat = parseFloat(matchLat[1]);\n    }\n    \n    // Extracción de longitud (sin cambios)\n    let matchLon = buscarPatron(html, /\"longitud\":\"(-?\\d+\\.\\d+)\"/i);\n    if (!matchLon) {\n        matchLon = buscarPatron(html, /\"longitude\":\"(-?\\d+\\.\\d+)\"/i);\n    }\n    if (matchLon && matchLon[1]) {\n        lon = parseFloat(matchLon[1]);\n    }\n\n    let coordenadas_gps = null;\n    let zona_validada = \"no_detectada\";\n    let metodo_gps = \"no_detectado\";\n\n    // 🚩 INICIO CORRECCIÓN 🚩\n    // La nueva condición verifica que sean números válidos,\n    // sin el filtro estricto de !== 0.\n    if (!isNaN(lat) && !isNaN(lon) && lat !== null && lon !== null) { \n        \n        // 1. Guardar la coordenada SIEMPRE (incluso si es 0,0)\n        coordenadas_gps = { latitud: lat, longitud: lon };\n        metodo_gps = \"structured_data\";\n\n        // 2. Manejar el caso (0,0) explícitamente para la ZONA.\n        // La coordenada se guarda, pero la zona no se valida.\n        if (lat === 0 && lon === 0) {\n            zona_validada = \"no_detectada\"; \n        } \n        // 3. Si las coordenadas NO son (0,0), procedemos a validar la zona.\n        else {\n            // ✅ RANGOS AMPLIADOS (Tu lógica de zona validada original se mantiene intacta)\n            if (lat >= -17.79 && lat <= -17.75 && lon >= -63.21 && lon <= -63.16) {\n                zona_validada = \"Equipetrol\";\n            } else if (lat >= -17.78 && lat <= -17.74 && lon >= -63.21 && lon <= -63.18) {\n                zona_validada = \"Equipetrol Norte\";\n            } else if (lat >= -17.81 && lat <= -17.77 && lon >= -63.21 && lon <= -63.17) {\n                zona_validada = \"Los Cusis/Beni\";\n            } else if (lat >= -17.77 && lat <= -17.73 && lon >= -63.15 && lon <= -63.09) {\n                zona_validada = \"Urubo\";\n            } else if (lat >= -17.78 && lat <= -17.74 && lon >= -63.18 && lon <= -63.14) {\n                zona_validada = \"Las Palmas\";\n            } else if (lat >= -17.79 && lat <= -17.75 && lon >= -63.21 && lon <= -63.17) {\n                zona_validada = \"Centro\";\n            }\n            // Si es una coordenada válida pero fuera de estas zonas (ej. \"Fuera de SCZ\"),\n            // 'zona_validada' se quedará correctamente como \"no_detectada\".\n        }\n    }\n    // 🚩 FIN CORRECCIÓN 🚩\n\n    // Si lat o lon son NULL (no se encontraron), la función devuelve \n    // coordenadas_gps: null, como debe ser.\n    // 🆕 v15.2: Fallback a meta tags si no hay GPS (SIN CHEERIO)\n    if (zona_validada === \"no_detectada\") {\n        // Extraer meta tag municipio con regex\n        const metaMunicipioMatch = html.match(/<meta\\s+name=[\"']municipio[\"']\\s+content=[\"']([^\"']+)[\"']/i);\n        let zonaMeta = metaMunicipioMatch ? metaMunicipioMatch[1] : null;\n        \n        // Fallback: meta tag direccion\n        if (!zonaMeta) {\n            const metaDireccionMatch = html.match(/<meta\\s+name=[\"']direccion[\"']\\s+content=[\"']([^\"']+)[\"']/i);\n            zonaMeta = metaDireccionMatch ? metaDireccionMatch[1] : null;\n        }\n        \n        if (zonaMeta) {\n            zonaMeta = zonaMeta.toLowerCase();\n            \n            // Detectar zona desde meta tags\n            if (/equipetrol\\s+norte/i.test(zonaMeta)) {\n                zona_validada = \"Equipetrol Norte\";\n                metodo_gps = \"inferido_meta_tag\";\n            } else if (/equipetrol/i.test(zonaMeta)) {\n                zona_validada = \"Equipetrol\";\n                metodo_gps = \"inferido_meta_tag\";\n            } else if (/los\\s+cusis|beni/i.test(zonaMeta)) {\n                zona_validada = \"Los Cusis/Beni\";\n                metodo_gps = \"inferido_meta_tag\";\n            } else if (/urubo/i.test(zonaMeta)) {\n                zona_validada = \"Urubo\";\n                metodo_gps = \"inferido_meta_tag\";\n            } else if (/las\\s+palmas/i.test(zonaMeta)) {\n                zona_validada = \"Las Palmas\";\n                metodo_gps = \"inferido_meta_tag\";\n            } else if (/centro/i.test(zonaMeta)) {\n                zona_validada = \"Centro\";\n                metodo_gps = \"inferido_meta_tag\";\n            }\n        }\n    }\n  // ✅ RETURN FINAL (FALTABA ESTO)\n    return { latitud: lat, longitud: lon, coordenadas_gps, zona_validada_gps: zona_validada, metodo_gps };\n}\n// ============================================================================\n// 🧑‍💼 extraerAgente\n// ============================================================================\nfunction extraerAgente(html) {\n  let agente_nombre = null;\n  let agente_telefono = null;\n\n  const nombreMatch = html.match(/<img[^>]+alt=[\"']asesor[^\"']*[\"'][^>]*>\\s*<h6[^>]*card-subtitle[^>]*>(.*?)<\\/h6>/i);\n  \n  if (nombreMatch) {\n    agente_nombre = nombreMatch[1].trim();\n  } else {\n    const h6Match = html.match(/<h6[^>]*card-subtitle[^>]*>(?!<span>)(.*?)<\\/h6>/i);\n    if (h6Match && !/<span>/i.test(h6Match[1])) {\n      const nombre = h6Match[1].trim();\n      if (!/equipetrol|santa cruz|bolivia|zona|calle|av\\.|avenida/i.test(nombre)) {\n        agente_nombre = nombre;\n      }\n    }\n  }\n\n  const telMatch = html.match(/(?:href=[\"']tel:)(\\+?\\d{11,15})/i);\n  if (telMatch) {\n    agente_telefono = telMatch[1].startsWith('+') ? telMatch[1] : `+${telMatch[1]}`;\n  }\n\n  const url_whatsapp = agente_telefono \n    ? `https://wa.me/${agente_telefono.replace('+', '')}` \n    : null;\n\n  return {\n    agente_nombre,\n    agente_telefono,\n    url_whatsapp\n  };\n}\n\n// ============================================================================\n// 🏢 extraerOficina \n// ============================================================================\nfunction extraerOficina(html) {\n  const oficina_nombre = getMeta(html, \"oficina\") || getMeta(html, \"author\") || null;\n  let oficina_telefono = null;\n  let oficina_direccion = null;\n\n  const jsonLdMatch = html.match(/<script type=\"application\\/ld\\+json\">([\\s\\S]*?)<\\/script>/gi);\n\n  if (jsonLdMatch) {\n    for (const script of jsonLdMatch) {\n      try {\n        const data = JSON.parse(script.replace(/<\\/?script[^>]*>/gi, ''));\n        \n        if (data['@type'] === 'Organization' || data['@type'] === 'RealEstateAgent') {\n          oficina_telefono = data.telephone || null;\n          \n          if (data.address && data.address.streetAddress) {\n            oficina_direccion = data.address.streetAddress;\n          }\n        }\n      } catch (e) {\n        // Ignorar errores de parsing\n      }\n    }\n  }\n\n  return {\n    oficina_nombre,\n    oficina_telefono,\n    oficina_direccion\n  };\n}\n\n// ============================================================================\n// 🖼️ extraerFotos \n// ============================================================================\nfunction extraerFotos(html) {\n  const fotos = [];\n\n  const jsonLdMatch = html.match(/<script type=\"application\\/ld\\+json\">([\\s\\S]*?)<\\/script>/gi);\n\n  if (jsonLdMatch) {\n    for (const script of jsonLdMatch) {\n      try {\n        const data = JSON.parse(script.replace(/<\\/?script[^>]*>/gi, ''));\n        \n        if (data['@type'] === 'RealEstateListing' && data.image) {\n          if (Array.isArray(data.image)) {\n            fotos.push(...data.image);\n          } else {\n            fotos.push(data.image);\n          }\n          break;\n        }\n      } catch (e) {\n        // Ignorar errores\n      }\n    }\n  }\n\n  if (fotos.length === 0) {\n    const ogImageMatch = html.match(/<meta property=\"og:image(?::secure_url)?\" content=\"([^\"]+)\"/i);\n    if (ogImageMatch) {\n      fotos.push(ogImageMatch[1]);\n    }\n  }\n\n  if (fotos.length === 0) {\n    const imgMatches = html.matchAll(/<img[^>]+src=[\"'](\\/\\/cdn\\.21online\\.lat\\/[^\"']+)[\"'][^>]*alt=[\"'][^\"']*(?:Foto|Departamento|Casa|Propiedad)[^\"']*[\"']/gi);\n    for (const match of imgMatches) {\n      fotos.push(match[1]);\n    }\n  }\n\n  const fotosPropiedad = fotos.filter(url => {\n    const esUsuario = /\\/usuarios\\/\\d+/.test(url);\n    const esLogo = /\\/logos?\\//.test(url);\n    const esIcono = /\\/(favicon|icon|badge)\\./.test(url);\n    \n    return !esUsuario && !esLogo && !esIcono;\n  });\n\n  const fotosUnicas = [...new Set(fotosPropiedad)]\n    .map(url => url.replace(/^http:/, 'https:'))\n    .filter(url => url && url.startsWith('https://'));\n\n  return {\n    fotos_urls: fotosUnicas,\n    cantidad_fotos: fotosUnicas.length,\n    tiene_fotos: fotosUnicas.length > 0\n  };\n}\n//============================================================================\n// 🏘️ detectarMultiproyecto v2.1 (MEJORADO - v14.2)\n// ============================================================================\n// CHANGELOG v2.1:\n// - ✅ Agregado: Detección de \"desde X\" sin \"hasta Y\"\n// - ✅ Agregado: Detección de \"precio desde\"\n// - ✅ Agregado: Detección de \"a partir de X m²\"\n// - ✅ Agregado: Plural \"departamentos/casas\" + singular \"1 dormitorio\"\n// - ✅ Mejorado: Detección de \"disponibles\" o \"disponibilidad\"\n// ============================================================================\nfunction detectarMultiproyecto(descripcion = \"\") {\n  if (typeof descripcion !== 'string') return false;\n  const desc = descripcion.toLowerCase();\n  \n  const tiene_multiples_dormitorios = /\\d+\\s*(?:,|y|o)\\s*\\d+\\s+dormitorios?/i.test(desc);\n  const tiene_varias_tipologias = /varias\\s+(tipolog[ií]as?|opciones)/i.test(desc);\n  const tiene_diferentes_modelos = /diferentes\\s+(tipolog[ií]as?|modelos|plantas)/i.test(desc);\n  const tiene_rango_areas = /de\\s+\\d+\\s*m[²2]\\s+hasta\\s+\\d+\\s*m[²2]/i.test(desc);\n  const tiene_desde_area = /(?:desde|a\\s+partir\\s+de|superficie\\s+desde)\\s+\\d+\\s*m[²2]/i.test(desc);\n  const tiene_precio_desde = /(?:precio\\s+desde|desde\\s+\\$?\\s?(?:us\\.?|usd)|a\\s+partir\\s+de\\s+\\$?\\s?(?:us\\.?|usd))\\s?[\\d.,]+/i.test(desc);\n  \n  const es_plural = /(?:departamentos|casas|monoambientes|unidades)\\b/i.test(desc);\n  const tiene_indicador_multiple = /(?:desde|disponibles?|disponibilidad|varias?\\s+unidades)/i.test(desc);\n  const plural_con_indicador = es_plural && tiene_indicador_multiple;\n  \n  const tiene_disponibilidad_tipos = /disponibilidad\\s*:?\\s*(?:monoambientes?|departamentos?|casas?)/i.test(desc);\n  \n  return tiene_multiples_dormitorios || \n         tiene_varias_tipologias || \n         tiene_diferentes_modelos ||\n         tiene_rango_areas ||\n         tiene_desde_area ||\n         tiene_precio_desde ||\n         plural_con_indicador ||\n         tiene_disponibilidad_tipos;\n}\n\n// ============================================================================\n// 📏 extraerArea v14.5 (CIRUGÍA DE PRECISIÓN)\n// ============================================================================\n// CORRECCIONES:\n// 1. Añadida Prioridad #1: getMeta(html, \"MC\") - La fuente más confiable.\n// 2. Corregida la RegEx \"patronTabla\" para usar [\\s\\S]*? (captura <br>).\n// 3. Reordenada la jerarquía de prioridad para ser más segura.\n// ============================================================================\nfunction extraerArea(html, descripcion = \"\") {\n    \n    // ========================================================================\n    // PRIORIDAD 1: Meta tag \"MC\" (Metros Construidos) - VISTO EN ID 1049\n    // ========================================================================\n    const metaAreaMC = getMeta(html, \"MC\");\n    if (metaAreaMC && metaAreaMC !== \"null\") {\n        const metaLimpio = String(metaAreaMC).replace(',', '.');\n        const metaArea = parseFloat(metaLimpio) || 0;\n        \n        if (metaArea >= 20 && metaArea < 5000) { // Rango ampliado para Penthouses\n            return {\n                area_total_m2: metaArea,\n                fuente_area: \"meta_MC\",\n                nivel_confianza: 0.95\n            };\n        }\n    }\n\n    // ========================================================================\n    // PRIORIDAD 2: Meta tag \"area\" (Lógica antigua)\n    // ========================================================================\n    const metaAreaRaw = getMeta(html, \"area\");\n    if (metaAreaRaw && metaAreaRaw !== \"null\") {\n        const metaLimpio = String(metaAreaRaw).replace(',', '.');\n        const metaArea = parseFloat(metaLimpio) || 0;\n        \n        if (metaArea >= 20 && metaArea < 5000) {\n            return {\n                area_total_m2: metaArea,\n                fuente_area: \"meta_area\",\n                nivel_confianza: 0.90\n            };\n        }\n    }\n\n    // ========================================================================\n    // PRIORIDAD 3: Tabla HTML Visible (Lógica v14.4 CORREGIDA)\n    // ========================================================================\n    // RegEx corregida: [\\s\\S]*? captura CUALQUIER carácter (incluyendo <br>)\n    // entre la palabra clave y el número.\n    const patronTablaVisible = /(?:Construcción|Superficie)[\\s\\S]*?([\\d,\\.]+)\\s*m[²2]/i;\n    const resultTablaVisible = html.match(patronTablaVisible);\n\n    if (resultTablaVisible && resultTablaVisible[1]) {\n        const areaTabla = parseFloat(resultTablaVisible[1].replace(',', '.'));\n        if (areaTabla >= 20 && areaTabla < 5000) {\n            return {\n                area_total_m2: areaTabla,\n                fuente_area: \"html_tabla_visible\",\n                nivel_confianza: 0.85 \n            };\n        }\n    }\n    \n    // ========================================================================\n    // PRIORIDAD 4: Descripción (Último recurso)\n    // ========================================================================\n    if (typeof descripcion === 'string') {\n        const patronSimple = /(\\d+(?:[,\\.]\\d+)?)\\s*m[²2t]/i;\n        const resultado = descripcion.match(patronSimple);\n        \n        if (resultado && resultado[1]) {\n            const area = parseFloat(resultado[1].replace(',', '.'));\n            \n            if (area >= 20 && area < 5000) {\n                return {\n                    area_total_m2: area,\n                    fuente_area: \"descripcion\",\n                    nivel_confianza: 0.60\n                };\n            }\n        }\n    }\n    \n    // ========================================================================\n    // Sin área válida\n    // ========================================================================\n    return {\n        area_total_m2: null,\n        fuente_area: \"no_detectado\",\n        nivel_confianza: 0\n    };\n}\n\n\n// ============================================================================\n// 🛏️ extraerEstructura v14.8 (MEJORADO - Detecta todas las variantes de multiproyectos)\n// ============================================================================\nfunction extraerEstructura(html, descripcion, esMultiproyecto) {\n    if (typeof descripcion !== 'string') descripcion = \"\";\n\n    const dormMetaRaw = getMeta(html, \"recamaras\");\n    const dormMeta = (dormMetaRaw && dormMetaRaw !== \"null\") ? parseInt(dormMetaRaw) || 0 : 0;\n\n    let dormTabla = 0;\n    const patronDormTabla = /Dormitorios?\\s*([\\d,\\.]+)/i; \n    const matchDormTabla = html.match(patronDormTabla);\n    if (matchDormTabla && matchDormTabla[1]) {\n        dormTabla = parseInt(matchDormTabla[1].replace(/[.,]/g, '')) || 0;\n    }\n\n    let matchesDorm = [];\n\n    // ========================================================================\n    // PATRÓN 1: \"1, 2 dormitorios\" o \"1, 2 y 3 dormitorios\" (CON COMA)\n    // ========================================================================\n    const patronLista = /(\\d+)\\s*[,y]\\s*(\\d+)(?:\\s*[y,]\\s*(\\d+))?\\s*dormitorios?/i;\n    const resultLista = buscarPatron(descripcion, patronLista);\n    if (resultLista) {\n        matchesDorm.push(parseInt(resultLista[1]));\n        matchesDorm.push(parseInt(resultLista[2]));\n        if (resultLista[3]) {\n            matchesDorm.push(parseInt(resultLista[3]));\n        }\n    }\n\n    // ========================================================================\n    // PATRÓN 2: \"1 y 2 dormitorios\" (SIN COMA) - NUEVO v14.6\n    // ========================================================================\n    if (matchesDorm.length === 0) {\n        const patronYSinComa = /(\\d+)\\s+y\\s+(\\d+)\\s+dormitorios?/i;\n        const resultYSinComa = buscarPatron(descripcion, patronYSinComa);\n        if (resultYSinComa) {\n            matchesDorm.push(parseInt(resultYSinComa[1]));\n            matchesDorm.push(parseInt(resultYSinComa[2]));\n        }\n    }\n\n    // ========================================================================\n    // PATRÓN 3: \"de un y dos dormitorios\" (PALABRAS) - NUEVO v14.6\n    // ========================================================================\n    if (matchesDorm.length === 0) {\n        const palabrasNumeros = {\n            'un': 1, 'uno': 1, 'una': 1,\n            'dos': 2,\n            'tres': 3,\n            'cuatro': 4\n        };\n        \n        const patronPalabras = /(?:de\\s+)?(un|uno|una|dos|tres|cuatro)\\s+y\\s+(un|uno|una|dos|tres|cuatro)\\s+dormitorios?/i;\n        const resultPalabras = buscarPatron(descripcion, patronPalabras);\n        \n        if (resultPalabras && resultPalabras[1] && resultPalabras[2]) {\n            const num1 = palabrasNumeros[resultPalabras[1].toLowerCase()];\n            const num2 = palabrasNumeros[resultPalabras[2].toLowerCase()];\n            if (num1) matchesDorm.push(num1);\n            if (num2) matchesDorm.push(num2);\n        }\n    }\n\n    // ========================================================================\n    // PATRÓN 4: 1D / 2D / 3D (MUY COMÚN EN CENTURY21 BOLIVIA) - NUEVO v14.8\n    // ========================================================================\n    if (matchesDorm.length <= 1) {\n        const patronD = /(\\d)D\\b/gi;\n        let m;\n        while ((m = patronD.exec(descripcion)) !== null) {\n            const num = parseInt(m[1]);\n            if (num >= 1 && num <= 4) matchesDorm.push(num);\n        }\n    }\n\n    // ========================================================================\n    // PATRÓN 5: \"de 1 a 3 dormitorios\", \"1 al 3 dormitorios\" - NUEVO v14.8\n    // ========================================================================\n    if (matchesDorm.length <= 1) {\n        const patronRango = /(?:de|con)\\s+(\\d)\\s*(?:a|-|al|hasta)\\s+(\\d)\\s+dormitorios?/i;\n        const matchRango = descripcion.match(patronRango);\n        if (matchRango) {\n            const desde = parseInt(matchRango[1]);\n            const hasta = parseInt(matchRango[2]);\n            for (let i = desde; i <= hasta; i++) {\n                if (i >= 1 && i <= 4) matchesDorm.push(i);\n            }\n        }\n    }\n\n    // ========================================================================\n    // PATRÓN 6: Buscar \"N dormitorio\" individualmente (FALLBACK)\n    // ========================================================================\n    if (matchesDorm.length === 0) {\n        const patronDorm = /(\\d+)\\s+dormitorio/gi;\n        const regex = new RegExp(patronDorm.source, patronDorm.flags);\n        let resultado;\n\n        while ((resultado = regex.exec(descripcion)) !== null) {\n            matchesDorm.push(parseInt(resultado[1]));\n        }\n    }\n\n    // ========================================================================\n    // DETECCIÓN DE MONOAMBIENTES EN MULTIPROYECTOS (v14.5 + mejorado)\n    // ========================================================================\n    if (esMultiproyecto) {\n        const testMonoambieteMulti = /monoambientes|mono[\\s-]?ambientes/i;\n        if (testMonoambieteMulti.test(descripcion)) {\n            matchesDorm.push(0);\n        }\n    }\n\n    const dormDesc = matchesDorm.length ? Math.max.apply(null, matchesDorm) : 0;\n    let dormitorios;\n    let fuente_confianza_dormitorios;\n    let dormitorios_opciones = null;\n    let dormitorios_categoria = null;\n\n    // ========================================================================\n    // LÓGICA DE ASIGNACIÓN (Multiproyecto vs Unidad Individual)\n    // ========================================================================\n    if (esMultiproyecto && matchesDorm.length >= 1) {\n        // Crear array de únicos\n        const unicos = [];\n        for (let i = 0; i < matchesDorm.length; i++) {\n            if (unicos.indexOf(matchesDorm[i]) === -1) {\n                unicos.push(matchesDorm[i]);\n            }\n        }\n        dormitorios_opciones = unicos.sort(function(a, b) { return a - b; });\n        dormitorios = null;  // En multiproyecto no se asigna número fijo\n        dormitorios_categoria = dormitorios_opciones.join(\", \") + \" dormitorios\";\n        fuente_confianza_dormitorios = \"descripcion_multiproyecto\";\n    } else {\n        // Unidad individual (NO multiproyecto)\n        dormitorios = dormMeta || dormTabla || dormDesc;\n        fuente_confianza_dormitorios = dormMeta ? \"meta\" :\n                                        dormTabla ? \"html_tabla\" :\n                                        dormDesc ? \"descripcion\" : \"no_definido\";\n    }\n\n    const nivelDescripcion = descripcion.length > 300 ? \"detallada\" : \n                            descripcion.length > 150 ? \"media\" : \"corta\";\n\n    // ========================================================================\n    // DETECCIÓN DE MONOAMBIENTE (Unidad individual)\n    // ========================================================================\n    const testMonoambiente = /monoambiente|mono[\\\\s-]?ambiente|estudio|studio|loft\\\\s*tipo\\\\s*mono/i;\n    let es_monoambiente = testMonoambiente.test(descripcion);\n\n    if (es_monoambiente && dormitorios > 1) {\n        es_monoambiente = false;\n    }\n\n    // 🆕 FIX: Si es multiproyecto con múltiples tipologías, NO puede ser monoambiente\n    if (es_monoambiente && esMultiproyecto && dormitorios_opciones && dormitorios_opciones.length > 1) {\n        es_monoambiente = false;\n    }\n\n    if (es_monoambiente) {\n        dormitorios = 0;\n        if (fuente_confianza_dormitorios === 'no_definido' || dormitorios > 0) {\n            fuente_confianza_dormitorios = \"descripcion_monoambiente\";\n        }\n    }\n\n    return {\n        dormitorios: dormitorios,\n        dormitorios_opciones: dormitorios_opciones,\n        dormitorios_categoria: dormitorios_categoria,\n        fuente_confianza_dormitorios: fuente_confianza_dormitorios,\n        es_monoambiente: es_monoambiente,\n        nivelDescripcion: nivelDescripcion\n    };\n}\n\n  \n// ============================================================================\n// 🚿 extraerBanos v24.21 (Fix \"N dormitorios en suite\")\n// ============================================================================\nfunction extraerBanos(html, descripcion = \"\") {\n    if (typeof descripcion !== 'string') descripcion = \"\";\n    \n    const metaBanosRaw = getMeta(html, \"banio\");\n    const metaBanos = (metaBanosRaw && metaBanosRaw !== \"null\") ? parseInt(metaBanosRaw) || 0 : 0;\n    \n    // ✅ INICIO CORRECCIÓN P3 (Leer tabla HTML)\n    let banosTabla = 0;\n    // Busca \"Baños 1\" en la tabla de íconos\n    const patronBanosTabla = /Baños?\\s*([\\d,\\.]+)/i;\n    const matchBanosTabla = html.match(patronBanosTabla);\n    if (matchBanosTabla && matchBanosTabla[1]) {\n        banosTabla = parseInt(matchBanosTabla[1]) || 0;\n    }\n    // ✅ FIN CORRECCIÓN P3\n\n    const matches = [];\n    const patronBano = /(\\d+)\\s+ba[ñn]/gi;\n    const regex = new RegExp(patronBano.source, patronBano.flags);\n    let resultado;\n    while ((resultado = regex.exec(descripcion)) !== null) {\n        matches.push(parseInt(resultado[1]));\n    }\n    \n    const detectadoTexto = matches.length ? Math.max.apply(null, matches) : 0;\n    // ✅ CORRECCIÓN P3: Añadir banosTabla a la prioridad\n    // ANTES: const total = Math.max(metaBanos, detectadoTexto);\n    const total = Math.max(metaBanos, banosTabla, detectadoTexto);\n    \n    const testSocial = /ba[ñn]o\\s+(de\\s+visitas|social|medio)/i;\n    const tieneSocial = testSocial.test(descripcion);\n    \n    // ✅ CORRECCIÓN P3: Simplificar y corregir la lógica de la fuente\n    // ANTES: const fuente_confianza_banos = metaBanos > 0 && detectadoTexto > 0 ? \"meta_y_descripcion\" : ...\n    let fuente_confianza_banos = \"no_definido\";\n    if (total > 0) {\n        fuente_confianza_banos = (total === metaBanos) ? \"meta\" :\n                                 (total === banosTabla) ? \"html_tabla\" :\n                                 (total === detectadoTexto) ? \"descripcion\" : \"fuente_mixta\";\n    }\n\n    // ANTES: const conflicto_banos = metaBanos > 0 && detectadoTexto > 0 && ...\n    // AHORA:\n    const fuentesDetectadas = [metaBanos, banosTabla, detectadoTexto].filter(v => v > 0);\n    let conflicto_banos = false;\n    if (fuentesDetectadas.length > 1) {\n        const min = Math.min(...fuentesDetectadas);\n        const max = Math.max(...fuentesDetectadas);\n        if (max - min > 1) { // Conflicto si la diferencia es más de 1\n            conflicto_banos = true;\n        }\n    }\n    \n    // ========================================================================\n    // 🆕 FIX: DETECCIÓN MEJORADA DE \"N DORMITORIOS EN SUITE\"\n    // ========================================================================\n    let banosContexto = 0;\n    \n    // 🆕 NUEVO: Capturar el NÚMERO de dormitorios en suite\n    const patronEnSuite = /(\\d+)\\s+dormitorios?\\s+en\\s+suite/i;\n    const matchEnSuite = descripcion.match(patronEnSuite);\n    \n    if (matchEnSuite && matchEnSuite[1]) {\n        // Si dice \"3 dormitorios en suite\", son 3 baños\n        banosContexto = parseInt(matchEnSuite[1]);\n    } \n    // Fallback: Si solo dice \"en suite\" sin número, contar como +1\n    else {\n        const tieneEnSuite = /\\b(?:en\\s+suite|ensuite|dormitorio.*en\\s+suite|suite.*ba[ñn]o)\\b/i.test(descripcion);\n        const mencionaEdificio = /\\b(?:edificio|condominio|torre)\\s+.*\\b(?:en\\s+suite|suite)\\b/i.test(descripcion);\n        \n        if (tieneEnSuite && !mencionaEdificio) {\n            banosContexto += 1;\n        }\n    }\n    \n    // Contar \"baño de visitas\" o \"baño social\"\n    const tieneBanoVisitas = /\\b(?:ba[ñn]o\\s+(?:de\\s+)?(?:visitas?|social))\\b/i.test(descripcion);\n    const esAreaComun = /\\b(?:edificio|áreas?\\s+comunes?|condominio|zonas?\\s+comunes?)\\s+.*\\bba[ñn]o/i.test(descripcion);\n    \n    if (tieneBanoVisitas && !esAreaComun) {\n        banosContexto += 1;\n    }\n    \n    let totalFinal = total;\n    let fuenteFinal = fuente_confianza_banos;\n    \n    if (banosContexto > total && banosContexto <= 4) {\n        totalFinal = banosContexto;\n        fuenteFinal = \"descripcion_contexto\";\n    }\n    \n    // ========================================================================\n    // 🆕 Si es MONOAMBIENTE y no hay info explícita, inferir 1 baño\n    // ========================================================================\n    const es_monoambiente = /monoambiente|mono[\\s-]?ambiente|estudio|studio|loft\\s*tipo\\s*mono/i.test(descripcion);\n    \n    if (totalFinal === 0 && fuenteFinal === 'no_definido') {\n        if (es_monoambiente) {\n            return { \n                total: 1, \n                tieneSocial: tieneSocial, \n                fuente_confianza_banos: \"inferido_monoambiente\",\n                conflicto_banos: false \n            };\n        } else {\n            return { \n                total: 1, \n                tieneSocial: tieneSocial, \n                fuente_confianza_banos: \"por_defecto\",\n                conflicto_banos: conflicto_banos \n            };\n        }\n    }\n    \n    // ✅ ÚNICO RETURN FINAL (se eliminó la duplicación)\n    return { \n        total: totalFinal,\n        tieneSocial: tieneSocial, \n        fuente_confianza_banos: fuenteFinal,\n        conflicto_banos: conflicto_banos \n    };\n}\n\n\n// ============================================================================\n//Exraer modalidad (ventas/alquiler/anticretico)\n// ============================================================================\nfunction extraerModalidad(html, descripcion = \"\") {\n  const metaModalidad = getMeta(html, \"tipoOperacion\");\n  if (metaModalidad) {\n    const m = metaModalidad.toLowerCase();\n    if (/venta/.test(m)) return \"venta\";\n    if (/renta|alquiler/.test(m)) return \"alquiler\";\n    if (/anticr[eé]tico/.test(m)) return \"anticretico\";\n  }\n  const desc = descripcion.toLowerCase();\n  if (/venta|en\\s+venta|for\\s+sale/.test(desc)) return \"venta\";\n  if (/alquiler|renta|arriendo|rental|for\\s+rent/.test(desc)) return \"alquiler\";\n  if (/anticr[eé]tico/.test(desc)) return \"anticretico\";\n  return \"no_especificado\";\n}\n\n// ============================================================================\n// 💱 convertirPrecioABolivianos v16.2 (CON TC PARALELO)\n// ============================================================================\nfunction convertirPrecioABolivianos(precio_usd, precio_fue_normalizado, tipo_cambio_detectado) {\n  if (!precio_usd) return { \n    precio_bs: null, \n    tipo_cambio_usado: null,\n    tipo_cambio_paralelo_usado: null \n  };\n\n  const tc_oficial = CONFIG.TIPO_CAMBIO_USD_BS_OFICIAL;\n  \n  // 🆕 Guardar TC paralelo si se usó en la normalización\n  const tc_paralelo = (tipo_cambio_detectado === 'paralelo' && precio_fue_normalizado) \n    ? CONFIG.TIPO_CAMBIO_USD_BS_PARALELO \n    : null;\n\n  return {\n    precio_bs: Math.round(precio_usd * tc_oficial),\n    tipo_cambio_usado: tc_oficial,\n    tipo_cambio_paralelo_usado: tc_paralelo  // 🆕 NUEVO\n  };\n}\n\n// ============================================================================\n// VALIDACION DE CONFLICTOS\n// ============================================================================\nfunction validarConflictos(data, esMultiproyecto) {\n    const conflictos = [];\n\n    // ========================================================================\n    // 🆕 VALIDACIÓN DE MONOAMBIENTES (Mejorada)\n    // ========================================================================\n    if (data.es_monoambiente) {\n        // Conflicto: Monoambiente con dormitorios\n        if (data.dormitorios > 0) {\n            conflictos.push({\n                tipo: \"monoambiente_con_dormitorios\",\n                descripcion: \"Marcado como monoambiente pero indica dormitorios\",\n                severidad: \"media\"\n            });\n        }\n        \n        // Conflicto informativo: Monoambiente con múltiples baños (poco común)\n        if (data.banos > 1) {\n            conflictos.push({\n                tipo: \"monoambiente_banos_inusual\",\n                descripcion: \"Monoambiente con cantidad de baños inusual\",\n                severidad: \"baja\"\n            });\n        }\n    }\n\n    // ========================================================================\n    // ✅ FIX: Cambiar data.tipo_propiedad por data.es_monoambiente\n    // ========================================================================\n    if (!esMultiproyecto) {\n        if (data.es_monoambiente && data.dormitorios > 0) {  // ← CORREGIDO\n            conflictos.push({\n                tipo: \"tipo_vs_dormitorios\",\n                descripcion: \"Monoambiente con dormitorios detectados\",\n                severidad: \"media\"\n            });\n        }\n    }\n\n    // ========================================================================\n    // Conflicto de precio (severidad ALTA)\n    // ========================================================================\n    if (data.precio_conflicto) {\n        conflictos.push({\n            tipo: \"precio_meta_vs_descripcion\",\n            descripcion: \"Diferencia >15% entre precio meta y descripción\",\n            severidad: \"alta\"\n        });\n    }\n\n    // ========================================================================\n    // Conflicto de baños (solo si NO es monoambiente)\n    // ========================================================================\n    if (data.conflicto_banos && !data.es_monoambiente) {\n        conflictos.push({\n            tipo: \"banos_meta_vs_descripcion\",\n            descripcion: \"Diferencia >1 baño entre meta y descripción\",\n            severidad: \"baja\"\n        });\n    }\n\n    return conflictos;\n}\n\n// ============================================================================\n// 🆕 VALIDACIÓN DE CONFLICTOS DE NOMBRE DE EDIFICIO\n// ============================================================================\nfunction validarConflictoNombreEdificio(data) {\n  const conflictos = [];\n\n  const nombre = (data.nombre_edificio || \"\").trim();\n  const confianza = data.nombre_edificio_nivel_confianza ?? 0;\n\n  // 1️⃣ Si no hay nombre o es muy corto\n  if (!nombre || nombre.length < 3) {\n    conflictos.push({\n      tipo: \"nombre_edificio_faltante\",\n      descripcion: \"No se detectó un nombre válido de edificio.\",\n      severidad: \"media\"\n    });\n  }\n\n  // 2️⃣ Si el nombre es genérico\n  if (/^(edificio|condominio|torre|residencial)$/i.test(nombre)) {\n    conflictos.push({\n      tipo: \"nombre_edificio_generico\",\n      descripcion: `Nombre genérico detectado ('${nombre}')`,\n      severidad: \"baja\"\n    });\n  }\n\n  // 3️⃣ Si la confianza del nombre es baja\n  if (confianza < 0.7) {\n    conflictos.push({\n      tipo: \"nombre_edificio_baja_confianza\",\n      descripcion: `Nivel de confianza bajo (${confianza.toFixed(2)})`,\n      severidad: confianza < 0.5 ? \"media\" : \"baja\"\n    });\n  }\n\n  return conflictos;\n}\n\n\n// ============================================================================\n// 📊 calcularNivelConfianza v1.5 (con impacto de confianza por nombre edificio)\n// ============================================================================\nfunction calcularNivelConfianza(data, conflictos, esMultiproyecto = false) {\n  let confianza = 1.0;\n\n  // Penalizaciones base por conflictos\n  if (conflictos.some(c => c.severidad === \"alta\")) confianza -= 0.25;\n  if (conflictos.some(c => c.severidad === \"media\")) confianza -= 0.15;\n  if (conflictos.filter(c => c.severidad === \"baja\").length > 0) confianza -= 0.05;\n\n  // Penalizaciones estructurales\n  if (!data.precio_usd) confianza -= 0.30;\n  if (data.fuente_precio === \"meta_fallback\" && esMultiproyecto) confianza -= 0.20;\n  if (data.fuente_precio === \"no_detectado\") confianza -= 0.20;\n  if (!data.coordenadas_gps) confianza -= 0.10;\n\n  // Bonificaciones\n  if (data.fuente_precio === \"descripcion_explicito_corregido\" || data.precio_fue_normalizado)\n    confianza += 0.10;\n  if (data.coordenadas_gps && data.metodo_gps === \"structured_data\")\n    confianza += 0.05;\n  if (data.fuente_confianza_banos === \"meta_y_descripcion\")\n    confianza += 0.05;\n  if (data.nivel_descripcion === \"detallada\")\n    confianza += 0.05;\n\n  // --------------------------------------------------------------------------\n  // 🆕 Ajuste por nivel de confianza del nombre del edificio\n  // --------------------------------------------------------------------------\n  if (typeof data.nombre_edificio_nivel_confianza === \"number\") {\n    const conf = data.nombre_edificio_nivel_confianza;\n\n    if (conf >= 0.9) confianza += 0.03;         // excelente detección\n    else if (conf >= 0.7) confianza += 0.00;     // neutro, no afecta\n    else if (conf >= 0.5) confianza -= 0.10;     // dudoso\n    else confianza -= 0.20;                      // falló claramente\n  } else {\n    // Si no existe nivel de confianza, penalización leve\n    confianza -= 0.10;\n  }\n\n  // Clampeo entre 0 y 1\n  return Math.max(0, Math.min(1, confianza));\n}\n\n// ============================================================================\n// 💲 estimarPrecioPorM2 v1.0 (Comparación Zonal)\n// ============================================================================\nfunction estimarPrecioPorM2(precio_usd, area_m2, zona = \"default\") {\n  if (!precio_usd || !area_m2 || area_m2 === 0) {\n    return { precio_m2: null, comparacion_media_zona: \"sin_dato\" };\n  }\n\n  const precio_m2 = precio_usd / area_m2;\n  const media_zona = CONFIG.MEDIA_ZONA_USD_M2[zona] || CONFIG.MEDIA_ZONA_USD_M2[\"default\"];\n\n  let comparacion;\n  if (precio_m2 > 1.4 * media_zona) comparacion = \"muy_por_encima\";\n  else if (precio_m2 > 1.15 * media_zona) comparacion = \"por_encima\";\n  else if (precio_m2 < 0.7 * media_zona) comparacion = \"muy_por_debajo\";\n  else if (precio_m2 < 0.85 * media_zona) comparacion = \"por_debajo\";\n  else comparacion = \"normal\";\n\n  return { precio_m2, comparacion_media_zona: comparacion };\n}\n\n// ============================================================================\n// 🆕 Función Auxiliar: extraerCaracteristicasEstructuradas (JSON-LD)\n// Prioridad: 🥇 MÁXIMA (Fuente estructurada)\n// ============================================================================\nfunction extraerCaracteristicasEstructuradas(html) {\n    const listaCompleta = [];\n    const jsonLdMatch = html.match(/(\"amenityFeature\":\\[[\\s\\S]*?\\])/i);\n\n    if (jsonLdMatch) {\n        try {\n            // Buscamos el JSON-LD del Apartment Schema\n            const fullScriptMatch = html.match(/<script type=\"application\\/ld\\+json\">([\\s\\S]*?)<\\/script>/gi);\n            let apartmentData = null;\n\n            for (const script of fullScriptMatch) {\n                // Previene errores si el script no es parseable o es otro schema\n                if (script.includes('\"@type\":\"Apartment\"')) {\n                    const data = JSON.parse(script.replace(/<\\/?script[^>]*>/gi, ''));\n                    if (Array.isArray(data.amenityFeature)) {\n                        apartmentData = data;\n                        break;\n                    }\n                }\n            }\n            \n            if (apartmentData) {\n                for (const feature of apartmentData.amenityFeature) {\n                    const nombre = feature.name.trim();\n                    // Solo si el valor es \"Sí\" y no es un campo de metadatos general (Tipo, Precio, etc.)\n                    if (nombre && String(feature.value).toLowerCase() === 'sí') {\n                        if (!['Tipo', 'Precio de Venta', 'Terreno', 'Construcción', 'Dormitorios', 'Baños', 'Año de Construcción', 'Ambientes', 'Tipo Vista', 'Estilo de Vida', 'Construcción nueva', 'Baño Privado'].some(n => nombre.includes(n))) {\n                             // --- NORMALIZACIÓN DE NOMBRES ---\n                            if (nombre === 'Pileta' || nombre === 'Piscina Privada') {\n                                listaCompleta.push('Piscina');\n                            } else if (nombre === 'Elevador') {\n                                listaCompleta.push('Ascensor');\n                            } else if (nombre === 'Servicio de Seguridad') {\n                                listaCompleta.push('Seguridad 24/7');\n                            } else if (nombre === 'Acepta Mascotas') {\n                                listaCompleta.push('Pet Friendly');\n                            } else if (nombre === 'Casa Club') {\n                                listaCompleta.push('Salón de Eventos');\n                            } else {\n                                listaCompleta.push(nombre); // Por defecto, usa el nombre del JSON-LD\n                            }\n                        }\n                    }\n                }\n            }\n        } catch (e) {\n            console.error(\"❌ Error en extraerCaracteristicasEstructuradas (JSON-LD):\", e ? e.message : \"Error desconocido\");\n        }\n    }\n    return [...new Set(listaCompleta)];\n}\n\n\n// ============================================================================\n// 🧩 extraerAmenities v25.2 (con confianza + \"por confirmar\" sin romper flujo)\n// ============================================================================\nfunction extraerAmenities(html, descripcion = \"\") {\n    const listaJSON = extraerCaracteristicasEstructuradas(html);\n    const amenitiesSet = new Set();\n    const desc = descripcion.toLowerCase();\n\n    const AMENITIES_COMUNES = [\n        \"Piscina\", \"Churrasquera\", \"Salón de Eventos\", \"Co-working\", \n        \"Área Social\", \"Seguridad 24/7\", \"Sauna/Jacuzzi\", \"Ascensor\", \n        \"Parque Infantil\", \"Terraza/Balcón\", \"Jardín\", \"Lavadero\", \n        \"Estacionamiento para Visitas\", \"Recepción\", \"Pet Friendly\", \"Gimnasio\"\n    ];\n\n    const estadoAmenities = {};\n\n    function registrar(amenity, valor, fuente, confianza) {\n        estadoAmenities[amenity] = { valor, fuente, confianza };\n    }\n\n    // 1️⃣ Desde JSON-LD (prioridad alta)\n    if (listaJSON.length > 0) {\n        listaJSON.forEach(item => {\n            if (AMENITIES_COMUNES.includes(item)) {\n                amenitiesSet.add(item);\n                registrar(item, true, \"jsonld\", \"alta\");\n            }\n        });\n    }\n\n    // 2️⃣ Desde descripción\n    const detecciones = [\n        { re: /piscina|alberca|pool|swimming/, nombre: \"Piscina\" },\n        { re: /gimnasio|gym|fitness/, nombre: \"Gimnasio\" },\n        { re: /churrasquera|bbq|barbecue|grill/, nombre: \"Churrasquera\" },\n        { re: /sal[oó]n\\s+de\\s+eventos|uso\\s+m[úu]ltiple|eventos/, nombre: \"Salón de Eventos\" },\n        { re: /cowork|co-?working/, nombre: \"Co-working\" },\n        { re: /área\\s+social|social\\s+area/, nombre: \"Área Social\" },\n        { re: /seguridad|guardia|acceso\\s+controlado|24\\/7|24\\s+hrs/, nombre: \"Seguridad 24/7\" },\n        { re: /sauna|jacuzzi|spa|hot\\s*tub/, nombre: \"Sauna/Jacuzzi\" },\n        { re: /ascensor|elevador|elevator/, nombre: \"Ascensor\" },\n        { re: /parque\\s+infantil|kids|children|playground/, nombre: \"Parque Infantil\" },\n        { re: /terraza|balc[oó]n|rooftop/, nombre: \"Terraza/Balcón\" },\n        { re: /jard[ií]n|garden/, nombre: \"Jardín\" },\n        { re: /laundry\\s+room|lavadero/, nombre: \"Lavadero\" },\n        { re: /parqueo|estacionamiento|parking/, nombre: \"Estacionamiento para Visitas\" },\n        { re: /recepci[oó]n|front\\s+desk|lobby/, nombre: \"Recepción\" },\n        { re: /pet\\s+friendly|acepta\\s+mascotas/, nombre: \"Pet Friendly\" }\n    ];\n\n    for (const { re, nombre } of detecciones) {\n        if (re.test(desc)) {\n            if (!amenitiesSet.has(nombre)) registrar(nombre, true, \"descripcion\", \"media\");\n            amenitiesSet.add(nombre);\n        }\n    }\n\n    // 🏢 NUEVO: Inferencia de Seguridad 24/7 para departamentos/edificios\n    const esDepartamento = /departamento|edificio|torre|condominio|residencial/i.test(desc);\n    if (esDepartamento && !amenitiesSet.has(\"Seguridad 24/7\")) {\n        amenitiesSet.add(\"Seguridad 24/7\");\n        registrar(\"Seguridad 24/7\", true, \"inferido_departamento\", \"media\");\n    }\n\n    // 3️⃣ Completar con \"por confirmar\" para las no detectadas\n    for (const nombre of AMENITIES_COMUNES) {\n        if (!estadoAmenities[nombre]) {\n            registrar(nombre, \"por_confirmar\", \"no_detectado\", \"baja\");\n        }\n    }\n\n    // 4️⃣ Retorno final\n    return {\n        amenities: Array.from(amenitiesSet),\n        estado_amenities: estadoAmenities\n    };\n}\n\n// ============================================================================\n// 🔧 extraerEquipamiento v16.4 - OPTIMIZADO PARA CENTURY21\n// ============================================================================\nfunction extraerEquipamiento(html, descripcion = \"\") {\n    const equipamiento = [];\n    const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n    \n    // ========================================================================\n    // 🔧 DETECCIÓN INTELIGENTE DE AMOBLADO (de Remax v1.7.2)\n    // ========================================================================\n    // Criterio 1: Menciona \"amoblado\" explícitamente\n    const mencionaAmobladoExplicito = /(?:totalmente\\s+)?amoblado|precio\\s+amoblado|furnished|viene\\s+amoblado/i.test(desc);\n    \n    // Criterio 2: NO es contexto de áreas comunes\n    const esSoloAreaComun = /(?:áreas?|zonas?)\\s+(?:comunes?|sociales?).*amoblad/i.test(desc);\n    \n    // Criterio 3: Lista muebles completos (al menos 4 de estos)\n    const muebles = {\n        cama: /\\bcama\\b|sommier|colchón/i.test(desc),\n        ropero: /\\bropero|closet|armario|vestidor\\s+amoblado/i.test(desc),\n        mesa: /\\bmesa\\b|comedor|escritorio|mesón/i.test(desc),\n        sillas: /\\bsillas?|sillones?|sofá|sala\\s+de\\s+estar/i.test(desc),\n        cocina_equipada: /cocina\\s+(?:totalmente\\s+)?equipada|menaje\\s+completo|heladera|refrigeradora|microondas/i.test(desc)\n    };\n    \n    const cantidadMuebles = Object.values(muebles).filter(Boolean).length;\n    \n    // DECISIÓN FINAL AMOBLADO\n    if (mencionaAmobladoExplicito && !esSoloAreaComun) {\n        if (!equipamiento.includes(\"Amoblado\")) {\n            equipamiento.push(\"Amoblado\");\n        }\n    } else if (cantidadMuebles >= 4 && muebles.cama && muebles.cocina_equipada) {\n        // Si tiene 4+ muebles incluyendo cama y cocina → está amoblado\n        if (!equipamiento.includes(\"Amoblado\")) {\n            equipamiento.push(\"Amoblado\");\n        }\n    }\n\n    // ========================================================================\n    // 🔧 RESTO DEL EQUIPAMIENTO - REGEX OPTIMIZADOS PARA CENTURY21\n    // ========================================================================\n    \n    // Cocina Equipada (FLEXIBLE - detecta \"Cocina Integrada tipo americana\")\n    if ((/cocina.*(americana|equipada|integrada)/i.test(desc) || /\\bequipada\\b/i.test(desc)) && !equipamiento.includes(\"Cocina Equipada\")) {\n        equipamiento.push(\"Cocina Equipada\");\n    }\n    \n    // Aire Acondicionado\n    if (/aire\\s+acondicionado|split/i.test(desc) && !equipamiento.includes(\"Aire Acondicionado\")) {\n        equipamiento.push(\"Aire Acondicionado\");\n    }\n    \n    // Lavandería (AGREGADO \"área de servicio\")\n    if (/lavander[ií]a|área\\s+de\\s+(lavado|servicio)|laundry\\s+room/i.test(desc) && !equipamiento.includes(\"Lavandería\")) {\n        equipamiento.push(\"Lavandería\");\n    }\n    \n    // Roperos Empotrados (AGREGADO \"vestidor\")\n    if (/roperos?\\s+empotrados?|cl[oó]set|walk-in|vestidor/i.test(desc) && !equipamiento.includes(\"Roperos Empotrados\")) {\n        equipamiento.push(\"Roperos Empotrados\");\n    }\n    \n    // Baño con Box\n    if (/box\\s+de\\s+baño|mampara|shower\\s+enclosure/i.test(desc) && !equipamiento.includes(\"Baño con Box\")) {\n        equipamiento.push(\"Baño con Box\");\n    }\n    \n    // Campana Extractora (ya cubre \"extractor de grasa\")\n    if (/extractor|hood|campana/i.test(desc) && !equipamiento.includes(\"Campana Extractora\")) {\n        equipamiento.push(\"Campana Extractora\");\n    }\n    \n    // Microondas\n    if (/microondas|microwave/i.test(desc) && !equipamiento.includes(\"Microondas\")) {\n        equipamiento.push(\"Microondas\");\n    }\n    \n    // Secadora\n    if (/secadora|dryer/i.test(desc) && !equipamiento.includes(\"Secadora\")) {\n        equipamiento.push(\"Secadora\");\n    }\n    \n    // Lavadora\n    if (/lavadora|washer/i.test(desc) && !equipamiento.includes(\"Lavadora\")) {\n        equipamiento.push(\"Lavadora\");\n    }\n    \n    // Horno\n    if (/horno|oven/i.test(desc) && !equipamiento.includes(\"Horno\")) {\n        equipamiento.push(\"Horno\");\n    }\n    \n    // Calefón\n    if (/calef[óo]n|calentador/i.test(desc) && !equipamiento.includes(\"Calefón\")) {\n        equipamiento.push(\"Calefón\");\n    }\n\n    return [...new Set(equipamiento)];\n} \n\n// ============================================================================\n// ✅ NUEVO v16.4: extraerEstacionamiento\n// ============================================================================\nfunction extraerEstacionamiento(descripcion) {\n  if (!descripcion) return 'sin_confirmar';\n  \n  const desc = descripcion.toLowerCase();\n  \n  // Evitar \"parqueo para visitas\" (es amenity)\n  if (/parqueo\\s+(?:para\\s+)?visitas|estacionamiento\\s+(?:para\\s+)?visitas/i.test(desc)) {\n    return 'sin_confirmar';\n  }\n  \n  // \"incluido\"\n  if (/parqueo\\s+incluido|estacionamiento\\s+incluido|incluye\\s+parqueo|incluye\\s+estacionamiento/i.test(desc)) {\n    return 'incluido';\n  }\n  \n  // \"no_incluido\"\n  if (/sin\\s+parqueo|sin\\s+estacionamiento|no\\s+incluye\\s+parqueo|no\\s+incluye\\s+estacionamiento/i.test(desc)) {\n    return 'no_incluido';\n  }\n  \n  return 'sin_confirmar';\n}\n// ============================================================================\n// 🏗️ extraerEstadoConstruccionYEntrega v1.2 (CORREGIDA)\n// ============================================================================\nfunction extraerEstadoConstruccionYEntrega(descripcion = \"\", esMultiproyecto = false) {\n  if (!descripcion) return {\n    estado_construccion: \"no_definido\",\n    fecha_entrega_estimada: null,\n    porcentaje_avance_construccion: null\n  };\n\n  const desc = descripcion.toLowerCase();\n  let estado = \"no_definido\";\n  let fechaEntrega = null;\n  let porcentaje_avance = null;\n\n  if (/pre[\\s-]?venta|preventa|en\\s+prevent[ae]/i.test(desc)) {\n    estado = \"preventa\";\n  } else if (/en\\s+construcci[oó]n|obra\\s+gruesa/i.test(desc)) {\n    estado = \"en_construccion\";\n    const avanceMatch = desc.match(/avance[:\\s]+(\\d+)\\s*%/i);\n    if (avanceMatch && avanceMatch[1]) porcentaje_avance = parseInt(avanceMatch[1]);\n  } else if (/entrega\\s+inmediata|listo\\s+para\\s+habitar|disponible\\s+ya/i.test(desc)) {\n    estado = \"entrega_inmediata\";\n  } else if (/usado|de\\s+ocas[ií][oó]n|segunda\\s+mano/i.test(desc)) {\n    estado = \"usado\";\n  } else if (/a\\s+estrenar|nuevo|brand\\s+new/i.test(desc)) {\n    estado = \"nuevo_a_estrenar\";\n  }\n\n  let matchFecha = desc.match(/entrega:?\\s+(?:en\\s+|para\\s+)?(enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre)\\s+(?:del?\\s+)?(\\d{4})/i);\n  if (matchFecha && matchFecha[1] && matchFecha[2]) {\n    const meses = { enero: \"01\", febrero: \"02\", marzo: \"03\", abril: \"04\", mayo: \"05\", junio: \"06\", julio: \"07\", agosto: \"08\", septiembre: \"09\", octubre: \"10\", noviembre: \"11\", diciembre: \"12\" };\n    const mes = meses[matchFecha[1].toLowerCase()];\n    const anio = matchFecha[2];\n    fechaEntrega = `${anio}-${mes}-15`;\n  }\n  if (!fechaEntrega) {\n    matchFecha = desc.match(/entrega\\s+(?:en\\s+)?(\\d{1,2})[\\/\\-](\\d{4})/i);\n    if (matchFecha && matchFecha[1] && matchFecha[2]) {\n      const mes = matchFecha[1].padStart(2, '0');\n      const anio = matchFecha[2];\n      fechaEntrega = `${anio}-${mes}-15`;\n    }\n  }\n  if (!fechaEntrega) {\n    matchFecha = desc.match(/entrega\\s+(?:en\\s+)?(\\d{4})/i);\n    if (matchFecha && matchFecha[1]) {\n      const anio = matchFecha[1];\n      fechaEntrega = `${anio}-12-31`;\n    }\n  }\n  if (!fechaEntrega) {\n    matchFecha = desc.match(/entrega\\s+(?:q|trimestre\\s+)([1-4])\\s+(?:de\\s+)?(\\d{4})/i);\n    if (matchFecha && matchFecha[1] && matchFecha[2]) {\n      const quarter = parseInt(matchFecha[1]);\n      const anio = matchFecha[2];\n      const mesQ = { 1: \"03\", 2: \"06\", 3: \"09\", 4: \"12\" };\n      const diaQ = { 1: \"31\", 2: \"30\", 3: \"30\", 4: \"31\" };\n      fechaEntrega = `${anio}-${mesQ[quarter]}-${diaQ[quarter]}`;\n    }\n  }\n\n  if (estado === \"no_definido\" && fechaEntrega) {\n      try {\n          const hoy = new Date();\n          hoy.setHours(0, 0, 0, 0);\n          const fechaEntregaDate = new Date(fechaEntrega);\n           if (!isNaN(fechaEntregaDate.getTime())) {\n                fechaEntregaDate.setUTCHours(0, 0, 0, 0);\n                if (fechaEntregaDate >= hoy) {\n                    estado = \"preventa\";\n                }\n           }\n      } catch(e) {\n          console.error(\"Error al parsear/comparar fecha:\", fechaEntrega, e.message);\n      }\n  }\n\n  // ✅ CORRECCIÓN v14.7: Eliminar condición !esMultiproyecto\n  if (estado === \"no_definido\" && !fechaEntrega) {\n    estado = \"sin_informacion\";\n  }\n\n  if (esMultiproyecto && estado === \"usado\") {\n    estado = \"preventa\";\n  }\n  \n  if (estado === \"entrega_inmediata\") {\n    const hoyISO = new Date().toISOString().split('T')[0];\n    if (!fechaEntrega || (fechaEntrega && new Date(fechaEntrega) > new Date())) {\n      fechaEntrega = hoyISO;\n    }\n  }\n\n  if (!fechaEntrega) fechaEntrega = null;\n  if (porcentaje_avance === null || isNaN(porcentaje_avance)) porcentaje_avance = null;\n\n  return {\n    estado_construccion: estado,\n    fecha_entrega_estimada: fechaEntrega,\n    porcentaje_avance_construccion: porcentaje_avance\n  };\n}\n\n// ============================================================================\n// 🏷️ extraerTipoInmuebleC21 v3.1 - VALIDADO\n// ============================================================================\nfunction extraerTipoInmuebleC21(html) {\n  // Prioridad 1: Meta tag tipoInmueble (más confiable)\n  const metaMatch = html.match(/<meta\\s+name=\"tipoInmueble\"\\s+content=\"([^\"]+)\"/i);\n  if (metaMatch && metaMatch[1]) {\n    return metaMatch[1].trim();\n  }\n  // Prioridad 2: Breadcrumbs (primer item)\n  const breadcrumbMatch = html.match(/<li\\s+class=\"breadcrumb-item\"[^>]*>\\s*<a[^>]*>([^<]+)<\\/a>/i);\n  if (breadcrumbMatch && breadcrumbMatch[1]) {\n    const tipo = breadcrumbMatch[1].trim();\n    const tiposValidos = ['casa', 'departamento', 'terreno', 'oficina', 'local', 'quinta', 'duplex', 'loft', 'galpón', 'depósito', 'penthouse'];\n    if (tiposValidos.some(t => tipo.toLowerCase().includes(t))) {\n      return tipo;\n    }\n  }\n  // Prioridad 3: H1 Title (mejorado para capturar Venta/Alquiler/Renta)\n  const h1Match = html.match(/<h1[^>]*>(?:Venta|Alquiler|Renta)\\s+de\\s+(Casa|Departamento|Terreno|Oficina|Local|Quinta|Duplex|Loft|Galp[oó]n|Dep[oó]sito|Penthouse|Local\\s+Comercial)/i);\n  if (h1Match && h1Match[1]) {\n    return h1Match[1].trim();\n  }\n  // Prioridad 4: Fallback - buscar palabras clave en todo el HTML\n  const palabrasClave = ['Departamento', 'Casa', 'Terreno', 'Oficina', 'Local Comercial', 'Quinta', 'Duplex', 'Loft', 'Galpón', 'Penthouse'];\n  for (const palabra of palabrasClave) {\n    const regex = new RegExp(`\\\\b${palabra.replace(/[-\\/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&')}\\\\b`, 'i');\n    if (regex.test(html)) {\n      return palabra;\n    }\n  }\n  return 'No especificado';\n}\n\n// ============================================================================\n// 🧠 MAPEADOR PRINCIPAL\n// ============================================================================\nfunction mapearCentury(html) {\n  try {\n    const avisoTerminado = /aviso\\s+terminado|propiedad\\s+vendida|no\\s+disponible|alquilado/i.test(html);\n    if (avisoTerminado) {\n      return { es_inactiva: true, razon: \"Aviso terminado o no disponible\" };\n    }\n\n    const descripcion = extraerDescripcionCompleta(html);\n    const tipoPropiedad = extraerTipoInmuebleC21(html); // Llama a la nueva función v3.1\n    const es_multiproyecto = detectarMultiproyecto(descripcion);\n    const codigo = getMeta(html, \"clave\") || null;\n    const url = itemEntrada.url || null;\n    // ==================================================\n    const fechaData = extraerFecha(html);\n    const lastModMeta = getMeta(html, \"lastmod\");\n    const fecha_de_ultima_modificacion = lastModMeta ? \n      new Date(lastModMeta.replace('.000000', 'Z').replace(' ', 'T')).toISOString() : \n      null;\n    const updatedAt = fecha_de_ultima_modificacion;\n    const modalidad = extraerModalidad(html, descripcion);\n    const gpsData = extraerGPS(html);\n    const agenteData = extraerAgente(html);\n    const oficinaData = extraerOficina(html);\n    const fotosData = extraerFotos(html);\n    const areasData = extraerArea(html, descripcion);\n    const estructuraData = extraerEstructura(html, descripcion, es_multiproyecto);\n    const banosData = extraerBanos(html, descripcion);\n      const { amenities, estado_amenities } = extraerAmenities(html, descripcion);\n      const equipamiento = extraerEquipamiento(html, descripcion);\n      const estacionamiento = extraerEstacionamiento(descripcion); // ✅ NUEVO v16.4\n      const precioData = extraerPrecio(html, descripcion, es_multiproyecto);\n      const edificioData = extraerNombreEdificio(descripcion, url, getMeta(html, \"direccion\") || getMeta(html, \"ubicacion\") || \"\");\n      const tipo_cambio_detectado = detectarTipoCambio(descripcion);\n      const conversionBs = convertirPrecioABolivianos(\n      precioData.precio_usd, \n      precioData.precio_fue_normalizado,\n      tipo_cambio_detectado\n      );\n    const estadoData = extraerEstadoConstruccionYEntrega(descripcion, es_multiproyecto);\n    const precioZonalData = estimarPrecioPorM2(precioData.precio_usd, areasData.area_total_m2, gpsData.zona_validada_gps || \"default\");\n\n    const data = {\n      es_inactiva: false,  // ← AGREGAR AQUÍ (PRIMERA LÍNEA)\n      id_original: idOriginal,\n      codigo_propiedad: codigo,\n      url_propiedad: url,\n      tipo_propiedad_original: tipoPropiedad,\n      // ========== AGREGAR ESTAS 2 LÍNEAS AQUÍ ==========\n      updatedAt: updatedAt,\n      // ==================================================\n      agente_nombre: agenteData.agente_nombre,\n      agente_telefono: agenteData.agente_telefono,\n      url_whatsapp: agenteData.url_whatsapp,\n      oficina_nombre: oficinaData.oficina_nombre,\n      oficina_telefono: oficinaData.oficina_telefono,\n      oficina_direccion: oficinaData.oficina_direccion,\n      fotos_urls: fotosData.fotos_urls,\n      cantidad_fotos: fotosData.cantidad_fotos,\n      descripcion: descripcion,\n      es_multiproyecto,\n      tipo_operacion: modalidad,\n      estado_construccion: estadoData.estado_construccion,\n      fecha_entrega_estimada: estadoData.fecha_entrega_estimada,\n      porcentaje_avance_construccion: estadoData.porcentaje_avance_construccion,\n      precio_usd: precioData.precio_usd,\n      precio_usd_original: precioData.precio_usd_original,\n      precio_fue_normalizado: precioData.precio_fue_normalizado,\n      // 🆕 NUEVOS CAMPOS v16.2\n      tipo_cambio_paralelo_usado: conversionBs.tipo_cambio_paralelo_usado,\n      precio_usd_actualizado: precioData.precio_usd,\n      requiere_actualizacion_precio: precioData.precio_fue_normalizado || \n                                (precioData.moneda_original === \"BOB\"),\n      precio_min_usd: precioData.precio_min_usd,              // 🆕 AGREGAR\n      precio_max_usd: precioData.precio_max_usd,              // 🆕 AGREGAR\n      es_rango_falso: precioData.es_rango_falso || false,     // 🆕 AGREGAR\n      es_rango_falso_positivo: precioData.es_rango_falso_positivo,\n      moneda_original: precioData.moneda_original,\n      precio_bs: conversionBs.precio_bs,\n      tipo_cambio_usado: conversionBs.tipo_cambio_usado,\n      tipo_cambio_detectado: tipo_cambio_detectado,\n      fuente_precio: precioData.fuente_precio,\n      precio_conflicto: precioData.conflicto_precio,\n      precio_m2: precioZonalData.precio_m2,\n      comparacion_media_zona: precioZonalData.comparacion_media_zona,\n      precio_sospechoso: precioZonalData.comparacion_media_zona === \"muy_por_encima\" || precioZonalData.comparacion_media_zona === \"muy_por_debajo\",\n      area_total_m2: areasData.area_total_m2,\n      fuente_confianza_area: areasData.fuente_area,  // ← NUEVO (viene de areasData)\n      dormitorios: estructuraData.dormitorios,\n      dormitorios_opciones: estructuraData.dormitorios_opciones,\n      dormitorios_categoria: estructuraData.dormitorios_categoria,\n      fuente_confianza_dormitorios: estructuraData.fuente_confianza_dormitorios,\n      es_monoambiente: estructuraData.es_monoambiente,\n      banos: banosData.total,\n      fuente_confianza_banos: banosData.fuente_confianza_banos,\n      conflicto_banos: banosData.conflicto_banos,\n      amenities,\n      estado_amenities, \n      equipamiento,\n      piscina: amenities.includes(\"Piscina\"),\n      seguridad: amenities.includes(\"Seguridad 24/7\"),\n      amoblado: equipamiento.includes(\"Amoblado\"),\n      estacionamientos: estacionamiento, // ✅ NUEVO v16.4\n      nombre_edificio: edificioData.nombre_edificio,\n      fuente_nombre_edificio: edificioData.fuente_nombre_edificio,  // ← CAMBIAR\n      nombre_edificio_nivel_confianza: edificioData.nombre_edificio_nivel_confianza,  // ← CAMBIAR\n      id_proyecto_master_sugerido: edificioData.id_proyecto_master_sugerido,\n      metodo_match: edificioData.metodo_match,\n      coordenadas_gps: gpsData.coordenadas_gps,\n      latitud: gpsData.latitud,     // ← AGREGAR\n      longitud: gpsData.longitud,   // ← AGREGAR\n      zona_validada_gps: gpsData.zona_validada_gps,\n      metodo_gps: gpsData.metodo_gps,\n      nivel_descripcion: estructuraData.nivelDescripcion,\n      fecha_publicacion: fechaData.fecha,\n      fuente_fecha_publicacion: fechaData.fuente,\n      fecha_de_ultima_modificacion: fecha_de_ultima_modificacion,\n      fecha_scraping: new Date().toISOString(),\n      scraper_version: \"v16.5\"  \n    };\n\n    const conflictos = [\n  ...validarConflictos(data, es_multiproyecto),\n  ...validarConflictoNombreEdificio(data)\n];\n    const nivel_confianza_general = calcularNivelConfianza(data, conflictos, es_multiproyecto);\n    data.conflictos = conflictos;\n    data.nivel_confianza_general = nivel_confianza_general;\n    data.requiere_revision_humana = conflictos.some((c) => c.severidad === \"alta\") || nivel_confianza_general < 0.6;\n    data.extraccion_exitosa = true; \n\n    return data;\n  } catch (error) {\n    return { \n      es_inactiva: false,  // ← AGREGAR\n      error: true, \n      mensaje: `Error en extractor C21: ${error.message}`, \n      etapa: \"mapeo\" \n    };\n  }\n}\n\n// ============================================================================\n// 🚀 EJECUCIÓN PRINCIPAL (CORREGIDA v15.7 - SOLO SÁNDWICH / CERO FALSOS POSITIVOS)\n// ============================================================================\ntry {\n  // --------------------------------------------------------------------------\n  // 🛡️ DETECCIÓN DE GHOST LISTINGS v15.8 (FIX DEFINITIVO)\n  // --------------------------------------------------------------------------\n  const marcadorInicio = 'id=\"detallePropiedad\"'; \n  const marcadorFin = '<footer';\n    \n  const inicioCuerpo = html.indexOf(marcadorInicio);\n  const finCuerpo = html.indexOf(marcadorFin);\n  \n  let esInactiva = false;\n  let razonInactividad = null;\n  \n  if (inicioCuerpo !== -1 && finCuerpo !== -1) {\n      const contenidoCentral = html.substring(inicioCuerpo, finCuerpo);\n      \n      // MÉTODO 1: Buscar el div vacío explícitamente\n      const divVacio = /<div\\s+id=[\"']detallePropiedad[\"']\\s*><\\/div>/i.test(contenidoCentral);\n      \n      if (divVacio) {\n          esInactiva = true;\n          razonInactividad = \"Ghost Listing (div detallePropiedad vacío)\";\n          console.log(`👻 Ghost Listing detectado (ID ${idOriginal}) - Div vacío`);\n      } else {\n          // MÉTODO 2: Verificar que haya contenido estructurado real\n          const tieneCarousel = /<div[^>]*carousel/i.test(contenidoCentral);\n          const tieneDescripcion = /<div[^>]*descripcion/i.test(contenidoCentral);\n          const tieneFicha = /<div[^>]*ficha/i.test(contenidoCentral);\n          \n          // MÉTODO 3: Limpiar HTML SIN colapsar espacios completamente\n          const textoLimpio = contenidoCentral\n              .replace(/<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, '') // Quitar scripts\n              .replace(/<style\\b[^<]*(?:(?!<\\/style>)<[^<]*)*<\\/style>/gi, '')   // Quitar styles\n              .replace(/<[^>]*>/g, ' ')           // Tags → espacios\n              .replace(/\\s+/g, ' ')               // Múltiples espacios → 1 espacio\n              .trim();\n          \n          const caracteresReales = textoLimpio.length;\n          \n          // DECISIÓN FINAL\n          if (caracteresReales < 100 && !tieneCarousel && !tieneDescripcion) {\n              esInactiva = true;\n              razonInactividad = `Ghost Listing (Contenido insuficiente: ${caracteresReales} chars)`;\n              console.log(`👻 Ghost Listing detectado (ID ${idOriginal}) - ${caracteresReales} chars`);\n          } else {\n              console.log(`✅ Propiedad Activa (ID ${idOriginal}). Contenido: ${caracteresReales} chars, Carousel: ${tieneCarousel}, Desc: ${tieneDescripcion}`);\n          }\n      }\n  } else {\n      if (html.length > 0) {\n           esInactiva = true;\n           razonInactividad = \"Estructura inválida (Falta contenedor detallePropiedad)\";\n      }\n  }\n\n  // --------------------------------------------------------------------------\n  // 🛑 SALIDA TEMPRANA SI ES INACTIVA\n  // --------------------------------------------------------------------------\n  if (esInactiva) {\n    return {\n      json: {\n        id_propiedad: idOriginal,\n        datos_json: { \n          es_inactiva: true, \n          razon: razonInactividad \n        }\n      }\n    };\n  }\n\n  // ==========================================================================\n  // SI ES ACTIVA, EJECUTAMOS EL MAPEO NORMAL\n  // ==========================================================================\n  \n  const datos = mapearCentury(html);\n\n  // Comprobación terciaria\n  if (datos.es_inactiva) {\n    return {\n      json: {\n        id_propiedad: idOriginal,\n        datos_json: { \n          es_inactiva: true, \n          razon: datos.razon \n        }\n      }\n    };\n  }\n\n  if (datos.error) {\n    console.error(\"❌ Error en mapeo:\", datos.mensaje);\n    throw new Error(datos.mensaje);\n  }\n\n  // Logs de éxito\n  console.log(`✅ Extracción exitosa (ID: ${idOriginal})`);\n  console.log(`   - Precio: ${datos.precio_usd}`);\n  datos.extraccion_exitosa = true;\n  \n  return {\n  json: {\n    _internal_id: idOriginal,\n    ...datos\n  }\n};\n\n} catch (e) {\n  console.error(\"❌ ERROR CRÍTICO EN EJECUCIÓN:\", e.message);\n  return {\n    json: {\n      id_propiedad: idOriginal,\n      datos_json: { \n        es_inactiva: false,\n        error: true, \n        mensaje: e.message, \n        etapa: \"Ejecución Principal\"\n      }\n    }\n  };\n}"
      },
      "id": "ddc378ab-1e8a-4951-b347-f1a845754f1d",
      "name": "Extractor Century21 v16.5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -304
      ],
      "notes": "Extractor C21 v16.3.1 - Soporta Firecrawl"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// Extractor Remax - Schema Canonical v3.1\n// Versión: v1.9\n// Fecha: 2025-12-22\n// =====================================================\n// CHANGELOG v1.9:\n// - Add: extraccion_exitosa flag (boolean)\n// - Change: modalidad → tipo_operacion\n// - Homologación con Schema Canonical v3.1\n// - Spread operator en return final\n// =====================================================\n\nconst itemData = $input.first().json;\n\n// Extraer datos del input\nconst idOriginal = itemData.id || null;\nconst html = itemData.html || '';\nconst markdown = itemData.markdown || '';\nconst configGlobal = itemData.config_global || {};\nconst proyectosMaster = itemData.proyectos_master || [];\n\n// Validar que tenemos datos básicos\nif (!html || html.length < 500) {\n  return [{\n    json: {\n      _internal_id: idOriginal,\n      extraccion_exitosa: false,\n      errores: ['HTML insuficiente o ausente'],\n      extractor_version: '1.7.0',\n      core_version: '3.0'\n    }\n  }];\n}\n\n// ============================================================================\n// CONFIGURACIÓN\n// ============================================================================\n\n// TC dinámico del config_global\nconst TC_OFICIAL = configGlobal.TIPO_CAMBIO_USD_BS_OFICIAL || 6.96;\nconst TC_PARALELO = configGlobal.TIPO_CAMBIO_USD_BS_PARALELO || 10.20;\n\nconsole.log(`✅ TC - Oficial: ${TC_OFICIAL} | Paralelo: ${TC_PARALELO}`);\nconsole.log(`✅ Proyectos Master: ${proyectosMaster.length}`);\nconsole.log(`✅ HTML length: ${html.length} chars`);\n\nconst CONFIG = {\n  VERSION: \"1.7.0\",\n  CORE_VERSION: \"3.0\",\n  TIPO_CAMBIO_USD_BS_OFICIAL: TC_OFICIAL,\n  TIPO_CAMBIO_USD_BS_PARALELO: TC_PARALELO,\n  MEDIA_ZONA_USD_M2: {\n    \"Equipetrol\": 2461,\n    \"Equipetrol Norte\": 2461,\n    \"Equipetrol/NorOeste\": 2461,\n    \"Los Cusis\": 1200,\n    \"Urubo\": 1500,\n    \"Las Palmas\": 1700,\n    \"Centro\": 1000,\n    \"Norte\": 900,\n    \"Sur\": 800,\n    \"default\": 1200\n  }\n};\n\nconst PROYECTOS_MASTER = proyectosMaster;\n\nconst ZONAS_GEOGRAFICAS = [\n  'equipetrol', 'equipetrol norte', 'equipetrol sur', 'equipetrol oeste',\n  'santa cruz', 'bolivia', 'zona norte', 'zona sur', 'centro',\n  'radial', 'barrio', 'sirari', 'urubo', 'las palmas'\n];\n\nconst BLACKLIST_CRITICA = [\n  'remax', 'remax bolivia', 'century21', 'century 21',\n  'departamento', 'casa', 'oficina', 'local', 'terreno',\n  'hermoso', 'bonito', 'lindo', 'moderno', 'excelente',\n  'oportunidad', 'invierte', 'consultar', 'en venta', 'se vende'\n];\n\n// ============================================================================\n// INICIALIZAR RESULTADO\n// ============================================================================\n\nconst resultado = {\n  _internal_id: idOriginal,\n  extraccion_exitosa: false,\n  extractor_version: CONFIG.VERSION,\n  core_version: CONFIG.CORE_VERSION,\n  errores: []\n};\n\n// ============================================================================\n// PARSEAR JSON DE REMAX\n// ============================================================================\nlet listing = null;\n\ntry {\n  console.log('🔍 Buscando data-page en HTML...');\n  listing = parsearDataPage(html);  // ← Usa la función que SÍ funciona\n  \n  if (!listing) {\n    console.error('❌ No se pudo extraer listing');\n    resultado.errores.push('No se encontró data-page o estructura inválida');\n  } else {\n    console.log('✅ listing extraído correctamente');\n  }\n} catch (e) {\n  console.error('❌ Error parseando:', e.message);\n  resultado.errores.push(`Error parseando data-page: ${e.message}`);\n}\n// ============================================================================\n// UTILIDADES\n// ============================================================================\n\nfunction buscarPatron(texto, patron) {\n    if (!texto || typeof texto !== 'string') return null;\n    return texto.match(patron);\n}\n\nfunction limpiarContextoNoRelacionado(descripcion) {\n    if (!descripcion || typeof descripcion !== 'string') return \"\";\n    descripcion = descripcion.replace(/[\\r\\n]+/g, ' ').trim();\n    return descripcion\n        .replace(/parqueo\\s+(?:opcional\\s+)?(?:a\\s+parte|aparte\\s+)?(?:en|por|:)\\s*(?:\\$?\\s?(?:us\\.?|usd)?\\s?[\\d.,]+|[\\d.,]+\\s?(?:\\$|us\\.?|usd))/gi, '[PARQUEO]')\n        .replace(/estacionamiento\\s+(?:opcional\\s+)?(?:a\\s+parte|aparte\\s+)?(?:en|por|:)\\s*(?:\\$?\\s?(?:us\\.?|usd)?\\s?[\\d.,]+|[\\d.,]+\\s?(?:\\$|us\\.?|usd))/gi, '[PARQUEO]');\n}\n\nfunction detectarTipoCambio(descripcion = \"\") {\n    if (!descripcion || typeof descripcion !== 'string') return \"no_especificado\";\n    const desc = descripcion.toLowerCase();\n    if (/\\b(?:tc\\s*paralelo|cambio\\s+paralelo|dólar\\s+blue)\\b/i.test(desc)) return \"paralelo\";\n    if (/\\bpago\\s+en\\s+dólares/i.test(desc)) return \"paralelo\";\n    if (/tc\\.?\\s*oficial|\\btc\\.?\\s*[67]\\b/i.test(desc)) return \"oficial\";\n    return \"no_especificado\";\n}\n\nfunction normalizarTextoParaMatch(texto) {\n    if (!texto) return '';\n    return texto.toLowerCase()\n        .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n        .replace(/[^a-z0-9\\s]/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n}\n\nfunction wordIntersection(texto1, texto2) {\n    const words1 = new Set(normalizarTextoParaMatch(texto1).split(/\\s+/).filter(w => w.length >= 3));\n    const words2 = new Set(normalizarTextoParaMatch(texto2).split(/\\s+/).filter(w => w.length >= 3));\n    if (words1.size === 0 || words2.size === 0) return 0;\n    const intersection = [...words1].filter(w => words2.has(w)).length;\n    const union = new Set([...words1, ...words2]).size;\n    return union > 0 ? intersection / union : 0;\n}\n\nfunction limpiarZonasGeograficas(nombre) {\n    if (!nombre) return '';\n    let limpio = nombre;\n    ZONAS_GEOGRAFICAS.forEach(zona => {\n        const regex = new RegExp(`[\\\\s,]?${zona}[\\\\s,]?$`, 'gi');\n        limpio = limpio.replace(regex, '');\n    });\n    return limpio.trim();\n}\n\n// ============================================================================\n// PARSEAR DATA-PAGE\n// ============================================================================\n\nfunction parsearDataPage(html) {\n    try {\n        // ✅ Regex flexible - solo busca data-page=\"...\"\n        const match = html.match(/data-page=\"([^\"]*?)\"/i);\n        \n        if (!match || !match[1]) {\n            return null;\n        }\n        \n        // Decodificar entidades HTML\n        let jsonString = match[1]\n            .replace(/&quot;/g, '\"')\n            .replace(/&amp;/g, '&')\n            .replace(/&lt;/g, '<')\n            .replace(/&gt;/g, '>');\n        \n        // Parsear JSON\n        const data = JSON.parse(jsonString);\n        \n        // Extraer listing de la estructura\n        const listing = data.props?.listing || data.props?.property || data.listing || null;\n        \n        if (!listing) {\n            return null;\n        }\n        \n        return listing;\n        \n    } catch (error) {\n        return null;\n    }\n}\n\n// ============================================================================\n// DETECCIÓN INACTIVA TEMPRANA\n// ============================================================================\n\nfunction detectarInactivaTemprana(html) {\n    if (!html || typeof html !== 'string') return null;\n    const razones = [];\n    if (html.trim().length < 300) {\n        razones.push(`HTML corto (${html.trim().length} chars)`);\n    }\n    const titleMatch = html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\n    if (titleMatch) {\n        const title = titleMatch[1].toLowerCase();\n        if (title.includes(\"404\") || title.includes(\"no encontrada\")) {\n            razones.push(`Título: \"${titleMatch[1].trim()}\"`);\n        }\n    }\n    const bodyMatch = html.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\n    if (bodyMatch) {\n        const bodyContent = bodyMatch[1].toLowerCase();\n        if (bodyContent.includes(\"esta propiedad ya no está disponible\") ||\n            bodyContent.includes(\"propiedad no disponible\") ||\n            bodyContent.includes(\"listing not found\")) {\n            razones.push(\"Mensaje de no disponible en body\");\n        }\n    }\n    if (razones.length > 0) {\n        return {\n            es_inactiva: true,\n            razon: razones.join(\", \"),\n            deteccion: \"inactiva_temprana\"\n        };\n    }\n    return null;\n}\n\n// ============================================================================\n// PRECIO\n// ============================================================================\n\nfunction parsePrecioMeta(raw) {\n    if (!raw || typeof raw !== 'string') return null;\n    raw = raw.trim().replace(/\\s+/g, '');\n    const esK = /k$/i.test(raw);\n    if (esK) {\n        raw = raw.replace(/k$/i, '');\n        const num = parseFloat(raw);\n        return !isNaN(num) && num > 0 ? num * 1000 : null;\n    }\n    if (raw.includes(\".\") && raw.includes(\",\")) {\n        raw = raw.indexOf(\".\") < raw.indexOf(\",\") ? raw.replace(/\\./g, \"\").replace(\",\", \".\") : raw.replace(/,/g, \"\");\n    } else if (raw.includes(\",\")) {\n        const partes = raw.split(\",\");\n        const decimales = partes[partes.length - 1];\n        if (decimales.length >= 3 && !partes[2]) {\n            raw = raw.replace(/,/g, \"\");\n        } else {\n            raw = raw.replace(\",\", \".\");\n        }\n    } else if (raw.includes(\".\")) {\n        const partes = raw.split(\".\");\n        const decimales = partes[partes.length - 1];\n        if (partes.length > 2 || (partes.length === 2 && decimales.length === 3)) {\n            raw = raw.replace(/\\./g, \"\");\n        }\n    }\n    const num = parseFloat(raw);\n    if (isNaN(num)) return null;\n    if (num > 10000000) {\n        const digitos = Math.floor(Math.log10(num)) + 1;\n        if (digitos > 8) {\n            return num / Math.pow(10, digitos - 6);\n        }\n    }\n    return Math.round(num);\n}\n\nfunction extraerPrecio(listing, descripcion = \"\", esMultiproyecto = false) {\n    const descripcionLimpia = limpiarContextoNoRelacionado(typeof descripcion === 'string' ? descripcion : \"\");\n    let precio_bruto = null;\n    let currency_id = null;\n    let fuente_precio = \"no_detectado\";\n\n    if (listing.prices && listing.prices.amount) {\n        precio_bruto = listing.prices.amount;\n        currency_id = listing.prices.currency_id;\n        fuente_precio = \"json_prices\";\n    }\n\n    let precioExplicitoDesc = null;\n    const patronesDesc = [\n        /(?:precio|desde)\\s*:?\\s*\\$\\s?([\\d.,]+)(?:\\s+a\\s+tc)/i,\n        /(?:precio|desde)\\s*:?\\s*\\$?\\s?(?:us\\.?|usd)\\s?([\\d.,]+)(?!\\s*\\/\\s*m|\\s*por\\s*m)/i,\n        /(\\d[\\d.,]+)\\s*\\$?\\s?(?:us\\.?|usd)(?!\\s*\\/\\s*m|\\s*por\\s*m)/i,\n        /\\$?\\s?(?:us\\.?|usd)\\s?([\\d.,]+)(?!\\s*\\/\\s*m|\\s*por\\s*m)/i,\n        /(?:precio|desde)\\s*:?\\s*bs\\.?\\s?([\\d.,]+)/i\n    ];\n\n    for (let i = 0; i < patronesDesc.length; i++) {\n        const resultado = buscarPatron(descripcionLimpia, patronesDesc[i]);\n        if (resultado && resultado[1]) {\n            precioExplicitoDesc = parsePrecioMeta(resultado[1]);\n            if (precioExplicitoDesc) break;\n        }\n    }\n\n    const patronRango = /\\$?\\s?(?:us\\.?|usd)\\s?(\\d+[.,]?\\d*)\\s*(?:-|a|hasta)\\s*\\$?\\s?(?:us\\.?|usd)\\s?(\\d+[.,]?\\d*)/i;\n    const matchRango = descripcionLimpia.match(patronRango);\n    let precio_min_usd = null;\n    let precio_max_usd = null;\n\n    if (matchRango) {\n        precio_min_usd = parsePrecioMeta(matchRango[1]);\n        precio_max_usd = parsePrecioMeta(matchRango[2]);\n    }\n\n    let precio_final_usd = null;\n    let precio_fue_normalizado = false;\n    let moneda_original = \"USD\";\n\n    if (precio_bruto && precio_bruto > 0) {\n        if (currency_id === 1) {\n            moneda_original = \"BOB\";\n            precio_final_usd = Math.round(precio_bruto / CONFIG.TIPO_CAMBIO_USD_BS_OFICIAL);\n            precio_fue_normalizado = true;\n            fuente_precio = \"json_normalizado\";\n        } else {\n            precio_final_usd = Math.round(precio_bruto);\n            fuente_precio = \"json_usd\";\n        }\n    } else if (precioExplicitoDesc && precioExplicitoDesc > 0) {\n        precio_final_usd = Math.round(precioExplicitoDesc);\n        fuente_precio = \"descripcion_explicito\";\n    } else if (esMultiproyecto && precio_min_usd && precio_max_usd) {\n        precio_final_usd = Math.round((precio_min_usd + precio_max_usd) / 2);\n        fuente_precio = \"json_fallback\";\n    }\n\n    const es_rango_falso = (esMultiproyecto && precio_min_usd && precio_max_usd && \n                            precio_min_usd === precio_max_usd);\n    const precio_conflicto = (precioExplicitoDesc && precio_bruto && \n                            Math.abs(precioExplicitoDesc - precio_bruto) > precio_bruto * 0.15);\n    \n    return {\n        precio_usd: precio_final_usd,\n        precio_usd_original: precio_bruto,\n        precio_fue_normalizado,\n        moneda_original,\n        precio_min_usd,\n        precio_max_usd,\n        es_rango_falso: es_rango_falso,\n        es_rango_falso_positivo: false,\n        precio_conflicto: precio_conflicto,\n        fuente_precio\n    };\n}\n\nfunction extraerRangoPrecios(descripcion = \"\") {\n    const desc = typeof descripcion === 'string' ? descripcion : \"\";\n    const patronRango = /\\$?\\s?(?:us\\.?|usd)\\s?(\\d+[.,]?\\d*)\\s*(?:-|a|hasta)\\s*\\$?\\s?(?:us\\.?|usd)\\s?(\\d+[.,]?\\d*)/i;\n    const match = desc.match(patronRango);\n    if (match) {\n        const min = parsePrecioMeta(match[1]);\n        const max = parsePrecioMeta(match[2]);\n        if (min && max && max > min) {\n            return { precio_min_usd: min, precio_max_usd: max, es_rango: true };\n        }\n    }\n    return { precio_min_usd: null, precio_max_usd: null, es_rango: false };\n}\n\nfunction convertirPrecioABolivianos(precio_usd, precio_fue_normalizado, tipo_cambio_detectado) {\n    if (!precio_usd) return {\n        precio_bs: null,\n        tipo_cambio_usado: null,\n        tipo_cambio_paralelo_usado: null\n    };\n    const tc_oficial = CONFIG.TIPO_CAMBIO_USD_BS_OFICIAL;\n    const tc_paralelo = (tipo_cambio_detectado === 'paralelo' && precio_fue_normalizado) ? CONFIG.TIPO_CAMBIO_USD_BS_PARALELO : null;\n    return {\n        precio_bs: Math.round(precio_usd * tc_oficial),\n        tipo_cambio_usado: tc_oficial,\n        tipo_cambio_paralelo_usado: tc_paralelo\n    };\n}\n\nfunction estimarPrecioPorM2(precio_usd, area_m2, zona = \"default\") {\n    if (!precio_usd || !area_m2 || area_m2 === 0) {\n        return { precio_m2: null, comparacion_media_zona: \"sin_dato\" };\n    }\n    const precio_m2 = precio_usd / area_m2;\n    const media_zona = CONFIG.MEDIA_ZONA_USD_M2[zona] || CONFIG.MEDIA_ZONA_USD_M2[\"default\"];\n    let comparacion;\n    if (precio_m2 > 1.4 * media_zona) comparacion = \"muy_por_encima\";\n    else if (precio_m2 > 1.15 * media_zona) comparacion = \"por_encima\";\n    else if (precio_m2 < 0.7 * media_zona) comparacion = \"muy_por_debajo\";\n    else if (precio_m2 < 0.85 * media_zona) comparacion = \"por_debajo\";\n    else comparacion = \"normal\";\n    return { precio_m2, comparacion_media_zona: comparacion };\n}\n\nfunction detectarTipoCambio(descripcion = \"\") {\n    if (!descripcion || typeof descripcion !== 'string') return \"no_especificado\";\n    \n    const desc = descripcion.toLowerCase();\n    \n    // Detectar TC paralelo\n    if (/\\b(tc\\s*paralelo|cambio\\s+paralelo|dólar\\s+blue|paralelo)\\b/i.test(desc)) \n        return \"paralelo\";\n    \n    if (/\\bpago\\s+en\\s+dólares/i.test(desc)) \n        return \"paralelo\";\n    \n    // Detectar TC oficial\n    if (/tc\\.?\\s*oficial|\\btc\\.?\\s*[67]\\b/i.test(desc)) \n        return \"oficial\";\n    \n    return \"no_especificado\";\n}\n// ============================================================================\n// AGENTE, OFICINA, FOTOS\n// ============================================================================\n\n// ============================================================================\n// 👤 extraerAgente v1.7.2 - ESTRUCTURA CORRECTA\n// ============================================================================\nfunction extraerAgente(agents) {\n    let agente_nombre = null;\n    let agente_telefono = null;\n\n    if (agents && agents.length > 0) {\n        const agent = agents[0];\n        \n        // ✅ Buscar en agent.user (estructura correcta de Remax)\n        if (agent.user) {\n            agente_nombre = agent.user.name_to_show || null;\n            agente_telefono = agent.user.phone_number || agent.user.mobile_phone || null;\n            \n            // Normalizar teléfono\n            if (agente_telefono && !agente_telefono.startsWith('+')) {\n                agente_telefono = `+${agente_telefono}`;\n            }\n        }\n    }\n\n    const url_whatsapp = agente_telefono \n        ? `https://wa.me/${agente_telefono.replace('+', '')}` \n        : null;\n\n    return {\n        agente_nombre,\n        agente_telefono,\n        url_whatsapp\n    };\n}\n\n// ============================================================================\n// 🏢 extraerOficina v1.7.2 - CON MÁS DATOS\n// ============================================================================\nfunction extraerOficina(agents) {\n    let oficina_nombre = null;\n    let oficina_telefono = null;\n    let oficina_direccion = null;\n\n    if (agents && agents.length > 0) {\n        const agent = agents[0];\n        \n        if (agent.office) {\n            oficina_nombre = agent.office.name || null;\n            oficina_telefono = agent.office.phone || agent.office.phone_number || null;\n            oficina_direccion = agent.office.address || agent.office.street_address || null;\n            \n            // Normalizar teléfono oficina\n            if (oficina_telefono && !oficina_telefono.startsWith('+')) {\n                oficina_telefono = `+${oficina_telefono}`;\n            }\n        }\n    }\n\n    return {\n        oficina_nombre,\n        oficina_telefono,\n        oficina_direccion\n    };\n}\n\nfunction extraerFotos(multimedias) {\n    const fotos = [];\n    if (multimedias && Array.isArray(multimedias)) {\n        for (const media of multimedias) {\n            if (media.link) {\n                fotos.push(media.link);\n            }\n        }\n    }\n    const fotosUnicas = [...new Set(fotos)]\n        .map(url => url.replace(/^http:/, 'https:'))\n        .filter(url => url && url.startsWith('https://'));\n    return {\n        fotos_urls: fotosUnicas,\n        cantidad_fotos: fotosUnicas.length,\n        tiene_fotos: fotosUnicas.length > 0\n    };\n}\n\n// ============================================================================\n// MULTIPROYECTO\n// ============================================================================\n\nfunction detectarMultiproyecto(descripcion = \"\") {\n    if (typeof descripcion !== 'string') return false;\n    const desc = descripcion.toLowerCase();\n    const tiene_multiples_dormitorios = /\\d+\\s*(?:,|y|o)\\s*\\d+\\s+dormitorios?/i.test(desc);\n    const tiene_varias_tipologias = /varias\\s+(tipologías?|opciones)/i.test(desc);\n    const tiene_diferentes_modelos = /diferentes\\s+(tipologías?|modelos|plantas)/i.test(desc);\n    const tiene_rango_areas = /de\\s+\\d+\\s*m[²2]\\s+hasta\\s+\\d+\\s*m[²2]/i.test(desc);\n    const tiene_desde_area = /(?:desde|a\\s+partir\\s+de|superficie\\s+desde)\\s+\\d+\\s*m[²2]/i.test(desc);\n    const tiene_precio_desde = /(?:precio\\s+desde|desde\\s+\\$?\\s?(?:us\\.?|usd))\\s?[\\d.,]+/i.test(desc);\n    const es_plural = /(?:departamentos|casas|monoambientes|unidades)\\b/i.test(desc);\n    const tiene_indicador_multiple = /(?:diferentes|varios|múltiples|variedad)\\s+(?:tipos|modelos|opciones)/i.test(desc);\n    const patrones_positivos = [\n        tiene_multiples_dormitorios,\n        tiene_varias_tipologias,\n        tiene_diferentes_modelos,\n        tiene_rango_areas,\n        tiene_desde_area,\n        tiene_precio_desde,\n        es_plural,\n        tiene_indicador_multiple\n    ];\n    const count = patrones_positivos.filter(Boolean).length;\n    return count >= 2;\n}\n\n// ============================================================================\n// 📐 extraerArea v1.7.2 - CON SOPORTE PARA EMOJIS\n// ============================================================================\nfunction extraerArea(listing, descripcion = \"\") {\n    let area_total_m2 = null;\n    let fuente_confianza_area = \"no_detectado\";\n\n    // 1️⃣ PRIORIDAD: JSON construction_area\n    if (listing && listing.listing_information && listing.listing_information.construction_area) {\n        const area = parseFloat(listing.listing_information.construction_area);\n        if (!isNaN(area) && area > 0 && area < 10000) {\n            return {\n                area_total_m2: Math.round(area),\n                fuente_confianza_area: \"json_construction_area\"\n            };\n        }\n    }\n\n    // 2️⃣ FALLBACK: Descripción con múltiples patrones\n    const desc = typeof descripcion === 'string' ? descripcion : \"\";\n    \n    const patronesArea = [\n        // ✅ NUEVO: Patrón con emojis checkmark\n        /[✔️✅☑️✓]\\s*(\\d+(?:[.,]\\d+)?)\\s*m[t²2]/i,\n        \n        // Patrones existentes\n        /(\\d+(?:[.,]\\d+)?)\\s*m[²2]?\\s*(?:de\\s+)?(?:construcción|construidos|área)/i,\n        /(?:superficie|área)\\s*(?:de\\s+)?(?:construcción|construida)?\\s*:?\\s*(\\d+(?:[.,]\\d+)?)\\s*m[²2]?/i,\n        /(\\d+(?:[.,]\\d+)?)\\s*(?:metros|mts)?\\s*cuadrados?\\s*(?:construidos|de\\s+construcción)?/i,\n        /área\\s+total\\s*:?\\s*(\\d+(?:[.,]\\d+)?)\\s*m[²2]?/i,\n        /construcción\\s*:?\\s*(\\d+(?:[.,]\\d+)?)\\s*m[²2]?/i\n    ];\n\n    for (const patron of patronesArea) {\n        const match = desc.match(patron);\n        if (match && match[1]) {\n            const area = parseFloat(match[1].replace(',', '.'));\n            if (!isNaN(area) && area >= 10 && area < 10000) {\n                return {\n                    area_total_m2: Math.round(area),\n                    fuente_confianza_area: \"descripcion_patron\"\n                };\n            }\n        }\n    }\n\n    return { area_total_m2: null, fuente_confianza_area: \"no_detectado\" };\n}\n\n// ============================================================================\n// 🏗️ extraerEstructura v1.7.2 - CON VALIDACIÓN ROBUSTA DE MONOAMBIENTE\n// ============================================================================\nfunction extraerEstructura(listing, descripcion, esMultiproyecto = false) {\n    let dormitorios = null;\n    let dormitorios_opciones = [];\n    let dormitorios_categoria = \"sin_informacion\";\n    let fuente_confianza_dormitorios = \"no_definido\";\n    let es_monoambiente = false;\n    let nivelDescripcion = \"sin_descripcion\";\n\n    const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n    \n    // Nivel de descripción\n    if (desc.length > 500) nivelDescripcion = \"detallada\";\n    else if (desc.length > 100) nivelDescripcion = \"basica\";\n\n    // ========================================================================\n    // FUENTE PRIMARIA: JSON\n    // ========================================================================\n    if (listing && listing.listing_information && typeof listing.listing_information.number_bedrooms === 'number') {\n        dormitorios = listing.listing_information.number_bedrooms;\n        fuente_confianza_dormitorios = \"json_system\";\n    }\n\n    // ========================================================================\n    // DETECCIÓN DE MONOAMBIENTE CON VALIDACIONES ROBUSTAS\n    // ========================================================================\n    \n    // Paso 1: Buscar menciones de monoambiente/studio\n    const mencionaMonoambiente = /monoambiente|mono[\\s-]?ambiente|estudio|studio/i.test(desc);\n    \n    // Paso 2: Validar que NO sea falso positivo\n    if (mencionaMonoambiente) {\n        // ❌ NO es monoambiente si menciona \"dormitorio privado/independiente\"\n        const tieneDormitorioPrivado = /dormitorio\\s+(?:privado|independiente|separado)/i.test(desc);\n        \n        // ❌ NO es monoambiente si JSON dice 1+ dormitorios\n        const jsonDiceConDormitorios = dormitorios !== null && dormitorios > 0;\n        \n        // ❌ NO es monoambiente si menciona \"1 dormitorio\" explícitamente\n        const menciona1Dormitorio = /\\b1\\s+dormitorio\\b/i.test(desc);\n        \n        // DECISIÓN FINAL\n        if (!tieneDormitorioPrivado && !jsonDiceConDormitorios && !menciona1Dormitorio) {\n            es_monoambiente = true;\n            dormitorios = 0;\n            fuente_confianza_dormitorios = \"descripcion_monoambiente\";\n        }\n    }\n\n    // ========================================================================\n    // CATEGORIZACIÓN DE DORMITORIOS\n    // ========================================================================\n    if (dormitorios !== null) {\n        if (es_monoambiente || dormitorios === 0) {\n            dormitorios_categoria = \"monoambiente\";\n        } else if (dormitorios === 1) {\n            dormitorios_categoria = \"1_dormitorio\";\n        } else if (dormitorios === 2) {\n            dormitorios_categoria = \"2_dormitorios\";\n        } else if (dormitorios >= 3) {\n            dormitorios_categoria = \"3+_dormitorios\";\n        }\n    }\n\n    // ========================================================================\n    // MULTIPROYECTO: Detectar rangos de dormitorios\n    // ========================================================================\n    if (esMultiproyecto) {\n        const patronRango = /(\\d+)\\s*(?:a|y|,)\\s*(\\d+)\\s+dormitorios?/i;\n        const matchRango = desc.match(patronRango);\n        \n        if (matchRango) {\n            const min = parseInt(matchRango[1]);\n            const max = parseInt(matchRango[2]);\n            \n            for (let i = min; i <= max; i++) {\n                dormitorios_opciones.push(i);\n            }\n            \n            if (!dormitorios) {\n                dormitorios = min;\n            }\n            dormitorios_categoria = \"multiproyecto\";\n        }\n    }\n\n    return {\n        dormitorios,\n        dormitorios_opciones,\n        dormitorios_categoria,\n        fuente_confianza_dormitorios,\n        es_monoambiente,\n        nivelDescripcion\n    };\n}\n\n// ============================================================================\n// BAÑOS\n// ============================================================================\n\nfunction extraerBanos(listing, descripcion) {\n    let total = 0;\n    let fuente_confianza_banos = \"no_definido\";\n    let conflicto_banos = false;\n    let tieneSocial = false;\n\n    if (listing && listing.listing_information && typeof listing.listing_information.number_bathrooms === 'number') {\n        total = listing.listing_information.number_bathrooms;\n        fuente_confianza_banos = \"json_system\";\n        const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n        tieneSocial = /ba[ñn]o\\s+(?:de\\s+)?(?:visitas?|social)/i.test(desc);\n        return { total, tieneSocial, fuente_confianza_banos, conflicto_banos };\n    }\n\n    const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n    const matchSimple = desc.match(/(\\d+)\\s+ba[ñn]os?(?!\\s+sociales?|\\s+comunes?)/i);\n    if (matchSimple) {\n        const num = parseInt(matchSimple[1], 10);\n        if (!isNaN(num) && num > 0 && num <= 10) {\n            total = num;\n            fuente_confianza_banos = \"descripcion_simple\";\n        }\n    }\n\n    let banosContexto = total;\n    const mencionaEnSuite = /\\b(?:ba[ñn]o\\s+(?:en\\s+)?suite|en\\s+suite|suite)\\b/i.test(desc);\n    const mencionaEdificio = /\\b(?:edificio|condominio|proyecto|complejo)\\s+.*\\b(?:ba[ñn]o|suite)\\b/i.test(desc);\n    if (mencionaEnSuite && !mencionaEdificio) {\n        banosContexto += 1;\n    }\n    const tieneBanoVisitas = /\\b(?:ba[ñn]o\\s+(?:de\\s+)?(?:visitas?|social))\\b/i.test(desc);\n    const esAreaComun = /\\b(?:edificio|áreas?\\s+comunes?|condominio|zonas?\\s+comunes?)\\s+.*\\bba[ñn]o/i.test(desc);\n    if (tieneBanoVisitas && !esAreaComun) {\n        banosContexto += 1;\n        tieneSocial = true;\n    }\n\n    let totalFinal = total;\n    let fuenteFinal = fuente_confianza_banos;\n    if (banosContexto > total && banosContexto <= 4) {\n        totalFinal = banosContexto;\n        fuenteFinal = \"descripcion_contexto\";\n    }\n\n    const es_monoambiente = /monoambiente|mono[\\s-]?ambiente|estudio|studio/i.test(desc);\n    if (totalFinal === 0 && fuenteFinal === 'no_definido') {\n        if (es_monoambiente) {\n            return { total: 1, tieneSocial, fuente_confianza_banos: \"inferido_monoambiente\", conflicto_banos: false };\n        } else {\n            return { total: 1, tieneSocial, fuente_confianza_banos: \"por_defecto\", conflicto_banos: false };\n        }\n    }\n\n    return { total: totalFinal, tieneSocial, fuente_confianza_banos: fuenteFinal, conflicto_banos };\n}\n\n// ============================================================================\n// MODALIDAD\n// ============================================================================\n\nfunction extraerModalidad(transactionType, descripcion = \"\") {\n    if (transactionType && transactionType.name) {\n        const m = transactionType.name.toLowerCase();\n        if (/venta/.test(m)) return \"venta\";\n        if (/renta|alquiler/.test(m)) return \"alquiler\";\n        if (/anticrético/.test(m)) return \"anticretico\";\n    }\n    const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n    if (/venta|en\\s+venta|for\\s+sale/.test(desc)) return \"venta\";\n    if (/alquiler|renta|arriendo|rental|for\\s+rent/.test(desc)) return \"alquiler\";\n    if (/anticrético/.test(desc)) return \"anticretico\";\n    return \"no_especificado\";\n}\n\n// ============================================================================\n// AMENITIES\n// ============================================================================\n\nfunction extraerCaracteristicasHTML(html) {\n    const caracteristicas = [];\n    const regex = /<p class=\"text-gray-700\">([^<]+)<\\/p>/g;\n    let match;\n    while ((match = regex.exec(html)) !== null) {\n        if (match[1] && match[1].trim()) {\n            caracteristicas.push(match[1].trim());\n        }\n    }\n    return caracteristicas;\n}\n\nfunction extraerAmenities(html, descripcion = \"\") {\n    const amenitiesSet = new Set();\n    const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n    const AMENITIES_COMUNES = [\n        \"Piscina\", \"Churrasquera\", \"Salón de Eventos\", \"Co-working\",\n        \"Área Social\", \"Seguridad 24/7\", \"Sauna/Jacuzzi\", \"Ascensor\",\n        \"Parque Infantil\", \"Terraza/Balcón\", \"Jardín\", \"Lavadero\",\n        \"Estacionamiento para Visitas\", \"Recepción\", \"Pet Friendly\", \"Gimnasio\"\n    ];\n    const estadoAmenities = {};\n\n    function registrar(amenity, valor, fuente, confianza) {\n        estadoAmenities[amenity] = { valor, fuente, confianza };\n    }\n\n    const caracteristicasHTML = extraerCaracteristicasHTML(html);\n    const mapeoCaracteristicas = {\n        \"Piscina\": [\"Piscina\", \"Pileta\", \"Pool\"],\n        \"Gimnasio\": [\"Gimnasio\", \"Gym\", \"Fitness\"],\n        \"Churrasquera\": [\"Churrasquera\", \"Parrilla\", \"BBQ\", \"Quincho\"],\n        \"Salón de Eventos\": [\"Salón de Eventos\", \"Salón Social\", \"Event Room\"],\n        \"Co-working\": [\"Co-working\", \"Coworking\", \"Espacio de Trabajo\"],\n        \"Área Social\": [\"Área Social\", \"Zona Social\", \"Social Area\"],\n        \"Seguridad 24/7\": [\"Seguridad 24\", \"Vigilancia\", \"Security\", \"Portería\"],\n        \"Sauna/Jacuzzi\": [\"Sauna\", \"Jacuzzi\", \"Hidromasaje\"],\n        \"Ascensor\": [\"Ascensor\", \"Elevador\", \"Lift\"],\n        \"Parque Infantil\": [\"Parque Infantil\", \"Juegos\", \"Playground\"],\n        \"Terraza/Balcón\": [\"Terraza\", \"Balcón\"],\n        \"Jardín\": [\"Jardín\", \"Áreas Verdes\", \"Garden\"],\n        \"Lavadero\": [\"Lavadero\", \"Área de Lavado\", \"Laundry\"],\n        \"Estacionamiento para Visitas\": [\"Estacionamiento Visitas\", \"Parking Visitas\"],\n        \"Recepción\": [\"Recepción\", \"Lobby\", \"Reception\"],\n        \"Pet Friendly\": [\"Pet Friendly\", \"Mascotas\", \"Pets\"],\n        \"Gimnasio\": [\"Gimnasio\", \"Gym\"]\n    };\n\n    for (const caract of caracteristicasHTML) {\n        for (const [amenity, variantes] of Object.entries(mapeoCaracteristicas)) {\n            for (const variante of variantes) {\n                if (caract.toLowerCase().includes(variante.toLowerCase())) {\n                    amenitiesSet.add(amenity);\n                    registrar(amenity, true, \"html_parsed\", \"alta\");\n                    break;\n                }\n            }\n        }\n    }\n\n    for (const [amenity, variantes] of Object.entries(mapeoCaracteristicas)) {\n        for (const variante of variantes) {\n            if (desc.includes(variante.toLowerCase())) {\n                amenitiesSet.add(amenity);\n                if (!estadoAmenities[amenity]) {\n                    registrar(amenity, true, \"descripcion_text\", \"media\");\n                }\n                break;\n            }\n        }\n    }\n\n    return {\n        amenities: Array.from(amenitiesSet),\n        estado_amenities: estadoAmenities\n    };\n}\n\n// ============================================================================\n// 🛠️ extraerEquipamiento v1.7.2 - CON DETECCIÓN INTELIGENTE DE AMOBLADO\n// ============================================================================\nfunction extraerEquipamiento(html, descripcion = \"\") {\n    const equipamiento = [];\n    const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n    \n    // 1️⃣ Desde HTML parseado\n    const caracteristicasHTML = extraerCaracteristicasHTML(html);\n    \n    const mapeoEquipamiento = {\n        \"Cocina Equipada\": [\"Cocina Equipada\", \"Cocina Americana\"],\n        \"Aire Acondicionado\": [\"Aire Acondicionado\", \"AC\", \"Split\", \"Aire Acondicionado Central\"],\n        \"Lavandería\": [\"Lavanderia\", \"Lavandería\", \"Area de Lavado\"],\n        \"Amoblado\": [\"Amoblado\", \"Muebles Incluidos\", \"Furnished\"],\n        \"Roperos Empotrados\": [\"Roperos Empotrados\", \"Closet\", \"Walk-in Closet\"],\n        \"Baño con Box\": [\"Baño con Box\", \"Box de Ducha\", \"Shower Enclosure\"],\n        \"Campana Extractora\": [\"Campana Extractora\", \"Extractor\", \"Hood\"],\n        \"Microondas\": [\"Microondas\", \"Microwave\"],\n        \"Secadora\": [\"Secadora\", \"Dryer\"],\n        \"Lavadora\": [\"Lavadora\", \"Washer\"],\n        \"Horno\": [\"Horno\", \"Oven\"],\n        \"Calefón\": [\"Calefon\", \"Calefón\", \"Calentador\"]\n    };\n\n    for (const caracteristica of caracteristicasHTML) {\n        for (const [equip, variantes] of Object.entries(mapeoEquipamiento)) {\n            if (variantes.some(v => caracteristica.toLowerCase().includes(v.toLowerCase()))) {\n                if (!equipamiento.includes(equip)) {\n                    equipamiento.push(equip);\n                }\n                break;\n            }\n        }\n    }\n\n    // 2️⃣ DETECCIÓN INTELIGENTE DE AMOBLADO (Century21 v16.3)\n    \n    // Criterio 1: Menciona \"amoblado\" explícitamente\n    const mencionaAmobladoExplicito = /(?:totalmente\\s+)?amoblado|precio\\s+amoblado|furnished|viene\\s+amoblado/i.test(desc);\n    \n    // Criterio 2: NO es contexto de áreas comunes\n    const esSoloAreaComun = /(?:áreas?|zonas?)\\s+(?:comunes?|sociales?).*amoblad/i.test(desc);\n    \n    // Criterio 3: Lista muebles completos (al menos 4 de estos)\n    const muebles = {\n        cama: /\\bcama\\b|sommier|colchón/i.test(desc),\n        ropero: /\\bropero|closet|armario|vestidor\\s+amoblado/i.test(desc),\n        mesa: /\\bmesa\\b|comedor|escritorio|mesón/i.test(desc),\n        sillas: /\\bsillas?|sillones?|sofá|sala\\s+de\\s+estar/i.test(desc),\n        cocina_equipada: /cocina\\s+(?:totalmente\\s+)?equipada|menaje\\s+completo|heladera|refrigeradora|microondas/i.test(desc)\n    };\n    \n    const cantidadMuebles = Object.values(muebles).filter(Boolean).length;\n    \n    // DECISIÓN FINAL AMOBLADO\n    if (mencionaAmobladoExplicito && !esSoloAreaComun) {\n        if (!equipamiento.includes(\"Amoblado\")) {\n            equipamiento.push(\"Amoblado\");\n        }\n    } else if (cantidadMuebles >= 4 && muebles.cama && muebles.cocina_equipada) {\n        // Si tiene 4+ muebles incluyendo cama y cocina → está amoblado\n        if (!equipamiento.includes(\"Amoblado\")) {\n            equipamiento.push(\"Amoblado\");\n        }\n    }\n\n    // 3️⃣ Resto del equipamiento desde descripción\n    if ((/cocina\\s+(americana|equipada)/i.test(desc) || /\\bequipada\\b/i.test(desc)) && !equipamiento.includes(\"Cocina Equipada\")) {\n        equipamiento.push(\"Cocina Equipada\");\n    }\n    if (/aire\\s+acondicionado|split/i.test(desc) && !equipamiento.includes(\"Aire Acondicionado\")) {\n        equipamiento.push(\"Aire Acondicionado\");\n    }\n    if (/lavander[ií]a|área\\s+de\\s+lavado|laundry\\s+room/i.test(desc) && !equipamiento.includes(\"Lavandería\")) {\n        equipamiento.push(\"Lavandería\");\n    }\n    if (/roperos?\\s+empotrados?|cl[oó]set|walk-in/i.test(desc) && !equipamiento.includes(\"Roperos Empotrados\")) {\n        equipamiento.push(\"Roperos Empotrados\");\n    }\n    if (/box\\s+de\\s+baño|mampara|shower\\s+enclosure/i.test(desc) && !equipamiento.includes(\"Baño con Box\")) {\n        equipamiento.push(\"Baño con Box\");\n    }\n    if (/extractor|hood|campana/i.test(desc) && !equipamiento.includes(\"Campana Extractora\")) {\n        equipamiento.push(\"Campana Extractora\");\n    }\n    if (/microondas|microwave/i.test(desc) && !equipamiento.includes(\"Microondas\")) {\n        equipamiento.push(\"Microondas\");\n    }\n    if (/secadora|dryer/i.test(desc) && !equipamiento.includes(\"Secadora\")) {\n        equipamiento.push(\"Secadora\");\n    }\n    if (/lavadora|washer/i.test(desc) && !equipamiento.includes(\"Lavadora\")) {\n        equipamiento.push(\"Lavadora\");\n    }\n    if (/horno|oven/i.test(desc) && !equipamiento.includes(\"Horno\")) {\n        equipamiento.push(\"Horno\");\n    }\n    if (/calef[óo]n|calentador/i.test(desc) && !equipamiento.includes(\"Calefón\")) {\n        equipamiento.push(\"Calefón\");\n    }\n\n    return [...new Set(equipamiento)];\n}\n\n// ============================================================================\n// 🅿️ extraerEstacionamiento v1.0 - Estados Explícitos\n// ============================================================================\nfunction extraerEstacionamiento(descripcion = \"\") {\n    try {\n        const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n        \n        // ❌ Sin estacionamiento explícito\n        if (/sin\\s+(?:estacionamiento|parqueo|parking)/i.test(desc)) {\n            return \"no_incluido\";\n        }\n        \n        // ✅ Incluye estacionamiento DE LA PROPIEDAD\n        // Evitar menciones solo de visitas/edificio\n        const patronPropiedad = /(?:incluye|con|cuenta\\s+con|\\d+)\\s+(?:estacionamiento|parqueo|parking)(?!\\s+(?:para\\s+)?visita)/i;\n        \n        if (patronPropiedad.test(desc)) {\n            return \"incluido\";\n        }\n        \n        // ❓ No menciona\n        return \"sin_confirmar\";\n        \n    } catch (error) {\n        return \"sin_confirmar\";\n    }\n}\n// ============================================================================\n// GPS\n// ============================================================================\n\nfunction extraerGPS(location) {\n    let latitud = null;           // ← NUEVO\n    let longitud = null;          // ← NUEVO\n    let coordenadas_gps = null;\n    let zona_validada_gps = null;\n    let metodo_gps = \"no_detectado\";\n\n    if (location && location.latitude && location.longitude) {\n        const lat = parseFloat(location.latitude);\n        const lon = parseFloat(location.longitude);\n        if (!isNaN(lat) && !isNaN(lon)) {\n            latitud = lat;                    // ← NUEVO\n            longitud = lon;                   // ← NUEVO\n            coordenadas_gps = `${lat},${lon}`;\n            metodo_gps = \"json_location\";\n            if (lat >= -17.85 && lat <= -17.70 && lon >= -63.25 && lon <= -63.10) {\n                zona_validada_gps = \"Equipetrol\";\n            }\n        }\n    }\n\n    return { latitud, longitud, coordenadas_gps, zona_validada_gps, metodo_gps };  // ← MODIFICADO\n}\n\nfunction inferirZonaDesdeTexto(descripcion = \"\") {\n    const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n    const zonasConocidas = [\"equipetrol\", \"urubo\", \"las palmas\", \"los cusis\"];\n    for (const zona of zonasConocidas) {\n        if (desc.includes(zona)) {\n            return zona.charAt(0).toUpperCase() + zona.slice(1);\n        }\n    }\n    return null;\n}\n\n// ============================================================================\n// NOMBRE EDIFICIO\n// ============================================================================\n\nfunction extraerNombreEdificio(title, descripcion, url) {\n    let nombre_edificio = null;\n    let fuente_nombre = \"no_detectado\";\n    let nivel_confianza = 0;\n    let id_proyecto_master_sugerido = null;\n    let metodo_match = null;\n\n    if (title && typeof title === 'string') {\n        const titleLimpio = title.replace(/\\s*[-|]\\s*remax.*/i, '').trim();\n        const matchEn = titleLimpio.match(/en\\s+([A-Z][a-zA-Záéíóúñ\\s]+)$/i);\n        if (matchEn) {\n            let candidato = limpiarZonasGeograficas(matchEn[1].trim());\n            if (validarNombreLimpio(candidato)) {\n                const fuzzyResult = validarConProyectos(candidato, PROYECTOS_MASTER);\n                if (fuzzyResult && fuzzyResult.match && fuzzyResult.score >= 70) {\n                    nombre_edificio = fuzzyResult.proyecto.nombre_oficial;\n                    fuente_nombre = \"title_fuzzy_matched\";\n                    nivel_confianza = fuzzyResult.score / 100;\n                    id_proyecto_master_sugerido = fuzzyResult.proyecto.id_proyecto_master;\n                    metodo_match = \"fuzzy_extractor\";\n                    return { nombre_edificio, fuente_nombre, nivel_confianza, id_proyecto_master_sugerido, metodo_match };\n                } else {\n                    nombre_edificio = capitalizarNombre(candidato);\n                    fuente_nombre = \"title_validated\";\n                    nivel_confianza = 0.75;\n                    return { nombre_edificio, fuente_nombre, nivel_confianza, id_proyecto_master_sugerido, metodo_match };\n                }\n            }\n        }\n    }\n\n    const desc = typeof descripcion === 'string' ? descripcion : \"\";\n    const matchProyecto = desc.match(/proyecto\\s+([A-Z][a-z\\s]{2,})\\s+by\\s+/i);\n    if (matchProyecto) {\n        let candidato = limpiarZonasGeograficas(matchProyecto[1].trim());\n        if (validarNombreLimpio(candidato)) {\n            const fuzzyResult = validarConProyectos(candidato, PROYECTOS_MASTER);\n            if (fuzzyResult && fuzzyResult.match && fuzzyResult.score >= 70) {\n                nombre_edificio = fuzzyResult.proyecto.nombre_oficial;\n                fuente_nombre = \"descripcion_fuzzy_matched\";\n                nivel_confianza = fuzzyResult.score / 100;\n                id_proyecto_master_sugerido = fuzzyResult.proyecto.id_proyecto_master;\n                metodo_match = \"fuzzy_extractor\";\n                return { nombre_edificio, fuente_nombre, nivel_confianza, id_proyecto_master_sugerido, metodo_match };\n            } else {\n                nombre_edificio = capitalizarNombre(candidato);\n                fuente_nombre = \"descripcion_proyecto_by\";\n                nivel_confianza = 0.70;\n                return { nombre_edificio, fuente_nombre, nivel_confianza, id_proyecto_master_sugerido, metodo_match };\n            }\n        }\n    }\n\n    const matchEdificio = desc.match(/edificio\\s+([A-Z][a-z\\s]{2,})/i);\n    if (matchEdificio) {\n        let candidato = limpiarZonasGeograficas(matchEdificio[1].trim());\n        if (validarNombreLimpio(candidato)) {\n            nombre_edificio = capitalizarNombre(candidato);\n            fuente_nombre = \"descripcion_edificio\";\n            nivel_confianza = 0.65;\n            return { nombre_edificio, fuente_nombre, nivel_confianza, id_proyecto_master_sugerido, metodo_match };\n        }\n    }\n\n    return { nombre_edificio: null, fuente_nombre: \"no_detectado\", nivel_confianza: 0, id_proyecto_master_sugerido: null, metodo_match: null };\n}\n\nfunction validarNombreLimpio(nombre) {\n    if (!nombre || nombre.length < 3 || nombre.length > 60) return false;\n    const nombreNorm = normalizarTextoParaMatch(nombre);\n    for (const termino of BLACKLIST_CRITICA) {\n        if (nombreNorm === normalizarTextoParaMatch(termino)) return false;\n    }\n    return /[a-z]/i.test(nombre) && !/^\\d+$/.test(nombre.trim());\n}\n\nfunction capitalizarNombre(nombre) {\n    if (!nombre) return '';\n    return nombre.toLowerCase().split(' ')\n        .map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n}\n\nfunction validarConProyectos(nombreExtraido, proyectos) {\n    if (!nombreExtraido || !proyectos || proyectos.length === 0) return null;\n    const nombreNorm = normalizarTextoParaMatch(nombreExtraido);\n    const stopWords = ['condominio', 'edificio', 'torre', 'residencial', 'proyecto'];\n    let mejorMatch = null;\n    let mejorScore = 0;\n\n    for (const proyecto of proyectos) {\n        const proyectoData = proyecto.json || proyecto;\n        if (!proyectoData.nombre_oficial) continue;\n\n        const nombreOficialNorm = normalizarTextoParaMatch(proyectoData.nombre_oficial);\n        if (nombreNorm === nombreOficialNorm) {\n            return { match: true, score: 100, proyecto: proyectoData };\n        }\n\n        if (proyectoData.alias_conocidos && Array.isArray(proyectoData.alias_conocidos)) {\n            for (const alias of proyectoData.alias_conocidos) {\n                const aliasNorm = normalizarTextoParaMatch(alias);\n                if (nombreNorm === aliasNorm) {\n                    return { match: true, score: 100, proyecto: proyectoData };\n                }\n            }\n        }\n\n        const score = wordIntersection(nombreExtraido, proyectoData.nombre_oficial);\n        if (score > mejorScore) {\n            mejorScore = score;\n            mejorMatch = proyectoData;\n        }\n    }\n\n    if (mejorScore >= 0.65 && mejorMatch) {\n        return { match: true, score: Math.round(mejorScore * 100), proyecto: mejorMatch };\n    }\n\n    return null;\n}\n\n// ============================================================================\n// ESTADO CONSTRUCCIÓN\n// ============================================================================\n\nfunction extraerEstadoConstruccionYEntrega(descripcion, esMultiproyecto = false) {\n    const desc = typeof descripcion === 'string' ? descripcion.toLowerCase() : \"\";\n    let estado_construccion = \"entrega_inmediata\";\n    let fecha_entrega_estimada = null;\n    let porcentaje_avance_construccion = null;\n\n    if (/en\\s+construcción|construyéndose|en\\s+obra/i.test(desc)) {\n        estado_construccion = \"en_construccion\";\n        const matchPorcentaje = desc.match(/(\\d+)%\\s+(?:de\\s+)?(?:avance|completado|construido)/i);\n        if (matchPorcentaje) {\n            porcentaje_avance_construccion = parseInt(matchPorcentaje[1], 10);\n        }\n        const matchFecha = desc.match(/entrega\\s+(?:en|:)?\\s*(\\w+\\s+\\d{4}|\\d{1,2}\\/\\d{4})/i);\n        if (matchFecha) {\n            fecha_entrega_estimada = matchFecha[1].trim();\n        }\n    } else if (/preventa|pre-venta|en\\s+planos/i.test(desc)) {\n        estado_construccion = \"preventa\";\n        const matchFecha = desc.match(/entrega\\s+(?:en|:)?\\s*(\\w+\\s+\\d{4}|\\d{1,2}\\/\\d{4})/i);\n        if (matchFecha) {\n            fecha_entrega_estimada = matchFecha[1].trim();\n        }\n    }\n\n    return { estado_construccion, fecha_entrega_estimada, porcentaje_avance_construccion };\n}\n\n// ============================================================================\n// VALIDACIONES (MANTIENEN FLAGS PARA MERGE)\n// ============================================================================\n\nfunction validarConflictos(data, esMultiproyecto = false) {\n    const conflictos = [];\n    const area = data.area_total_m2 || 0;\n    const precio = data.precio_usd || 0;\n    const dormitorios = data.dormitorios;\n    const banos = data.banos;\n\n    if (precio > 0 && area > 0) {\n        const precioM2 = precio / area;\n        if (precioM2 > 10000) {\n            conflictos.push({ tipo: \"precio_m2_muy_alto\", descripcion: `Precio/m² sospechoso: $${Math.round(precioM2)}/m²`, severidad: \"alta\" });\n        } else if (precioM2 < 300) {\n            conflictos.push({ tipo: \"precio_m2_muy_bajo\", descripcion: `Precio/m² sospechoso: $${Math.round(precioM2)}/m²`, severidad: \"media\" });\n        }\n    }\n\n    if (dormitorios !== null && dormitorios >= 0 && area > 0) {\n        const areaMinEsperada = dormitorios === 0 ? 25 : (dormitorios * 30);\n        const areaMaxEsperada = dormitorios === 0 ? 60 : (dormitorios * 80);\n        if (area < areaMinEsperada) {\n            conflictos.push({ tipo: \"area_inconsistente_dormitorios\", descripcion: `Área ${area}m² muy pequeña para ${dormitorios} dorm.`, severidad: \"media\" });\n        } else if (area > areaMaxEsperada && !esMultiproyecto) {\n            conflictos.push({ tipo: \"area_inconsistente_dormitorios\", descripcion: `Área ${area}m² muy grande para ${dormitorios} dorm.`, severidad: \"baja\" });\n        }\n    }\n\n    if (dormitorios !== null && banos !== null) {\n        if (banos > dormitorios + 2 && dormitorios > 0) {\n            conflictos.push({ tipo: \"banos_excesivos\", descripcion: `${banos} baños para ${dormitorios} dorm. parece excesivo`, severidad: \"baja\" });\n        }\n    }\n\n    if (!precio || precio === 0) {\n        conflictos.push({ tipo: \"precio_faltante\", descripcion: \"No se detectó precio\", severidad: \"alta\" });\n    }\n\n    if (!area || area === 0) {\n        conflictos.push({ tipo: \"area_faltante\", descripcion: \"No se detectó área\", severidad: \"media\" });\n    }\n\n    return conflictos;\n}\n\nfunction validarConflictoNombreEdificio(data) {\n    const conflictos = [];\n    const nombre = data.nombre_edificio;\n    const confianza = data.nombre_edificio_nivel_confianza || 0;\n\n    if (!nombre || nombre.length < 3) {\n        conflictos.push({ tipo: \"nombre_edificio_faltante\", descripcion: \"No se detectó nombre\", severidad: \"media\" });\n    }\n\n    if (/^(edificio|condominio|torre|residencial)$/i.test(nombre)) {\n        conflictos.push({ tipo: \"nombre_edificio_generico\", descripcion: `Nombre genérico: '${nombre}'`, severidad: \"baja\" });\n    }\n\n    if (confianza < 0.7) {\n        conflictos.push({ tipo: \"nombre_edificio_baja_confianza\", descripcion: `Confianza baja: ${confianza.toFixed(2)}`, severidad: confianza < 0.5 ? \"media\" : \"baja\" });\n    }\n\n    return conflictos;\n}\n\nfunction calcularNivelConfianza(data, conflictos, esMultiproyecto = false) {\n    let confianza = 1.0;\n\n    if (conflictos.some(c => c.severidad === \"alta\")) confianza -= 0.25;\n    if (conflictos.some(c => c.severidad === \"media\")) confianza -= 0.15;\n    if (conflictos.filter(c => c.severidad === \"baja\").length > 0) confianza -= 0.05;\n\n    if (!data.precio_usd) confianza -= 0.30;\n    if (data.fuente_precio === \"json_fallback\" && esMultiproyecto) confianza -= 0.20;\n    if (data.fuente_precio === \"no_detectado\") confianza -= 0.20;\n    if (!data.coordenadas_gps) confianza -= 0.10;\n\n    if (!data.area_total_m2 || data.area_total_m2 === 0) {\n        confianza -= 0.20;\n    }\n\n    if (data.fuente_precio === \"descripcion_explicito_corregido\" || data.precio_fue_normalizado) confianza += 0.10;\n    if (data.coordenadas_gps && data.metodo_gps === \"json_location\") confianza += 0.05;\n    if (data.fuente_confianza_banos === \"json_system\") confianza += 0.05;\n    if (data.nivel_descripcion === \"detallada\") confianza += 0.05;\n\n    if (typeof data.nombre_edificio_nivel_confianza === \"number\") {\n        const conf = data.nombre_edificio_nivel_confianza;\n        if (conf >= 0.9) confianza += 0.03;\n        else if (conf >= 0.7) confianza += 0.00;\n        else if (conf >= 0.5) confianza -= 0.10;\n        else confianza -= 0.20;\n    } else {\n        confianza -= 0.10;\n    }\n\n    return Math.max(0, Math.\nmin(1, confianza));\n}\n// ============================================================================\n// MAPEADOR PRINCIPAL\n// ============================================================================\n\nfunction mapearRemax(listing, html, url, idOriginal) {\n    try {\n        const statusInactivo = listing.status_listing?.name && /inactiva|cancelada|vendida|alquilada/i.test(listing.status_listing.name);\n        if (statusInactivo) {\n            return { es_inactiva: true, razon: `Estado: ${listing.status_listing.name}` };\n        }\n\n        const descripcion = listing.description_website || \"\";\n        const es_multiproyecto = detectarMultiproyecto(descripcion);\n        const codigo = listing.MLSID || null;\n        const tipo_propiedad_original = (listing.listing_information?.subtype_property?.name || 'No especificado').toString();\n        const fecha_publicacion = listing.date_of_listing || listing.created_at || null;\n        const fecha_de_ultima_modificacion = listing.updated_at || fecha_publicacion || null;\n\n        const gpsData = extraerGPS(listing.location);\n        const estructuraData = extraerEstructura(listing, descripcion, es_multiproyecto);\n        const agenteData = extraerAgente(listing.agents);\n        const oficinaData = extraerOficina(listing.agents);\n        const fotosData = extraerFotos(listing.multimedias);\n        const precioData = extraerPrecio(listing, descripcion, es_multiproyecto);\n        const tipo_cambio_detectado = detectarTipoCambio(descripcion);  // ✅ SOLO UNA VEZ\n        const areasData = extraerArea(listing, descripcion);\n        const banosData = extraerBanos(listing, descripcion);\n        const { amenities, estado_amenities } = extraerAmenities(html, descripcion);\n        const equipamiento = extraerEquipamiento(html, descripcion);\n        const edificioData = extraerNombreEdificio(listing.title, descripcion, url);\n        \n        // ❌ ELIMINADA línea duplicada: const tipo_cambio_detectado = detectarTipoCambio(descripcion);\n        \n        const conversionBs = convertirPrecioABolivianos(precioData.precio_usd, precioData.precio_fue_normalizado, tipo_cambio_detectado);\n        const estadoData = extraerEstadoConstruccionYEntrega(descripcion, es_multiproyecto);\n        const estacionamientoData = extraerEstacionamiento(descripcion);\n\n        const area_final = areasData.area_total_m2;\n        const fuente_area_final = areasData.fuente_confianza_area;\n\n        const precioZonalData = estimarPrecioPorM2(precioData.precio_usd, area_final, gpsData.zona_validada_gps || \"default\");\n        const comparacion = precioZonalData.comparacion_media_zona || \"sin_dato\";\n        const precio_m2 = precioZonalData.precio_m2 ? Math.round(precioZonalData.precio_m2) : null;\n        \n        // 🆕 v1.7.2: Calcular precio_sospechoso\n        const precio_sospechoso = (comparacion === \"muy_por_encima\" ||   // ✅ CORREGIDO\n                                   comparacion === \"muy_por_debajo\");\n        \n        // ✅ AHORA SÍ declarar data\n        const data = {};\n        \n        data.id_original = idOriginal;\n        data.codigo_propiedad = codigo;\n        data.url_propiedad = url;\n        data.tipo_propiedad_original = tipo_propiedad_original;\n        data.agente_nombre = agenteData.agente_nombre;\n        data.agente_telefono = agenteData.agente_telefono;\n        data.url_whatsapp = agenteData.url_whatsapp;\n        data.oficina_nombre = oficinaData.oficina_nombre;\n        data.oficina_telefono = oficinaData.oficina_telefono;\n        data.oficina_direccion = oficinaData.oficina_direccion;\n        data.fotos_urls = fotosData.fotos_urls;\n        data.cantidad_fotos = fotosData.cantidad_fotos;\n        data.descripcion = descripcion;\n        data.es_multiproyecto = es_multiproyecto;\n        data.estado_construccion = estadoData.estado_construccion;\n        data.fecha_entrega_estimada = estadoData.fecha_entrega_estimada;\n        data.porcentaje_avance_construccion = estadoData.porcentaje_avance_construccion;\n        data.tipo_operacion = extraerModalidad(listing.transaction_type, descripcion);\n        data.fecha_publicacion = fecha_publicacion;\n        data.fecha_de_ultima_modificacion = fecha_de_ultima_modificacion;\n        data.updatedAt = fecha_de_ultima_modificacion; \n        data.fuente_fecha_publicacion = \"json_date_of_listing\";\n        data.fecha_scraping = new Date().toISOString();\n        data.scraper_version = \"1.9\";\n        data.precio_usd = precioData.precio_usd;\n        data.precio_usd_original = precioData.precio_usd_original;\n        data.precio_fue_normalizado = precioData.precio_fue_normalizado;\n        data.precio_usd_actualizado = precioData.precio_usd;\n        data.requiere_actualizacion_precio = precioData.precio_fue_normalizado || (precioData.moneda_original === \"BOB\"); \n        data.precio_min_usd = precioData.precio_min_usd;\n        data.precio_max_usd = precioData.precio_max_usd;\n        data.es_rango_falso = precioData.es_rango_falso;\n        data.es_rango_falso_positivo = precioData.es_rango_falso_positivo;\n        data.moneda_original = precioData.moneda_original;\n        data.fuente_precio = precioData.fuente_precio;\n        data.precio_bs = conversionBs.precio_bs;\n        data.tipo_cambio_usado = conversionBs.tipo_cambio_usado;\n        data.tipo_cambio_paralelo_usado = conversionBs.tipo_cambio_paralelo_usado;\n        data.precio_m2 = precio_m2;\n        data.comparacion_media_zona = comparacion;\n        \n        // 🆕 v1.7.2: Asignar nuevos campos\n        data.precio_sospechoso = precio_sospechoso;  // ✅ DESPUÉS de declarar data\n        data.tipo_cambio_detectado = tipo_cambio_detectado;  // ✅ DESPUÉS de declarar data\n        data.precio_conflicto = precioData.precio_conflicto;\n        data.area_total_m2 = area_final;\n        data.fuente_confianza_area = fuente_area_final;\n        data.dormitorios = estructuraData.dormitorios;\n        data.dormitorios_opciones = estructuraData.dormitorios_opciones;\n        data.dormitorios_categoria = estructuraData.dormitorios_categoria;\n        data.fuente_confianza_dormitorios = estructuraData.fuente_confianza_dormitorios;\n        data.es_monoambiente = estructuraData.es_monoambiente;\n        data.banos = banosData.total;\n        data.fuente_confianza_banos = banosData.fuente_confianza_banos;\n        data.conflicto_banos = banosData.conflicto_banos;\n        data.amenities = amenities;\n        data.estado_amenities = estado_amenities;\n        data.equipamiento = equipamiento;\n        data.piscina = amenities.includes(\"Piscina\");\n        data.seguridad = amenities.includes(\"Seguridad 24/7\");\n        data.amoblado = equipamiento.includes(\"Amoblado\");\n        data.estacionamientos = estacionamientoData;\n        data.nombre_edificio = edificioData.nombre_edificio;\n        data.fuente_nombre_edificio = edificioData.fuente_nombre;\n        data.nombre_edificio_nivel_confianza = edificioData.nivel_confianza;\n        data.id_proyecto_master_sugerido = edificioData.id_proyecto_master_sugerido;\n        data.metodo_match = edificioData.metodo_match;\n        data.coordenadas_gps = gpsData.coordenadas_gps;\n        data.latitud = gpsData.latitud;        // ← AGREGAR\n        data.longitud = gpsData.longitud;      // ← AGREGAR\n        data.zona_validada_gps = gpsData.zona_validada_gps;\n        data.metodo_gps = gpsData.metodo_gps;\n        data.nivel_descripcion = estructuraData.nivelDescripcion;\n\n        const conflictos = [...validarConflictos(data, es_multiproyecto), ...validarConflictoNombreEdificio(data)];\n        const nivel_confianza_general = calcularNivelConfianza(data, conflictos, es_multiproyecto);\n        data.conflictos = conflictos;\n        data.nivel_confianza_general = nivel_confianza_general;\n        data.requiere_revision_humana = conflictos.some(c => c.severidad === \"alta\") || nivel_confianza_general < 0.6;\n        data.extraccion_exitosa = true;\n\n        return data;\n    } catch (error) {\n        return { error: true, mensaje: `Error en extractor: ${error.message}`, etapa: \"mapeo\" };\n    }\n}\n\n// ============================================================================\n// EJECUCIÓN PRINCIPAL\n// ============================================================================\n\ntry {\n    const inactivaTemprana = detectarInactivaTemprana(html);\n    if (inactivaTemprana) {\n        return { json: { id_propiedad: idOriginal, datos_json: inactivaTemprana } };\n    }\n\n    const match = html.match(/<div id=\"app\" data-page=\"([^\"]+)\">/);\n    if (match) {\n        const jsonStr = match[1].replace(/&quot;/g, '\"').replace(/&amp;/g, '&');\n        try {\n            const data = JSON.parse(jsonStr);\n            const status = data.props?.listing?.status_listing?.name;\n            if (status && /inactiva|cancelada/i.test(status)) {\n                return { json: { id_propiedad: idOriginal, datos_json: { es_inactiva: true, razon: `Estado: ${status}` } } };\n            }\n        } catch (e) {}\n    }\n\n    if (!html || html.length < 300) {\n        return { json: { id_propiedad: idOriginal, datos_json: { error: true, mensaje: `HTML incompleto (${html?.length || 0})`, etapa: \"validacion_html\" } } };\n    }\n\n    const listing = parsearDataPage(html);\n    const datos = mapearRemax(listing, html, itemData.url, idOriginal);\n\n    if (datos && datos.error) {\n        return { json: { id_propiedad: idOriginal, datos_json: datos } };\n    }\n\n    if (datos && datos.es_inactiva) {\n        return { json: { id_propiedad: idOriginal, datos_json: datos } };\n    }\n\n    datos.extraccion_exitosa = true; \n\n     return { \n        json: {\n            _internal_id: idOriginal,\n            ...datos\n        }\n    };\n\n} catch (error) {\n    console.error(\"❌ Error fatal:\", error.message);\n    return {\n        json: {\n            id_propiedad: idOriginal,\n            datos_json: {\n                error: true,\n                mensaje: `Error fatal: ${error.message}`,\n                etapa: \"principal\",\n                stack: error.stack\n            }\n        }\n    };\n}"
      },
      "id": "074dd653-07ff-4eee-97d0-e03246ee7ccf",
      "name": "Extractor Remax v1.9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -496
      ],
      "notes": "Extractor Remax v1.6.1 - Soporta Firecrawl"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow('enrichment', 'success', 0, 0, 0, NULL, '{}'::jsonb);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        -608
      ],
      "id": "3851eaf3-6fef-4d0a-b3ee-cb36aa93b21b",
      "name": "registrar_ejecucion_workflow",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow('enrichment', 'success', 0, 0, 0, NULL, '{}'::jsonb);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1568,
        96
      ],
      "id": "8559161e-cc0e-4f64-8e34-ae112327f016",
      "name": "registrar_ejecucion_workflow1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger 2:00 AM": {
      "main": [
        [
          {
            "node": "Cargar Proyectos Master",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cargar Config Global",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Propiedades Nuevas (original)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Proyectos Master": {
      "main": [
        [
          {
            "node": "Merge Queries",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cargar Config Global": {
      "main": [
        [
          {
            "node": "Transformar Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Config": {
      "main": [
        [
          {
            "node": "Merge Con Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Queries": {
      "main": [
        [
          {
            "node": "Merge Con Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Con Config": {
      "main": [
        [
          {
            "node": "Sync Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Point": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "IF Hay Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hay Propiedades": {
      "main": [
        [
          {
            "node": "Procesar Una por Una",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Hay Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Una por Una": {
      "main": [
        [
          {
            "node": "Resumen Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Firecrawl Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape": {
      "main": [
        [
          {
            "node": "Normalizar Firecrawl",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalizar Firecrawl": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Switch Fuente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Fuente": {
      "main": [
        [
          {
            "node": "Extractor Remax v1.9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extractor Century21 v16.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Resultados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Extraccion Exitosa": {
      "main": [
        [
          {
            "node": "Registrar Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Enrichment": {
      "main": [
        [
          {
            "node": "Continuar Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Continuar Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar Loop": {
      "main": [
        [
          {
            "node": "Procesar Una por Una",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Propiedades Nuevas (original)": {
      "main": [
        [
          {
            "node": "Merge Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Marcar como inactivo_confirmed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Extraccion Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como inactivo_confirmed": {
      "main": [
        [
          {
            "node": "Procesar Una por Una",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractor Century21 v16.5": {
      "main": [
        [
          {
            "node": "Merge Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractor Remax v1.9": {
      "main": [
        [
          {
            "node": "Merge Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen Final": {
      "main": [
        [
          {
            "node": "registrar_ejecucion_workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Hay Propiedades": {
      "main": [
        [
          {
            "node": "registrar_ejecucion_workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/La_Paz",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "396bc077-7389-421e-8391-49e79fea0598",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cf95066756cd645aa773b1efb0bb40a009acb9e082a84e9d526127529829060"
  },
  "id": "TOgGFkCGtUVgWR7K",
  "tags": []
}