n8n/workflows/modulo_1/flujo_a_discovery_century21_v1.json
{
  "name": "Flujo A - Discovery Century21 v1.0.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Trigger 1:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Ejecución diaria a las 1:00 AM"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === GENERADOR DE CUADRANTES CENTURY21 ===\n// Grid geográfico para Equipetrol\n// Basado en RESEARCH_CENTURY21_GRID.md\n\nconst LAT_SUR = -17.775;\nconst LAT_NORTE = -17.750;\nconst LON_OESTE = -63.205;\nconst LON_ESTE = -63.185;\nconst STEP = 0.010;\n\n// Generar cookie auto-emitida\nconst cookieId = 'sici_' + Math.random().toString(36).substring(2, 15);\nconst cookie = `PHPSESSID=${cookieId}`;\n\nconst cuadrantes = [];\nlet gridId = 1;\n\nfor (let lat = LAT_SUR; lat < LAT_NORTE; lat += STEP) {\n  for (let lon = LON_OESTE; lon < LON_ESTE; lon += STEP) {\n    const south = lat;\n    const west = lon;\n    const north = lat + STEP;\n    const east = lon + STEP;\n    \n    // Formato Century21: coordenadas_north,east,south,west\n    const coordString = `coordenadas_${north.toFixed(6)},${east.toFixed(6)},${south.toFixed(6)},${west.toFixed(6)}`;\n    \n    cuadrantes.push({\n      json: {\n        grid_id: gridId++,\n        path_coordenadas: coordString,\n        cookie: cookie,\n        fuente: 'century21'\n      }\n    });\n  }\n}\n\nreturn cuadrantes;"
      },
      "id": "generar-cuadrantes",
      "name": "Generar Cuadrantes Grid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "notes": "~6 cuadrantes para Equipetrol (STEP=0.010)"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://c21.com.bo/v/resultados/tipo_departamento-o-penthouse/operacion_venta/layout_mapa/{{ $json.path_coordenadas }},15?json=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "es-US,es-419;q=0.9,es;q=0.8,en;q=0.7"
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-origin"
            },
            {
              "name": "cookie",
              "value": "={{ $json.cookie }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request",
      "name": "HTTP Request Grid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "notes": "Headers críticos según research"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-rate-limit",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [880, 0],
      "notes": "Rate limit: 2s entre requests"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === EXTRAER PROPIEDADES DEL RESPONSE ===\n// Parsing defensivo: maneja 3 estructuras posibles\n// Mapeo mínimo + snapshot RAW completo\n\nconst response = $input.first().json;\n\n// Parsing defensivo según research\nlet propiedades = [];\nif (Array.isArray(response)) {\n  propiedades = response;\n} else if (response.results) {\n  propiedades = response.results;\n} else if (response.datas && response.datas.results) {\n  propiedades = response.datas.results;\n}\n\nif (!propiedades || propiedades.length === 0) {\n  return []; // Cuadrante vacío\n}\n\nreturn propiedades.map(prop => ({\n  json: {\n    // === IDENTIFICACIÓN ===\n    url: `https://c21.com.bo${prop.urlCorrectaPropiedad || '/propiedad/' + prop.id}`,\n    fuente: 'century21',\n    codigo_propiedad: String(prop.id),\n    \n    // === GPS ===\n    latitud: parseFloat(prop.lat) || null,\n    longitud: parseFloat(prop.lon) || null,\n    \n    // === DATOS OBSERVADOS (sin normalización) ===\n    // Century21 devuelve más datos pero Discovery solo usa mínimos\n    precio_amount: prop.precio || null,\n    moneda_original: prop.moneda || null,\n    area_total_m2: prop.superficie || null,\n    dormitorios: prop.dormitorios || null,\n    banos: prop.banos || null,\n    tipo_propiedad_original: prop.tipo || null,\n    fecha_publicacion: null, // No disponible en grid API\n    \n    // === SNAPSHOT RAW COMPLETO ===\n    datos_json_discovery: prop,\n    \n    // === METADATA ===\n    metodo_discovery: 'map_grid'\n  }\n}));"
      },
      "id": "extraer-propiedades",
      "name": "Extraer Propiedades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "notes": "Parsing defensivo + payload RAW"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "propiedades",
        "include": "allFieldsExceptDefault"
      },
      "id": "aggregate-snapshot",
      "name": "Aggregate Snapshot",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1320, 0],
      "notes": "Fin de fase SNAPSHOT"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, status FROM propiedades_v2 WHERE fuente = 'century21' AND status NOT IN ('inactivo_confirmed')",
        "options": {}
      },
      "id": "query-bd-activas",
      "name": "Obtener URLs Activas BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1540, 0],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Supabase SICI"
        }
      },
      "notes": "Solo id, url, status - Comparación clasifica existencia"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === PREPARAR COMPARACIÓN ===\n// Clasifica: nuevas, existentes, ausentes\n// Deduplicación intra-snapshot por URL (último visto)\n\nconst snapshot = $('Aggregate Snapshot').first().json.propiedades || [];\nconst propiedadesBD = $('Obtener URLs Activas BD').all().map(item => item.json);\n\n// === DEDUPLICACIÓN INTRA-SNAPSHOT ===\n// Se conserva el ÚLTIMO visto (estado más reciente del mercado)\n// Crítico para Century21 por overlapping de cuadrantes\nconst snapshotDedup = new Map();\nfor (const prop of snapshot) {\n  snapshotDedup.set(prop.url, prop); // último sobrescribe anteriores\n}\n\nconst urlsSnapshot = new Set(snapshotDedup.keys());\nconst urlsBD = new Map(propiedadesBD.map(p => [p.url, { id: p.id, status: p.status }]));\n\n// === CLASIFICACIÓN ===\nconst nuevas = [];\nconst existentes = [];\nconst ausentes = [];\n\n// Propiedades en snapshot\nfor (const [url, prop] of snapshotDedup) {\n  if (!urlsBD.has(url)) {\n    nuevas.push(prop);\n  } else {\n    existentes.push({\n      ...prop,\n      _id_bd: urlsBD.get(url).id,\n      _status_bd: urlsBD.get(url).status\n    });\n  }\n}\n\n// Propiedades ausentes (en BD pero no en snapshot)\nfor (const [url, info] of urlsBD) {\n  if (!urlsSnapshot.has(url)) {\n    if (!['inactivo_pending', 'inactivo_confirmed'].includes(info.status)) {\n      ausentes.push({\n        id: info.id,\n        url: url,\n        status_actual: info.status\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    nuevas: nuevas,\n    existentes: existentes,\n    ausentes: ausentes,\n    stats: {\n      total_snapshot: snapshotDedup.size,\n      total_bd: urlsBD.size,\n      nuevas: nuevas.length,\n      existentes: existentes.length,\n      ausentes: ausentes.length\n    }\n  }\n}];"
      },
      "id": "preparar-comparacion",
      "name": "Preparar Comparación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0],
      "notes": "Deduplicación (crítica por grid overlap) + Clasificación"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === LOG STATS ===\nconst stats = $input.first().json.stats;\n\nconsole.log(`\n=== COMPARACIÓN DISCOVERY CENTURY21 ===\nSnapshot (deduplicado): ${stats.total_snapshot}\nBD activas: ${stats.total_bd}\n---\nNuevas: ${stats.nuevas}\nExistentes: ${stats.existentes}\nAusentes: ${stats.ausentes}\n=======================================\n`);\n\nreturn $input.all();"
      },
      "id": "log-stats",
      "name": "Log Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 0],
      "notes": "Fin de fase COMPARACIÓN"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === UNIFICAR PROPIEDADES PARA DISCOVERY ===\n// Combina nuevas + existentes en un solo array\n// registrar_discovery() decide internamente si es INSERT o UPDATE\n\nconst data = $input.first().json;\nconst nuevas = data.nuevas || [];\nconst existentes = data.existentes || [];\n\n// Unificar: todas pasan por registrar_discovery()\nconst todas = [...nuevas, ...existentes];\n\nif (todas.length === 0) {\n  return [{ json: { skip: true, message: 'No hay propiedades para procesar' } }];\n}\n\nreturn todas.map(prop => ({\n  json: {\n    p_url: prop.url,\n    p_fuente: prop.fuente,\n    p_codigo_propiedad: prop.codigo_propiedad,\n    p_tipo_operacion: null,\n    p_tipo_propiedad_original: prop.tipo_propiedad_original,\n    p_precio_usd_original: prop.precio_amount,\n    p_moneda_original: prop.moneda_original,\n    p_area_total_m2: prop.area_total_m2,\n    p_dormitorios: prop.dormitorios,\n    p_banos: prop.banos,\n    p_latitud: prop.latitud,\n    p_longitud: prop.longitud,\n    p_fecha_publicacion: prop.fecha_publicacion,\n    p_metodo_discovery: prop.metodo_discovery,\n    p_datos_json_discovery: JSON.stringify(prop.datos_json_discovery)\n  }\n}));"
      },
      "id": "procesar-propiedades",
      "name": "Procesar Propiedades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, -100],
      "notes": "Unifica nuevas + existentes → registrar_discovery()"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-propiedades",
      "name": "IF Propiedades",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM registrar_discovery(\n  p_url := $1,\n  p_fuente := $2,\n  p_codigo_propiedad := $3,\n  p_tipo_operacion := $4,\n  p_tipo_propiedad_original := $5,\n  p_precio_usd_original := $6,\n  p_moneda_original := $7,\n  p_area_total_m2 := $8,\n  p_dormitorios := $9,\n  p_banos := $10,\n  p_latitud := $11,\n  p_longitud := $12,\n  p_fecha_publicacion := $13,\n  p_metodo_discovery := $14,\n  p_datos_json_discovery := $15::jsonb\n)",
        "options": {
          "queryReplacement": "={{ [$json.p_url, $json.p_fuente, $json.p_codigo_propiedad, $json.p_tipo_operacion, $json.p_tipo_propiedad_original, $json.p_precio_usd_original, $json.p_moneda_original, $json.p_area_total_m2, $json.p_dormitorios, $json.p_banos, $json.p_latitud, $json.p_longitud, $json.p_fecha_publicacion, $json.p_metodo_discovery, $json.p_datos_json_discovery] }}"
        }
      },
      "id": "registrar-discovery",
      "name": "Registrar Discovery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2640, -100],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Supabase SICI"
        }
      },
      "notes": "registrar_discovery() decide INSERT/UPDATE internamente"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === PROCESAR AUSENTES ===\n// Prepara UPDATE directo a inactivo_pending\n\nconst ausentes = $input.first().json.ausentes;\n\nif (ausentes.length === 0) {\n  return [{ json: { skip: true, message: 'No hay propiedades ausentes' } }];\n}\n\nreturn ausentes.map(prop => ({\n  json: {\n    id: prop.id,\n    url: prop.url,\n    status_actual: prop.status_actual\n  }\n}));"
      },
      "id": "procesar-ausentes",
      "name": "Procesar Ausentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 200],
      "notes": "UPDATE directo desde orquestación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ausentes",
      "name": "IF Ausentes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE propiedades_v2 SET status = 'inactivo_pending', fecha_discovery = NOW() WHERE id = $1 AND status NOT IN ('inactivo_pending', 'inactivo_confirmed')",
        "options": {
          "queryReplacement": "={{ [$json.id] }}"
        }
      },
      "id": "marcar-ausentes",
      "name": "Marcar Ausentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2640, 200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Supabase SICI"
        }
      },
      "notes": "UPDATE → inactivo_pending (orquestación)"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// === RESUMEN FINAL ===\nconst stats = $('Log Stats').first().json.stats;\n\nconst resumen = {\n  timestamp: new Date().toISOString(),\n  fuente: 'century21',\n  workflow: 'Flujo A - Discovery',\n  version: '1.0.0',\n  resultados: {\n    snapshot_total: stats.total_snapshot,\n    bd_activas: stats.total_bd,\n    nuevas_insertadas: stats.nuevas,\n    existentes_actualizadas: stats.existentes,\n    ausentes_marcadas: stats.ausentes\n  },\n  status: 'completado'\n};\n\nconsole.log('=== FLUJO A DISCOVERY CENTURY21 COMPLETADO ===');\nconsole.log(JSON.stringify(resumen, null, 2));\n\nreturn [{ json: resumen }];"
      },
      "id": "resumen-final",
      "name": "Resumen Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 0],
      "notes": "Log final y resumen de ejecución"
    }
  ],
  "connections": {
    "Trigger 1:00 AM": {
      "main": [
        [
          {
            "node": "Generar Cuadrantes Grid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Cuadrantes Grid": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request Grid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Grid": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Extraer Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Propiedades": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Snapshot": {
      "main": [
        [
          {
            "node": "Obtener URLs Activas BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URLs Activas BD": {
      "main": [
        [
          {
            "node": "Preparar Comparación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Comparación": {
      "main": [
        [
          {
            "node": "Log Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Stats": {
      "main": [
        [
          {
            "node": "Procesar Propiedades",
            "type": "main",
            "index": 0
          },
          {
            "node": "Procesar Ausentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Propiedades": {
      "main": [
        [
          {
            "node": "IF Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Propiedades": {
      "main": [
        [
          {
            "node": "Registrar Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Discovery": {
      "main": [
        [
          {
            "node": "Resumen Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Ausentes": {
      "main": [
        [
          {
            "node": "IF Ausentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Ausentes": {
      "main": [
        [
          {
            "node": "Marcar Ausentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Ausentes": {
      "main": [
        [
          {
            "node": "Resumen Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sici-discovery"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "tags": [
    {
      "name": "discovery",
      "createdAt": "2025-12-16",
      "updatedAt": "2025-12-16"
    },
    {
      "name": "century21",
      "createdAt": "2025-12-16",
      "updatedAt": "2025-12-16"
    },
    {
      "name": "flujo-a",
      "createdAt": "2025-12-16",
      "updatedAt": "2025-12-16"
    }
  ]
}
