n8n/workflows/modulo_1/flujo_a/Flujo A - Remax Discovery.json
{
  "name": "Flujo A - Remax Discovery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "a018b575-a0c0-45d9-9682-253b72bf475f",
      "name": "Schedule: 1:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// FASE 0: PREPARACION\nconst timestamp_inicio = new Date().toISOString();\n\nreturn [{\n  json: {\n    timestamp_inicio,\n    remax_exitoso: false,\n    errores: [],\n    propiedades_remax: []\n  }\n}];"
      },
      "id": "45e0adc1-83ed-4137-b5a2-4ac43b783bfd",
      "name": "Fase 0: Preparacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generar items para paginas 1-8\nconst items = [];\nfor (let pagina = 1; pagina <= 8; pagina++) {\n  items.push({\n    json: {\n      pagina,\n      url: `https://remax.bo/api/search/departamento/santa-cruz-de-la-sierra/equipetrolnoroeste?page=${pagina}`,\n      timestamp_inicio: $input.first().json.timestamp_inicio,\n      errores: $input.first().json.errores\n    }\n  });\n}\nreturn items;"
      },
      "id": "ed692214-bda9-47d2-b3b2-c799610d655c",
      "name": "Generar Paginas 1-8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -128
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "2ac41cc0-1e75-464f-a5b2-352bc72f5028",
      "name": "Loop Paginas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -544,
        -128
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "55bcc9da-9c61-47a6-b753-e034e2117662",
      "name": "HTTP Request Remax",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Rate limit: esperar 2 segundos\nawait new Promise(resolve => setTimeout(resolve, 2000));\n\nconst response = $input.first().json;\nconst pagina = $('Loop Paginas').first().json.pagina;\n\n// Extraer propiedades del response REAL de Remax\nlet propiedades = [];\n\nif (response && Array.isArray(response.data)) {\n  for (const item of response.data) {\n    const lat = item.location?.latitude;\n    const lon = item.location?.longitude;\n\n    propiedades.push({\n      id_externo: String(item.id),\n      fuente: \"remax\",\n      url_propiedad: `https://remax.bo/propiedad/${item.slug}`,\n      latitud: lat ? parseFloat(lat) : null,\n      longitud: lon ? parseFloat(lon) : null\n    });\n  }\n}\n\nreturn [{\n  json: {\n    pagina,\n    propiedades,\n    cantidad: propiedades.length\n  }\n}];\n"
      },
      "id": "e65ae4a4-c7c8-4ab3-8cde-ee6fb4333f8d",
      "name": "Procesar Pagina + Rate Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// FASE 3: CONSOLIDACION - Unir todas las propiedades y deduplicar\nconst allItems = $input.all();\nlet todasPropiedades = [];\n\n// Recolectar todas las propiedades de todas las paginas\nfor (const item of allItems) {\n  if (item.json.propiedades && Array.isArray(item.json.propiedades)) {\n    todasPropiedades = todasPropiedades.concat(item.json.propiedades);\n  }\n}\n\n// Deduplicar por (id_externo, fuente)\nconst vistos = new Set();\nconst propiedadesUnicas = [];\n\nfor (const prop of todasPropiedades) {\n  const clave = `${prop.id_externo}|${prop.fuente}`;\n  if (!vistos.has(clave)) {\n    vistos.add(clave);\n    propiedadesUnicas.push(prop);\n  }\n}\n\nconst timestamp_inicio = $('Fase 0: Preparacion').first().json.timestamp_inicio;\n\nreturn [{\n  json: {\n    timestamp_inicio,\n    remax_exitoso: true,\n    total_raw: todasPropiedades.length,\n    total_unicas: propiedadesUnicas.length,\n    duplicados_eliminados: todasPropiedades.length - propiedadesUnicas.length,\n    propiedades: propiedadesUnicas\n  }\n}];"
      },
      "id": "d0878b8d-ca80-4c81-9fc4-f676eab59292",
      "name": "Fase 3: Consolidacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar items individuales para registro en BD\nconst data = $input.first().json;\nconst items = [];\n\nfor (const prop of data.propiedades) {\n  items.push({\n    json: {\n      ...prop,\n      timestamp_inicio: data.timestamp_inicio,\n      remax_exitoso: data.remax_exitoso\n    }\n  });\n}\n\n// Si no hay propiedades, pasar item vacio para continuar flujo\nif (items.length === 0) {\n  return [{\n    json: {\n      sin_propiedades: true,\n      timestamp_inicio: data.timestamp_inicio,\n      remax_exitoso: data.remax_exitoso\n    }\n  }];\n}\n\nreturn items;"
      },
      "id": "3ce1caaf-6793-41fa-9a35-57a0ee8a0dee",
      "name": "Preparar Items para BD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-propiedades",
              "leftValue": "={{ $json.sin_propiedades }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01682031-f965-4774-b464-c8c8f96bc8e9",
      "name": "Hay Propiedades?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        576,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM registrar_discovery(\n  p_url := '{{ $json.url_propiedad }}',\n  p_fuente := '{{ $json.fuente }}',\n  p_codigo_propiedad := '{{ $json.id_externo }}',\n  p_latitud := {{ $json.latitud || 'NULL' }},\n  p_longitud := {{ $json.longitud || 'NULL' }},\n  p_metodo_discovery := 'api_remax',\n  p_datos_json_discovery := '{{ JSON.stringify($json) }}'::jsonb\n);",
        "options": {}
      },
      "id": "da2ed85a-b229-42cd-8930-028f09765125",
      "name": "Fase 4: Registrar Discovery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        784,
        -224
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FASE 6: LOGGING - Generar reporte de ejecucion\nconst allResults = $input.all();\nconst timestamp_fin = new Date().toISOString();\n\n// Obtener datos de consolidacion\nlet consolidacion;\ntry {\n  consolidacion = $('Fase 3: Consolidacion').first().json;\n} catch (e) {\n  consolidacion = {\n    timestamp_inicio: new Date().toISOString(),\n    remax_exitoso: false,\n    total_raw: 0,\n    total_unicas: 0,\n    duplicados_eliminados: 0\n  };\n}\n\nconst timestamp_inicio = consolidacion.timestamp_inicio;\nconst duracion_ms = new Date(timestamp_fin) - new Date(timestamp_inicio);\nconst duracion_segundos = Math.round(duracion_ms / 1000);\n\n// Contar resultados\nlet nuevas = 0;\nlet actualizadas = 0;\n\nfor (const item of allResults) {\n  if (item.json && item.json.es_nueva === true) {\n    nuevas++;\n  } else if (item.json && item.json.es_nueva === false) {\n    actualizadas++;\n  }\n}\n\nconst reporte = {\n  timestamp_inicio,\n  timestamp_fin,\n  duracion_segundos,\n  \n  fuentes: {\n    remax: {\n      propiedades_encontradas: consolidacion.total_unicas || 0,\n      paginas_procesadas: 8\n    }\n  },\n  \n  consolidado: {\n    total_raw: consolidacion.total_raw || 0,\n    total_unicas: consolidacion.total_unicas || 0,\n    duplicados_eliminados: consolidacion.duplicados_eliminados || 0\n  },\n  \n  base_datos: {\n    nuevas_insertadas: nuevas,\n    existentes_actualizadas: actualizadas\n  },\n  \n  errores: []\n};\n\nreturn [{ json: reporte }];"
      },
      "id": "b0f1388d-c027-4ae0-af84-608577a0cd96",
      "name": "Fase 6: Logging",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sin propiedades - continuar al logging\nreturn [{\n  json: {\n    sin_propiedades: true,\n    mensaje: 'No se encontraron propiedades en esta ejecucion'\n  }\n}];"
      },
      "id": "bf583543-eb57-4b7d-ad47-d6906b16d714",
      "name": "Sin Propiedades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule: 1:00 AM": {
      "main": [
        [
          {
            "node": "Fase 0: Preparacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fase 0: Preparacion": {
      "main": [
        [
          {
            "node": "Generar Paginas 1-8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Paginas 1-8": {
      "main": [
        [
          {
            "node": "Loop Paginas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Paginas": {
      "main": [
        [
          {
            "node": "Fase 3: Consolidacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Remax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Remax": {
      "main": [
        [
          {
            "node": "Procesar Pagina + Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Pagina + Rate Limit": {
      "main": [
        [
          {
            "node": "Loop Paginas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fase 3: Consolidacion": {
      "main": [
        [
          {
            "node": "Preparar Items para BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Items para BD": {
      "main": [
        [
          {
            "node": "Hay Propiedades?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Propiedades?": {
      "main": [
        [
          {
            "node": "Fase 4: Registrar Discovery",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fase 4: Registrar Discovery": {
      "main": [
        [
          {
            "node": "Fase 6: Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin Propiedades": {
      "main": [
        [
          {
            "node": "Fase 6: Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/La_Paz",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "3a8e18f4-cd0e-492b-96ee-8be337dc55b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cf95066756cd645aa773b1efb0bb40a009acb9e082a84e9d526127529829060"
  },
  "id": "5yee0cWWVjD28S96",
  "tags": [
    {
      "updatedAt": "2025-09-25T21:25:19.573Z",
      "createdAt": "2025-09-25T21:25:19.573Z",
      "id": "kzSnuu7SYtbe4v2l",
      "name": "Censo inmobiliario"
    },
    {
      "name": "Modulo 1",
      "id": "niEGE3vqNDxKJIEu",
      "updatedAt": "2025-12-15T20:30:54.106Z",
      "createdAt": "2025-12-15T20:30:54.106Z"
    },
    {
      "name": "Flujo A",
      "id": "jdDJLNUPattpWRSY",
      "updatedAt": "2025-12-15T20:30:54.142Z",
      "createdAt": "2025-12-15T20:30:54.142Z"
    },
    {
      "name": "Remax",
      "id": "cUXmokorkIPoGS2G",
      "updatedAt": "2025-12-15T20:30:54.116Z",
      "createdAt": "2025-12-15T20:30:54.116Z"
    }
  ]
}