n8n/workflows/alquiler/flujo_enrichment_llm_alquiler_v2.0.0.json
{
  "name": "Enrichment LLM Alquiler v1.0.0 copy",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 2 * * *"
            }
          ]
        }
      },
      "id": "bee008c5-b22f-47da-b9b5-28285943dda2",
      "name": "Trigger 2:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        112
      ],
      "notes": "Después de discovery (1:30 AM), antes de merge (3:30 AM)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id AS prop_id, p.url, p.fuente, p.codigo_propiedad,\n    p.precio_mensual_bob, p.precio_usd, p.area_total_m2,\n    p.dormitorios, p.banos, p.zona, p.tipo_propiedad_original,\n    p.datos_json_discovery->>'nomb_img' AS nomb_img,\n    p.datos_json_discovery->>'amigo_clie' AS amigo_clie,\n    p.nombre_edificio AS nombre_edificio_regex,\n    COALESCE((\n      SELECT string_agg(pm.nombre_oficial, ', ' ORDER BY pm.nombre_oficial)\n      FROM proyectos_master pm\n      WHERE pm.activo = true AND pm.zona = p.zona\n    ), '') AS proyectos_zona\n  FROM propiedades_v2 p\n  WHERE p.tipo_operacion = 'alquiler'\n    AND p.status IN ('nueva', 'actualizado')\n    AND p.fecha_enrichment IS NULL\n  ORDER BY p.fecha_discovery DESC LIMIT 20",
        "options": {}
      },
      "id": "d615c5bb-7780-4ffc-a0c0-ef71f71fb91d",
      "name": "Query Alquileres Sin Enrichment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -480,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "Máximo 20 por ejecución para control de costos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.prop_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ac213973-cf42-4170-948d-4f977aeded79",
      "name": "Hay Pendientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "578982c3-9b39-4bcf-8922-3f9772fc14a6",
      "name": "Loop Propiedades",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "firecrawlApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, formats: ['markdown', 'rawHtml'], onlyMainContent: true, waitFor: 3000 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c82b158f-e7c2-499d-8bb5-0a3824add35d",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        128
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "firecrawlApi": {
          "id": "1txYWUirJjoOvK41",
          "name": "Firecrawl account"
        }
      },
      "notes": "Scrape HTML → Markdown (credencial n8n)"
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "aa34fd38-e02c-4044-9183-6b964faac58f",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        128
      ],
      "webhookId": "1c061428-3ba1-44c2-9abc-9ec0212c7830",
      "notes": "Rate limit Firecrawl"
    },
    {
      "parameters": {
        "jsCode": "// === CONSTRUIR PROMPT PARA HAIKU v2.0.0 ===\n// Cambios vs v1.3.0:\n// - Inyecta PROYECTOS CONOCIDOS por zona (viene de la query SQL)\n// - Instrucciones NOMBRE_EDIFICIO con match contra lista PM\n// - Instrucciones DORMITORIOS con regla monoambiente=0\n// - Agrega nombre_edificio_confianza y dormitorios_confianza al JSON\n// - Lógica Remax/C21/BI IDÉNTICA a v1.3.0\nconst prop = $('Loop Propiedades').first().json;\nconst scrape = $('Firecrawl Scrape').first().json;\n\nlet contenido = '';\nlet metodo = 'markdown';\n\n// [148] Agente extraído directamente (Remax data-page)\nlet agente_directo = null;\n// [158] Fotos extraídas directamente (Remax data-page)\nlet fotos_extraidas = null;\n\nif (prop.fuente === 'remax') {\n  // === REMAX: parsear data-page del HTML ===\n  const html = scrape?.data?.rawHtml || scrape?.rawHtml || '';\n  let titulo = '';\n  let descripcion = '';\n\n  if (html && html.length > 500) {\n    try {\n      const match = html.match(/data-page=\"([^\"]*?)\"/i);\n      if (match && match[1]) {\n        const jsonString = match[1]\n          .replace(/&quot;/g, '\"')\n          .replace(/&amp;/g, '&')\n          .replace(/&lt;/g, '<')\n          .replace(/&gt;/g, '>');\n        const data = JSON.parse(jsonString);\n        const listing = data.props?.listing || data.props?.property || null;\n        if (listing) {\n          titulo = listing.title || '';\n          descripcion = listing.description_website || listing.description || '';\n          metodo = 'data-page';\n        }\n        // [148] Extraer agente del data-page\n        const agent = listing?.agent || data.props?.agent || null;\n        if (agent) {\n          agente_directo = {\n            nombre: agent.user?.name_to_show || agent.name || null,\n            telefono: agent.user?.phone_number || agent.user?.mobile_phone || agent.user?.phone || null,\n            oficina: agent.office?.name || null\n          };\n        }\n        // [158] Extraer fotos del data-page\n        const multimedias = listing?.multimedias || listing?.photos || listing?.images || [];\n        if (Array.isArray(multimedias) && multimedias.length > 0) {\n          const urls = multimedias\n            .map(m => m.large_url || m.url || m.link || m.extra_large_url || null)\n            .filter(u => u && typeof u === 'string' && u.startsWith('http'));\n          const unicas = [...new Set(urls)];\n          if (unicas.length > 0) {\n            fotos_extraidas = unicas;\n          }\n        }\n      }\n    } catch (e) {\n      console.log('Error parseando data-page: ' + e.message);\n    }\n  }\n\n  if (!descripcion || descripcion.length < 20) {\n    const md = scrape?.data?.markdown || scrape?.markdown || '';\n    if (md && md.length >= 50) {\n      contenido = md.substring(0, 3000);\n      metodo = 'markdown_fallback';\n    } else {\n      return [{ json: { skip: true, error: 'Remax: no data-page ni markdown', prop_id: prop.prop_id } }];\n    }\n  } else {\n    contenido = (titulo ? 'TÍTULO: ' + titulo + '\\n\\n' : '') + 'DESCRIPCIÓN:\\n' + descripcion.substring(0, 3000);\n  }\n} else if (prop.fuente === 'bien_inmuebles') {\n  // === BIEN INMUEBLES: extraer fotos + agente del HTML, usar markdown para LLM ===\n  const html = scrape?.data?.rawHtml || scrape?.rawHtml || '';\n  if (html && html.length > 200) {\n    const fotoMatches = html.match(/uploads\\/catalogo\\/pics\\/[^\"'\\s)]+/g) || [];\n    const fotosUnicas = [...new Set(fotoMatches)].map(f => 'https://www.bieninmuebles.com.bo/admin/' + f);\n    if (fotosUnicas.length > 0) {\n      const nomb_img = prop.nomb_img || '';\n      if (nomb_img) {\n        const mainUrl = 'https://www.bieninmuebles.com.bo/admin/uploads/catalogo/pics/' + nomb_img;\n        fotosUnicas.sort((a, b) => (a === mainUrl ? -1 : b === mainUrl ? 1 : 0));\n      }\n      fotos_extraidas = fotosUnicas;\n      console.log(`Bien Inmuebles: ${fotosUnicas.length} fotos extraídas`);\n    }\n\n    const agenteSection = html.match(/agent-sides_2[\\s\\S]*?<\\/ul>\\s*<\\/div>\\s*<\\/div>/i);\n    if (agenteSection) {\n      const seccion = agenteSection[0];\n      const nombreMatch = seccion.match(/<h4>([^<]+)<\\/h4>/i);\n      const telMatch = seccion.match(/[67]\\d{7}/);\n      if (telMatch) {\n        const telefono = '+591' + telMatch[0];\n        let nombre = nombreMatch ? nombreMatch[1].trim() : null;\n        if (!nombre) {\n          nombre = prop.amigo_clie || null;\n          if (nombre) nombre = nombre.trim().replace(/([a-z])([A-Z])/g, '$1 $2');\n        }\n        agente_directo = { nombre, telefono, oficina: 'Bien Inmuebles' };\n        console.log(`Bien Inmuebles agente: ${nombre} ${telefono}`);\n      }\n    }\n  }\n  const markdown = scrape?.data?.markdown || scrape?.markdown || '';\n  if (!markdown || markdown.length < 50) {\n    if (fotos_extraidas) {\n      contenido = 'Sin descripción disponible';\n      metodo = 'fotos_only';\n    } else {\n      return [{ json: { skip: true, error: 'Bien Inmuebles: sin contenido ni fotos', prop_id: prop.prop_id } }];\n    }\n  } else {\n    contenido = markdown.substring(0, 3000);\n  }\n} else {\n  // === C21: usar markdown como siempre ===\n  const markdown = scrape?.data?.markdown || scrape?.markdown || '';\n  if (!markdown || markdown.length < 50) {\n    return [{ json: { skip: true, error: 'Firecrawl no devolvió contenido', prop_id: prop.prop_id } }];\n  }\n  contenido = markdown.substring(0, 3000);\n}\n\n// === v2.0: Leer campos nuevos de la query SQL ===\nconst nombre_regex = prop.nombre_edificio_regex || 'desconocido';\nconst proyectos_zona = prop.proyectos_zona || '';\n\nconst prompt = `Eres un extractor de datos inmobiliarios para Santa Cruz de la Sierra, Bolivia.\nExtraes datos de paginas web de propiedades en ALQUILER.\nREGLA ABSOLUTA: NUNCA inventes datos. Si no aparece en el texto, devuelve null.\n\nDATOS YA CONOCIDOS (del discovery):\n- URL: ${prop.url}\n- Fuente: ${prop.fuente}\n- Precio discovery: ${prop.precio_mensual_bob ? 'Bs ' + prop.precio_mensual_bob : 'desconocido'}\n- Area: ${prop.area_total_m2 ? prop.area_total_m2 + ' m2' : 'desconocida'}\n- Dormitorios (portal): ${prop.dormitorios || 'desconocido'}\n- Banos (portal): ${prop.banos || 'desconocido'}\n- Zona GPS: ${prop.zona || 'desconocida'}\n\nDATOS EXTRACTOR (regex — pueden tener errores):\n- Nombre edificio: ${nombre_regex}\n\nPROYECTOS CONOCIDOS EN ZONA ${prop.zona || 'desconocida'}:\n${proyectos_zona}\n\nTEXTO DE LA PAGINA:\n${contenido}\n\nINSTRUCCIONES POR CAMPO:\n\nPRIORIDAD: Si el texto CONTRADICE un dato del portal, usar la evidencia del texto. Si no hay contradiccion, mantener el dato existente.\n\nNOMBRE_EDIFICIO:\n- Busca el nombre del edificio/condominio/proyecto en el texto Y en el dato del extractor\n- Compara contra la lista de PROYECTOS CONOCIDOS de arriba\n- PASO 1: Si el extractor ya tiene un nombre, limpia prefijos genericos (\"Edificio\", \"Condominio\", \"Eco Sostenible\") y busca match en la lista\n- PASO 2: Si encontras match en la lista (incluso parcial: \"Elite by Sky Properties\" -> \"Sky Elite\"), usa el nombre oficial de la lista\n- PASO 3: Si NO hay match en la lista pero el extractor o el texto tiene un nombre claro de edificio, MANTENELO tal cual (confianza media)\n- PASO 4: Solo devolve null si no hay NINGUN nombre de edificio ni en extractor ni en texto\n- NUNCA devolver: \"Alquiler\", \"Departamento\", direcciones, \"Venta\", tipo de operacion\n- Confianza alta: nombre exacto en lista, o nombre claro en texto que coincide con extractor\n- Confianza media: nombre del extractor o texto que NO esta en la lista pero es un nombre real de edificio\n- Confianza baja: muy dudoso, solo fragmento parcial\n\nDORMITORIOS:\n- \"monoambiente\", \"studio\", \"loft\", \"mono\" = 0 dormitorios\n- \"1 dormitorio\", \"1 dorm\", \"1 hab\" = 1\n- Si el portal dice 1 pero el texto dice \"monoambiente\" o \"studio\" -> usar 0\n- Si no hay dato de portal y la descripcion dice \"monoambiente\" -> 0 (NO null)\n- Si el portal dice un numero y el texto no lo contradice -> mantener el del portal\n- Rango valido: 0-6\n\nBANOS:\n- \"medio bano\" o \"toilette\" cuenta como 0.5\n- Si el portal dice un numero y el texto no lo contradice -> mantener el del portal\n- Rango valido: 0-6\n\nDevuelve SOLO este JSON (sin explicaciones, sin markdown):\n{\n  \"precio_mensual_bob\": number | null,\n  \"precio_mensual_usd\": number | null,\n  \"expensas_bs\": number | null,\n  \"deposito_meses\": number | null,\n  \"contrato_minimo_meses\": number | null,\n  \"area_total_m2\": number | null,\n  \"dormitorios\": number | null,\n  \"dormitorios_confianza\": \"alta\" | \"media\" | \"baja\" | null,\n  \"banos\": number | null,\n  \"estacionamientos\": number | null,\n  \"baulera\": boolean | null,\n  \"piso\": number | null,\n  \"amoblado\": \"si\" | \"no\" | \"semi\" | null,\n  \"acepta_mascotas\": boolean | null,\n  \"servicios_incluidos\": string[] | null,\n  \"nombre_edificio\": string | null,\n  \"nombre_edificio_confianza\": \"alta\" | \"media\" | \"baja\" | null,\n  \"descripcion_limpia\": string | null,\n  \"amenities_confirmados\": string[] | null,\n  \"equipamiento_detectado\": string[] | null,\n  \"agente_nombre\": string | null,\n  \"agente_telefono\": string | null,\n  \"agente_oficina\": string | null\n}`;\n\nreturn [{\n  json: {\n    prop_id: prop.prop_id,\n    prop_url: prop.url,\n    fuente: prop.fuente,\n    metodo_extraccion: metodo,\n    agente_directo: agente_directo,\n    fotos_extraidas: fotos_extraidas,\n    prompt: prompt,\n    contenido_length: contenido.length\n  }\n}];\n"
      },
      "id": "47b67309-e34b-4d46-86e6-ff4e0700ea5c",
      "name": "Construir Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        128
      ],
      "notes": "Prompt optimizado para Haiku (~3500 tokens input)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3b267be-24b0-48cc-af9d-68dc01523be7",
      "name": "IF Prompt OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 1024, temperature: 0, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "3bb7170f-58f3-4d25-b02f-2fd2b0fb6de0",
      "name": "Anthropic Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notes": "Claude Haiku 4.5 - temperature 0"
    },
    {
      "parameters": {
        "jsCode": "    // === PARSEAR RESPUESTA LLM + VALIDAR v1.2.0 ===\n  // [148] Agrega merge de agente: LLM + data-page directo (Remax)\n  // [158] Agrega fotos extraídas del data-page (Remax)\n  const prop_id = $('Construir Prompt').first().json.prop_id;\n  const prop_url = $('Construir Prompt').first().json.prop_url;\n  const agente_directo = $('Construir Prompt').first().json.agente_directo;\n  const fotos_extraidas = $('Construir Prompt').first().json.fotos_extraidas;\n  const response = $input.first().json;\n\n  const text = response?.content?.[0]?.text || '';\n  const tokens = response?.usage?.input_tokens + (response?.usage?.output_tokens || 0);\n\n  // Extraer JSON del texto (puede tener ```json wrapper)\n  let jsonStr = text;\n  const jsonMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    jsonStr = jsonMatch[1].trim();\n  } else {\n    // Intentar encontrar el primer { ... }\n    const braceMatch = text.match(/\\{[\\s\\S]*\\}/);\n    if (braceMatch) jsonStr = braceMatch[0];\n  }\n\n  let datos_llm;\n  let errores = [];\n  let requiere_revision = false;\n\n  try {\n    datos_llm = JSON.parse(jsonStr);\n  } catch (e) {\n    errores.push('json_parse_error: ' + e.message);\n    requiere_revision = true;\n    datos_llm = {};\n  }\n\n  // === VALIDACIONES ===\n  if (datos_llm.precio_mensual_bob !== null && datos_llm.precio_mensual_bob !== undefined) {\n    if (datos_llm.precio_mensual_bob <= 0 || datos_llm.precio_mensual_bob > 50000) {\n      errores.push('precio_fuera_rango: ' + datos_llm.precio_mensual_bob);\n      datos_llm.precio_mensual_bob = null;\n    }\n  }\n\n  if (datos_llm.area_total_m2 !== null && datos_llm.area_total_m2 !== undefined) {\n    if (datos_llm.area_total_m2 < 15 || datos_llm.area_total_m2 > 500) {\n      errores.push('area_fuera_rango: ' + datos_llm.area_total_m2);\n      datos_llm.area_total_m2 = null;\n    }\n  }\n\n  if (datos_llm.dormitorios !== null && datos_llm.dormitorios !== undefined) {\n    if (datos_llm.dormitorios < 0 || datos_llm.dormitorios > 6) {\n      errores.push('dormitorios_fuera_rango: ' + datos_llm.dormitorios);\n      datos_llm.dormitorios = null;\n    }\n  }\n\n  if (datos_llm.banos !== null && datos_llm.banos !== undefined) {\n    if (datos_llm.banos < 0 || datos_llm.banos > 6) {\n      errores.push('banos_fuera_rango: ' + datos_llm.banos);\n      datos_llm.banos = null;\n    }\n  }\n\n  if (datos_llm.expensas_bs !== null && datos_llm.expensas_bs !== undefined) {\n    if (datos_llm.expensas_bs < 0 || (datos_llm.precio_mensual_bob && datos_llm.expensas_bs >= datos_llm.precio_mensual_bob)) {\n      errores.push('expensas_sospechosas: ' + datos_llm.expensas_bs);\n      datos_llm.expensas_bs = null;\n    }\n  }\n\n  if (errores.length > 2) {\n    requiere_revision = true;\n  }\n\n  // [148] Merge agente: data-page directo (Remax) tiene prioridad, LLM como fallback\n  const agente_final = {\n    nombre: (agente_directo?.nombre) || datos_llm.agente_nombre || null,\n    telefono: (agente_directo?.telefono) || datos_llm.agente_telefono || null,\n    oficina: (agente_directo?.oficina) || datos_llm.agente_oficina || null\n  };\n  datos_llm.agente_nombre = agente_final.nombre;\n  datos_llm.agente_telefono = agente_final.telefono;\n  datos_llm.agente_oficina = agente_final.oficina;\n\n  // [158] Inyectar fotos extraídas del data-page (Remax)\n  if (fotos_extraidas && Array.isArray(fotos_extraidas) && fotos_extraidas.length > 0) {\n    datos_llm.fotos_urls = fotos_extraidas;\n  }\n\n  return [{\n    json: {\n      prop_id: prop_id,\n      prop_url: prop_url,\n      datos_llm: datos_llm,\n      tokens_usados: tokens || 0,\n      errores: errores,\n      requiere_revision: requiere_revision\n    }\n  }];"
      },
      "id": "f9bcd5f2-8480-4c56-8a7a-e1d3350a2308",
      "name": "Parsear y Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "notes": "Validación post-LLM: precio, área, dorms, baños, expensas"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_enrichment_alquiler(\n  p_id := $1::INTEGER,\n  p_datos_llm := $2::JSONB,\n  p_modelo_usado := 'claude-haiku-4.5',\n  p_tokens_usados := $3::INTEGER,\n  p_requiere_revision := $4::BOOLEAN,\n  p_errores_validacion := $5::TEXT[]\n)",
        "options": {
          "queryReplacement": "={{ [$json.prop_id, JSON.stringify($json.datos_llm), $json.tokens_usados, $json.requiere_revision, $json.errores.length > 0 ? '{' + $json.errores.map(e => '\"' + e + '\"').join(',') + '}' : null] }}"
        }
      },
      "id": "a73ff8c4-666e-419b-b1e7-b5bff6f3a319",
      "name": "Registrar Enrichment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1680,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "registrar_enrichment_alquiler() - guarda LLM output"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "2ae8642d-dc51-4f96-9800-3b42fe931d09",
      "name": "Wait 2s API",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1920,
        0
      ],
      "webhookId": "dbcec52a-618f-486f-9423-350d1b5f2801",
      "notes": "Rate limit entre propiedades"
    },
    {
      "parameters": {
        "jsCode": "// === RESUMEN ENRICHMENT LLM ===\nconst lote = $('Preparar IDs').first().json;\nconst stats = $('Stats desde BD').first().json;\n\nreturn [{ json: {\n  timestamp: new Date().toISOString(),\n  workflow: 'Enrichment LLM Alquiler',\n  version: '1.0.0',\n  modelo: 'claude-haiku-4.5',\n  total_lote: lote.total_lote,\n  total_enriquecidas: parseInt(stats.procesadas),\n  tokens_total: parseInt(stats.tokens_total),\n  costo_usd_haiku: parseFloat(stats.costo_usd_haiku),\n  calidad: {\n    con_edificio: parseInt(stats.con_edificio),\n    con_amoblado: parseInt(stats.con_amoblado),\n    con_amenities: parseInt(stats.con_amenities),\n    con_descripcion: parseInt(stats.con_descripcion)\n  },\n  status: 'completado'\n}}];"
      },
      "id": "1d703752-7e9a-4cdb-b59e-ca2ee5689d74",
      "name": "Resumen Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { timestamp: new Date().toISOString(), message: 'No hay alquileres pendientes de enrichment', status: 'sin_pendientes' } }];"
      },
      "id": "0d1a5b31-9ac1-4768-9d07-69f3728207ad",
      "name": "Sin Pendientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// === FALLBACK: Firecrawl falló ===\nconst prop_id = $('Loop Propiedades').first().json.prop_id;\nconsole.log(`WARN: Firecrawl falló para prop ${prop_id}, saltando enrichment`);\nreturn [{ json: { skip: true, prop_id: prop_id, error: 'firecrawl_failed' } }];"
      },
      "id": "e766e934-55b0-4e55-8b3f-8accfcd24a32",
      "name": "Log Firecrawl Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        304
      ],
      "notes": "Fallback si Firecrawl o prompt falla"
    },
    {
      "parameters": {
        "jsCode": "// === PREPARAR QUERY DE STATS ===\nconst lote = $('Query Alquileres Sin Enrichment').all();\nconst ids = lote.map(item => item.json.prop_id).filter(id => id);\nreturn [{ json: { ids: ids, total_lote: ids.length } }];"
      },
      "id": "82a3a150-0a57-4ed3-8b05-01a94fd594bd",
      "name": "Preparar IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as procesadas, COUNT(*) FILTER (WHERE fecha_enrichment IS NOT NULL) as con_enrichment, COALESCE(SUM((datos_json_enrichment->'metadata'->>'tokens')::int), 0) as tokens_total, ROUND(COALESCE(SUM((datos_json_enrichment->'metadata'->>'tokens')::int), 0) / 1000000.0 * 1.0, 4) as costo_usd_haiku, COUNT(*) FILTER (WHERE datos_json_enrichment->'llm_output'->>'nombre_edificio' IS NOT NULL) as con_edificio, COUNT(*) FILTER (WHERE datos_json_enrichment->'llm_output'->>'amoblado' IS NOT NULL) as con_amoblado, COUNT(*) FILTER (WHERE datos_json_enrichment->'llm_output'->>'amenities_confirmados' IS NOT NULL) as con_amenities, COUNT(*) FILTER (WHERE datos_json_enrichment->'llm_output'->>'descripcion_limpia' IS NOT NULL) as con_descripcion FROM propiedades_v2 WHERE tipo_operacion = 'alquiler' AND fecha_enrichment IS NOT NULL",
        "options": {}
      },
      "id": "1362cc8e-42b6-4499-801a-1f2ba19c3545",
      "name": "Stats desde BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2160,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow(\n    'enrichment_alquiler',\n    'success',\n    {{ $json.total_lote || 0 }},\n    {{ $json.total_enriquecidas || 0 }},\n    0\n  )",
        "options": {
          "queryReplacement": "="
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2560,
        112
      ],
      "id": "0c10111d-0cc6-40ac-b2eb-5cd0bf653aa1",
      "name": "Tracking",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow(\n    'enrichment_alquiler',\n    'success',\n    0, 0, 0\n  )",
        "options": {
          "queryReplacement": "="
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        304
      ],
      "id": "7cf0f71a-5de8-4524-ac10-d5f56804e194",
      "name": "Tracking1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger 2:30 AM": {
      "main": [
        [
          {
            "node": "Query Alquileres Sin Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Alquileres Sin Enrichment": {
      "main": [
        [
          {
            "node": "Hay Pendientes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Pendientes?": {
      "main": [
        [
          {
            "node": "Loop Propiedades",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Propiedades": {
      "main": [
        [
          {
            "node": "Preparar IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Firecrawl Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar IDs": {
      "main": [
        [
          {
            "node": "Stats desde BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stats desde BD": {
      "main": [
        [
          {
            "node": "Resumen Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Construir Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Prompt": {
      "main": [
        [
          {
            "node": "IF Prompt OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Prompt OK": {
      "main": [
        [
          {
            "node": "Anthropic Haiku",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Firecrawl Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Haiku": {
      "main": [
        [
          {
            "node": "Parsear y Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear y Validar": {
      "main": [
        [
          {
            "node": "Registrar Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Enrichment": {
      "main": [
        [
          {
            "node": "Wait 2s API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s API": {
      "main": [
        [
          {
            "node": "Loop Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Firecrawl Error": {
      "main": [
        [
          {
            "node": "Loop Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen Final": {
      "main": [
        [
          {
            "node": "Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin Pendientes": {
      "main": [
        [
          {
            "node": "Tracking1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/La_Paz",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d559854b-e334-4afb-8dd2-9c6765452909",
  "meta": {
    "instanceId": "0cf95066756cd645aa773b1efb0bb40a009acb9e082a84e9d526127529829060"
  },
  "id": "Vm3NUXz76ABc4Vpb",
  "tags": []
}