n8n/workflows/alquiler/flujo_discovery_remax_alquiler_zonanorte_v1.0.0.json
{
  "name": "Discovery Remax Alquiler Zona Norte v1.0.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "50 1 * * *"
            }
          ]
        }
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b001",
      "name": "Trigger 1:50 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1936,
        48
      ],
      "notes": "1:50 AM (offset al Remax alquiler EQ 1:30 AM y al C21 alquiler Zona Norte 1:35 AM)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    nombre,\n    ST_AsGeoJSON(geom) AS geom_geojson,\n    ST_XMin(geom) AS lon_oeste,\n    ST_YMin(geom) AS lat_sur,\n    ST_XMax(geom) AS lon_este,\n    ST_YMax(geom) AS lat_norte\n  FROM zonas_geograficas\n  WHERE activo = true\n    AND zona_general = ANY(ARRAY['Zona Norte']::text[]);",
        "options": {}
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b002",
      "name": "PG: Leer Polígonos Activos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1728,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "Lee polígonos activos. Cambiar el array para incluir más zonas."
    },
    {
      "parameters": {
        "jsCode": "// === BBOX UNIÓN + ARRAY DE POLÍGONOS ===\nconst items = $input.all();\n\nif (items.length === 0) {\n  throw new Error('No hay polígonos activos. Verificar zonas_geograficas o array de zonas en query SQL.');\n}\n\nlet minLat = Infinity, maxLat = -Infinity;\nlet minLon = Infinity, maxLon = -Infinity;\nconst polygons = [];\n\nfor (const item of items) {\n  const data = item.json;\n  minLat = Math.min(minLat, parseFloat(data.lat_sur));\n  maxLat = Math.max(maxLat, parseFloat(data.lat_norte));\n  minLon = Math.min(minLon, parseFloat(data.lon_oeste));\n  maxLon = Math.max(maxLon, parseFloat(data.lon_este));\n\n  const geo = JSON.parse(data.geom_geojson);\n  polygons.push({\n    nombre: data.nombre,\n    coordinates: geo.coordinates[0]\n  });\n}\n\nconsole.log(`BBox: lat ${minLat} → ${maxLat}, lon ${minLon} → ${maxLon}`);\nconsole.log(`Polígonos: ${polygons.map(p => p.nombre).join(', ')}`);\n\nreturn [{\n  json: {\n    bbox: { lat_sur: minLat, lat_norte: maxLat, lon_oeste: minLon, lon_este: maxLon },\n    polygons,\n    zonas_incluidas: items.map(i => i.json.nombre)\n  }\n}];"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b003",
      "name": "Calcular BBox + Polígonos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// === GENERADOR DE URLs REMAX (endpoint base SC sin slug) ===\n// Trae TODO Santa Cruz paginado (venta + alquiler mezclados).\n// El filtro de operación (alquiler) y el filtro por polígono se aplican post-fetch.\n// Cobertura validada en PoC 20-may-2026: ~517 props en 30 páginas. Margen: 30 páginas fijas.\n\nconst TOTAL_PAGES = 30;\nconst BASE_URL = 'https://remax.bo/api/search/departamento/santa-cruz-de-la-sierra';\n\nconst urls = [];\nfor (let page = 1; page <= TOTAL_PAGES; page++) {\n  urls.push({\n    json: {\n      page_url: `${BASE_URL}?page=${page}`,\n      page_number: page,\n      fuente: 'remax'\n    }\n  });\n}\n\nconsole.log(`URLs generadas: ${urls.length} páginas para todo SC. Filtro alquiler + polígono post-fetch.`);\nreturn urls;"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b004",
      "name": "Generar URLs Remax",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        48
      ],
      "notes": "Endpoint base SC sin slug. Trae todo. Filtro alquiler + polígono se aplican después."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b005",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1104,
        48
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.page_url }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b006",
      "name": "HTTP Request API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        192
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b007",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -672,
        192
      ],
      "webhookId": "wait-zn-rmx-alquiler"
    },
    {
      "parameters": {
        "jsCode": "// === EXTRAER PROPIEDADES REMAX (ALQUILER ZONA NORTE) ===\n// Extrae TODAS las props de la página (venta + alquiler). El filtrado de\n// operación se hace en 'Filtrar Solo Alquileres' y el geográfico en\n// 'Filtrar por Polígonos'. Cada prop trae lat/lon (para el polígono),\n// transaction_type (para el filtro alquiler) y precio crudo BOB + USD\n// + moneda_original (para la conversión en 'Procesar Alquileres').\nconst response = $input.first().json;\nconst propiedades = response.data || [];\n\nif (propiedades.length === 0) {\n  return [];\n}\n\nreturn propiedades.map(prop => ({\n  json: {\n    url: `https://remax.bo/propiedad/${prop.slug}`,\n    fuente: 'remax',\n    codigo_propiedad: prop.MLSID,\n    tipo_operacion: prop.transaction_type?.name?.toLowerCase() || null,\n    latitud: parseFloat(prop.location?.latitude) || null,\n    longitud: parseFloat(prop.location?.longitude) || null,\n    precio_bob: prop.price?.amount || null,\n    precio_usd: prop.price?.price_in_dollars || null,\n    moneda_original: prop.price?.currency_id === 1 ? 'BOB' : 'USD',\n    area_total_m2: prop.listing_information?.construction_area_m || null,\n    dormitorios: prop.listing_information?.number_bedrooms || null,\n    banos: prop.listing_information?.number_bathrooms || null,\n    estacionamientos: prop.listing_information?.number_parking || null,\n    tipo_propiedad_original: prop.listing_information?.subtype_property?.name || null,\n    fecha_publicacion: prop.date_of_listing || null,\n    datos_json_discovery: prop,\n    metodo_discovery: 'zonanorte_remax_alquiler'\n  }\n}));"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b008",
      "name": "Extraer Propiedades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        192
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "metodo_discovery='zonanorte_remax_alquiler'. Trae precio_bob + precio_usd + moneda_original para conversión."
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "propiedades",
        "include": "allFieldsExceptDefault",
        "options": {}
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b009",
      "name": "Aggregate Snapshot",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -880,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// === FILTRAR SOLO ALQUILERES ===\n// La API Remax (endpoint todo-SC) devuelve venta + alquiler mezclados.\n// Filtramos por transaction_type que contenga 'alquiler', 'arriendo' o 'renta'.\n// Excluimos venta y anticrético (modelo financiero distinto).\n// Se ejecuta ANTES del filtro geográfico (primero operación, luego polígono).\n\nconst snapshot = $input.first().json.propiedades || [];\n\nconst alquileres = snapshot.filter(prop => {\n  const tipo = (prop.tipo_operacion || '').toLowerCase();\n  return tipo.includes('alquiler') || tipo.includes('arriendo') || tipo.includes('renta');\n});\n\nconst excluidos = snapshot.length - alquileres.length;\n\nconsole.log(`Filtro alquiler: ${alquileres.length} alquileres de ${snapshot.length} total (${excluidos} excluidos)`);\n\nreturn [{\n  json: {\n    propiedades: alquileres,\n    stats_filtro: {\n      total_api: snapshot.length,\n      alquileres: alquileres.length,\n      excluidos: excluidos\n    }\n  }\n}];"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b010",
      "name": "Filtrar Solo Alquileres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -776,
        48
      ],
      "notes": "Excluir venta y anticrético. Intercalado entre Aggregate Snapshot y Filtrar por Polígonos."
    },
    {
      "parameters": {
        "jsCode": "// === FILTRO POINT-IN-POLYGON ===\nfunction pointInPolygon(lon, lat, ring) {\n  let inside = false;\n  for (let i = 0, j = ring.length - 1; i < ring.length; j = i++) {\n    const xi = ring[i][0], yi = ring[i][1];\n    const xj = ring[j][0], yj = ring[j][1];\n    const intersect = ((yi > lat) !== (yj > lat)) &&\n      (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n    if (intersect) inside = !inside;\n  }\n  return inside;\n}\n\nconst polygons = $('Calcular BBox + Polígonos').first().json.polygons || [];\nif (polygons.length === 0) {\n  console.warn('Sin polígonos activos — devuelvo vacío (FAIL CLOSED)');\n  return [{ json: { propiedades: [], stats: { total: 0, dentro: 0, fuera: 0 } } }];\n}\n\nconst input = $input.first().json;\nconst propiedades = input.propiedades || [];\n\nconst dentro = propiedades.filter(p => {\n  const lat = parseFloat(p.latitud);\n  const lon = parseFloat(p.longitud);\n  if (!Number.isFinite(lat) || !Number.isFinite(lon)) return false;\n  return polygons.some(poly => pointInPolygon(lon, lat, poly.coordinates));\n});\n\nconsole.log(`Filtro polígono: ${dentro.length}/${propiedades.length} dentro de [${polygons.map(p => p.nombre).join(', ')}]`);\n\nreturn [{\n  json: {\n    propiedades: dentro,\n    stats: { total: propiedades.length, dentro: dentro.length, fuera: propiedades.length - dentro.length }\n  }\n}];"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b011",
      "name": "Filtrar por Polígonos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT id, url, status\n    FROM propiedades_v2\n    WHERE fuente = 'remax'\n      AND tipo_operacion = 'alquiler'\n      AND status NOT IN ('inactivo_confirmed')\n      AND zona IN (SELECT nombre FROM zonas_geograficas WHERE zona_general = ANY(ARRAY['Zona Norte']::text[]) AND activo\n  = true)",
        "options": {}
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b012",
      "name": "Obtener URLs Activas BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -464,
        48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "Solo alquileres de zonas activas — no marca Equipetrol ni venta como ausentes."
    },
    {
      "parameters": {
        "jsCode": "// === PREPARAR COMPARACIÓN ===\nconst snapshot = $('Filtrar por Polígonos').first().json.propiedades || [];\nconst propiedadesBD = $('Obtener URLs Activas BD').all().map(item => item.json);\n\nconst snapshotDedup = new Map();\nfor (const prop of snapshot) {\n  snapshotDedup.set(prop.url, prop);\n}\n\nconst urlsSnapshot = new Set(snapshotDedup.keys());\nconst urlsBD = new Map(propiedadesBD.map(p => [p.url, { id: p.id, status: p.status }]));\n\nconst nuevas = [];\nconst existentes = [];\nconst ausentes = [];\n\nfor (const [url, prop] of snapshotDedup) {\n  if (!urlsBD.has(url)) {\n    nuevas.push(prop);\n  } else {\n    existentes.push({\n      ...prop,\n      _id_bd: urlsBD.get(url).id,\n      _status_bd: urlsBD.get(url).status\n    });\n  }\n}\n\nfor (const [url, info] of urlsBD) {\n  if (!urlsSnapshot.has(url)) {\n    if (!['inactivo_pending', 'inactivo_confirmed'].includes(info.status)) {\n      ausentes.push({\n        id: info.id,\n        url: url,\n        status_actual: info.status\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    nuevas,\n    existentes,\n    ausentes,\n    stats: {\n      total_snapshot: snapshotDedup.size,\n      total_bd: urlsBD.size,\n      nuevas: nuevas.length,\n      existentes: existentes.length,\n      ausentes: ausentes.length\n    }\n  }\n}];"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b013",
      "name": "Preparar Comparación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// === LOG STATS ===\nconst stats = $input.first().json.stats;\nconst filtro = $('Filtrar Solo Alquileres').first().json.stats_filtro;\n\nconsole.log(`\n=== DISCOVERY REMAX ALQUILER ZONA NORTE ===\nAPI total (venta+alquiler): ${filtro.total_api}\nAlquileres filtrados: ${filtro.alquileres}\nExcluidos (venta/antic): ${filtro.excluidos}\n---\nSnapshot dentro polígono (deduplicado): ${stats.total_snapshot}\nBD activas (zonas activas): ${stats.total_bd}\nNuevas: ${stats.nuevas}\nExistentes: ${stats.existentes}\nAusentes: ${stats.ausentes}\n===========================================\n`);\n\nreturn $input.all();"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b014",
      "name": "Log Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// === PREPARAR PARA registrar_discovery_alquiler() ===\n// Fix 2 Apr 2026: convertir USD↔BOB según moneda_original (bug: 26 props mostraban USD como BOB)\nconst data = $input.first().json;\nconst nuevas = data.nuevas || [];\nconst existentes = data.existentes || [];\nconst todas = [...nuevas, ...existentes];\n\nif (todas.length === 0) {\n  return [{ json: { skip: true, message: 'No hay alquileres para procesar' } }];\n}\n\nreturn todas.map(prop => ({\n  json: {\n    p_url: prop.url,\n    p_fuente: prop.fuente,\n    p_codigo_propiedad: prop.codigo_propiedad,\n    p_precio_mensual_bob: prop.moneda_original === 'USD'\n        ? Math.round(prop.precio_usd * 6.96)\n        : prop.precio_bob,\n    p_precio_mensual_usd: prop.moneda_original === 'BOB'\n        ? Math.round(prop.precio_bob / 6.96 * 100) / 100\n        : prop.precio_usd,\n    p_moneda_original: prop.moneda_original || 'BOB',\n    p_area_total_m2: prop.area_total_m2,\n    p_dormitorios: prop.dormitorios,\n    p_banos: prop.banos,\n    p_estacionamientos: prop.estacionamientos,\n    p_tipo_propiedad_original: prop.tipo_propiedad_original,\n    p_latitud: prop.latitud,\n    p_longitud: prop.longitud,\n    p_fecha_publicacion: prop.fecha_publicacion,\n    p_metodo_discovery: prop.metodo_discovery,\n    p_zona: null,\n    p_datos_json_discovery: JSON.stringify(prop.datos_json_discovery)\n  }\n}));"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b015",
      "name": "Procesar Alquileres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b016",
      "name": "IF Alquileres",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM registrar_discovery_alquiler(\n  p_url := $1,\n  p_fuente := $2,\n  p_codigo_propiedad := $3,\n  p_precio_mensual_bob := $4::NUMERIC,\n  p_precio_mensual_usd := $5::NUMERIC,\n  p_moneda_original := $6,\n  p_area_total_m2 := $7::NUMERIC,\n  p_dormitorios := $8::INTEGER,\n  p_banos := $9::NUMERIC,\n  p_estacionamientos := $10::INTEGER,\n  p_tipo_propiedad_original := $11,\n  p_latitud := $12::NUMERIC,\n  p_longitud := $13::NUMERIC,\n  p_fecha_publicacion := $14::DATE,\n  p_metodo_discovery := $15,\n  p_zona := $16,\n  p_datos_json_discovery := $17::jsonb\n)",
        "options": {
          "queryReplacement": "={{ [$json.p_url, $json.p_fuente, $json.p_codigo_propiedad, $json.p_precio_mensual_bob, $json.p_precio_mensual_usd, $json.p_moneda_original, $json.p_area_total_m2, $json.p_dormitorios, $json.p_banos, $json.p_estacionamientos, $json.p_tipo_propiedad_original, $json.p_latitud, $json.p_longitud, $json.p_fecha_publicacion, $json.p_metodo_discovery, $json.p_zona, $json.p_datos_json_discovery] }}"
        }
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b017",
      "name": "Registrar Discovery Alquiler",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "registrar_discovery_alquiler() - función independiente de alquiler. p_zona := null (lo deriva el trigger por GPS)."
    },
    {
      "parameters": {
        "jsCode": "// === PROCESAR AUSENTES ===\nconst ausentes = $input.first().json.ausentes;\n\nif (ausentes.length === 0) {\n  return [{ json: { skip: true, message: 'No hay alquileres ausentes' } }];\n}\n\nreturn ausentes.map(prop => ({\n  json: {\n    id: prop.id,\n    url: prop.url,\n    status_actual: prop.status_actual\n  }\n}));"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b018",
      "name": "Procesar Ausentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b019",
      "name": "IF Ausentes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE propiedades_v2\n  SET status = 'inactivo_pending',\n      fecha_discovery = NOW(),\n      primera_ausencia_at = COALESCE(primera_ausencia_at, NOW())\n  WHERE id = $1 AND tipo_operacion = 'alquiler'\n    AND status NOT IN ('inactivo_pending', 'inactivo_confirmed')",
        "options": {
          "queryReplacement": "={{ [$json.id] }}"
        }
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b020",
      "name": "Marcar Ausentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === RESUMEN FINAL ===\nconst stats = $('Log Stats').first().json.stats;\nconst filtro = $('Filtrar Solo Alquileres').first().json.stats_filtro;\nconst zonas = $('Calcular BBox + Polígonos').first().json.zonas_incluidas;\n\nconst resumen = {\n  timestamp: new Date().toISOString(),\n  fuente: 'remax',\n  workflow: 'Discovery Remax Alquiler Zona Norte',\n  version: '1.0.0',\n  zonas_activas: zonas,\n  resultados: {\n    api_total: filtro.total_api,\n    alquileres_filtrados: filtro.alquileres,\n    excluidos_venta: filtro.excluidos,\n    snapshot_total: stats.total_snapshot,\n    bd_activas: stats.total_bd,\n    nuevas_insertadas: stats.nuevas,\n    existentes_actualizadas: stats.existentes,\n    ausentes_marcadas: stats.ausentes\n  },\n  status: 'completado'\n};\n\nconsole.log('=== DISCOVERY REMAX ALQUILER ZONA NORTE COMPLETADO ===');\nconsole.log(JSON.stringify(resumen, null, 2));\n\nreturn [{ json: resumen }];"
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b021",
      "name": "Resumen Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        48
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow(\n  'discovery_remax_alquiler_zonanorte',\n  'success',\n  {{ $json.resultados.alquileres_filtrados || 0 }},\n  {{ $json.resultados.nuevas_insertadas || 0 }},\n  0,\n  NULL,\n  '{{ JSON.stringify({ existentes: $json.resultados.existentes_actualizadas || 0, ausentes: $json.resultados.ausentes_marcadas || 0, zonas: $json.zonas_activas }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "a1f0c3d2-1e4b-4a90-bd11-9001aa55b022",
      "name": "registrar_ejecucion_workflow",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        48
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger 1:50 AM": {
      "main": [
        [
          {
            "node": "PG: Leer Polígonos Activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Leer Polígonos Activos": {
      "main": [
        [
          {
            "node": "Calcular BBox + Polígonos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular BBox + Polígonos": {
      "main": [
        [
          {
            "node": "Generar URLs Remax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar URLs Remax": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Aggregate Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request API": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Extraer Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Propiedades": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Snapshot": {
      "main": [
        [
          {
            "node": "Filtrar Solo Alquileres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Solo Alquileres": {
      "main": [
        [
          {
            "node": "Filtrar por Polígonos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por Polígonos": {
      "main": [
        [
          {
            "node": "Obtener URLs Activas BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URLs Activas BD": {
      "main": [
        [
          {
            "node": "Preparar Comparación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Comparación": {
      "main": [
        [
          {
            "node": "Log Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Stats": {
      "main": [
        [
          {
            "node": "Procesar Alquileres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Procesar Ausentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Alquileres": {
      "main": [
        [
          {
            "node": "IF Alquileres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Alquileres": {
      "main": [
        [
          {
            "node": "Registrar Discovery Alquiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Discovery Alquiler": {
      "main": [
        [
          {
            "node": "Resumen Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Ausentes": {
      "main": [
        [
          {
            "node": "IF Ausentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Ausentes": {
      "main": [
        [
          {
            "node": "Marcar Ausentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Ausentes": {
      "main": [
        [
          {
            "node": "Resumen Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen Final": {
      "main": [
        [
          {
            "node": "registrar_ejecucion_workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/La_Paz",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b1c2d3e4-f5a6-4b7c-8d9e-0a1b2c3d4e5f",
  "meta": {
    "instanceId": "0cf95066756cd645aa773b1efb0bb40a009acb9e082a84e9d526127529829060"
  },
  "id": "ZNRmxAlqDisc001",
  "tags": []
}
