n8n/workflows/alquiler/flujo_merge_alquiler_v1.0.0.json
{
  "name": "Merge Alquiler v1.1.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 3 * * *"
            }
          ]
        }
      },
      "id": "m1-trigger",
      "name": "Trigger 3:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-480, 288],
      "notes": "Después de enrichment (3:00 AM)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as pendientes FROM propiedades_v2 WHERE tipo_operacion = 'alquiler' AND status IN ('nueva', 'actualizado') AND datos_json_enrichment IS NOT NULL",
        "options": {}
      },
      "id": "m1-query",
      "name": "Contar Pendientes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-240, 288],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.pendientes }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "m1-if",
      "name": "Hay Pendientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [0, 288]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM merge_alquiler()",
        "options": {}
      },
      "id": "m1-merge",
      "name": "Ejecutar Merge",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 288],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "merge_alquiler() sin parámetro procesa TODAS las pendientes en un solo call"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet merged = 0;\nlet errors = 0;\nconst resultados = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (data.status === 'merged') {\n    merged++;\n  } else if (data.status === 'no_pending') {\n    // nada\n  } else if (data.status) {\n    errors++;\n  }\n  if (data.id) {\n    resultados.push({\n      id: data.id,\n      accion: data.status || 'unknown',\n      mensaje: data.message || ''\n    });\n  }\n}\n\nconst resumen = {\n  timestamp: new Date().toISOString(),\n  workflow: 'Merge Alquiler',\n  version: '1.1.0',\n  total_procesadas: resultados.length,\n  merged: merged,\n  errors: errors,\n  resultados: resultados.slice(0, 20),\n  status: errors === 0 ? 'completado' : 'completado_con_errores'\n};\n\nreturn [{ json: resumen }];"
      },
      "id": "m1-summary",
      "name": "Resumen Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 288]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { timestamp: new Date().toISOString(), message: 'No hay alquileres pendientes de merge', status: 'sin_pendientes' } }];"
      },
      "id": "m1-empty",
      "name": "Sin Pendientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow('merge_alquiler', 'success')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [720, 288],
      "id": "m1-tracking",
      "name": "Tracking",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow('merge_alquiler', 'success', 0, 0, 0)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [480, 480],
      "id": "m1-tracking-empty",
      "name": "Tracking Sin Pendientes",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger 3:30 AM": {
      "main": [[{"node": "Contar Pendientes", "type": "main", "index": 0}]]
    },
    "Contar Pendientes": {
      "main": [[{"node": "Hay Pendientes?", "type": "main", "index": 0}]]
    },
    "Hay Pendientes?": {
      "main": [
        [{"node": "Ejecutar Merge", "type": "main", "index": 0}],
        [{"node": "Sin Pendientes", "type": "main", "index": 0}]
      ]
    },
    "Ejecutar Merge": {
      "main": [[{"node": "Resumen Final", "type": "main", "index": 0}]]
    },
    "Resumen Final": {
      "main": [[{"node": "Tracking", "type": "main", "index": 0}]]
    },
    "Sin Pendientes": {
      "main": [[{"node": "Tracking Sin Pendientes", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/La_Paz",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
