n8n/workflows/alquiler/flujo_discovery_c21_alquiler_v1.0.0.json
{
  "name": "Discovery C21 Alquiler v1.0.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 1 * * *"
            }
          ]
        }
      },
      "id": "c1-trigger",
      "name": "Trigger 1:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1488, 288],
      "notes": "Paralelo con Remax alquiler"
    },
    {
      "parameters": {
        "jsCode": "// === GENERADOR DE CUADRANTES C21 ALQUILER ===\n// Misma zona Equipetrol que venta, pero URL con operacion_alquiler\n\nconst LAT_SUR = -17.775;\nconst LAT_NORTE = -17.750;\nconst LON_OESTE = -63.205;\nconst LON_ESTE = -63.185;\nconst STEP = 0.010;\n\nconst cuadrantes = [];\n\nfor (let lat = LAT_SUR; lat < LAT_NORTE; lat += STEP) {\n  for (let lon = LON_OESTE; lon < LON_ESTE; lon += STEP) {\n    const north = (lat + STEP).toFixed(4);\n    const south = lat.toFixed(4);\n    const east = (lon + STEP).toFixed(4);\n    const west = lon.toFixed(4);\n\n    // CAMBIO CLAVE: operacion_alquiler en vez de operacion_venta\n    const url = `https://c21.com.bo/v/resultados/tipo_departamento-o-penthouse/operacion_alquiler/layout_mapa/coordenadas_${north},${east},${south},${west},15?json=true`;\n\n    const cookie = `PHPSESSID=sici_alq_${Math.random().toString(36).substring(2, 15)}`;\n\n    cuadrantes.push({\n      json: {\n        grid_url: url,\n        cookie: cookie,\n        north, south, east, west,\n        fuente: 'century21'\n      }\n    });\n  }\n}\n\nconsole.log(`Generados ${cuadrantes.length} cuadrantes para C21 ALQUILER`);\nreturn cuadrantes;"
      },
      "id": "c1-gen-grid",
      "name": "Generar Cuadrantes Grid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1264, 288],
      "notes": "operacion_alquiler (no venta)"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c1-split",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1040, 288]
    },
    {
      "parameters": {
        "url": "={{ $json.grid_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "accept", "value": "application/json, text/plain, */*"},
            {"name": "accept-language", "value": "es-US,es-419;q=0.9,es;q=0.8,en;q=0.7"},
            {"name": "sec-fetch-dest", "value": "empty"},
            {"name": "sec-fetch-mode", "value": "cors"},
            {"name": "sec-fetch-site", "value": "same-origin"},
            {"name": "cookie", "value": "={{ $json.cookie }}"}
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "c1-http",
      "name": "HTTP Request Grid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-816, 432],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "c1-wait",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-608, 432],
      "webhookId": "c1-wait-webhook"
    },
    {
      "parameters": {
        "jsCode": "// === EXTRAER PROPIEDADES C21 ALQUILER ===\n// Misma lógica defensiva que venta, adaptada para alquiler\nconst response = $input.first().json;\n\nlet results = [];\nif (Array.isArray(response)) {\n  results = response;\n} else if (response?.results) {\n  results = Array.isArray(response.results) ? response.results : [];\n} else if (response?.datas?.results) {\n  results = Array.isArray(response.datas.results) ? response.datas.results : [];\n}\n\nif (results.length === 0) {\n  return []; // Cuadrante vacío\n}\n\nreturn results.map(prop => {\n  // Precio: C21 puede dar precio en Bs o USD\n  let precioUsd = null;\n  let precioBob = null;\n  let moneda = 'BOB';\n\n  if (prop.precio) {\n    const precioNum = parseFloat(String(prop.precio).replace(/[^0-9.]/g, ''));\n    if (precioNum > 0) {\n      // Si es < 500 probablemente es USD, si > 500 probablemente Bs\n      if (precioNum < 500) {\n        precioUsd = precioNum;\n        moneda = 'USD';\n      } else {\n        precioBob = precioNum;\n        precioUsd = Math.round(precioNum / 6.96 * 100) / 100;\n      }\n    }\n  }\n\n  // URL canónica\n  const url = prop.url\n    ? (prop.url.startsWith('http') ? prop.url : `https://c21.com.bo${prop.url}`)\n    : null;\n\n  return {\n    json: {\n      url: url,\n      fuente: 'century21',\n      codigo_propiedad: prop.folio || prop.id?.toString() || null,\n      tipo_operacion: 'alquiler',\n      tipo_propiedad_original: prop.tipoPropiedad || 'departamento',\n      precio_bob: precioBob,\n      precio_usd: precioUsd,\n      moneda_original: moneda,\n      area_total_m2: prop.m2C || null,\n      dormitorios: prop.recamaras ? parseInt(prop.recamaras) : null,\n      banos: prop.banos ? parseFloat(prop.banos) : null,\n      estacionamientos: prop.estacionamientos ? parseInt(prop.estacionamientos) : null,\n      latitud: prop.latitud ? parseFloat(prop.latitud) : null,\n      longitud: prop.longitud ? parseFloat(prop.longitud) : null,\n      fecha_publicacion: null,\n      datos_json_discovery: prop,\n      metodo_discovery: 'scraping_grid'\n    }\n  };\n}).filter(p => p.json.url !== null);"
      },
      "id": "c1-extract",
      "name": "Extraer Propiedades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-352, 432],
      "notes": "Defensivo: 3 formatos response + filtro URL null"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "propiedades",
        "include": "allFieldsExceptDefault",
        "options": {}
      },
      "id": "c1-aggregate",
      "name": "Aggregate Snapshot",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [-160, 288]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, status FROM propiedades_v2 WHERE fuente = 'century21' AND tipo_operacion = 'alquiler' AND status NOT IN ('inactivo_confirmed')",
        "options": {}
      },
      "id": "c1-bd-urls",
      "name": "Obtener Alquileres Activos BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [64, 288],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === PREPARAR COMPARACIÓN C21 ALQUILER ===\nconst snapshot = $('Aggregate Snapshot').first().json.propiedades || [];\nconst propiedadesBD = $('Obtener Alquileres Activos BD').all().map(item => item.json);\n\nconst snapshotDedup = new Map();\nfor (const prop of snapshot) {\n  if (prop.url) snapshotDedup.set(prop.url, prop);\n}\n\nconst urlsSnapshot = new Set(snapshotDedup.keys());\nconst urlsBD = new Map(propiedadesBD.map(p => [p.url, { id: p.id, status: p.status }]));\n\nconst nuevas = [];\nconst existentes = [];\nconst ausentes = [];\n\nfor (const [url, prop] of snapshotDedup) {\n  if (!urlsBD.has(url)) {\n    nuevas.push(prop);\n  } else {\n    existentes.push({ ...prop, _id_bd: urlsBD.get(url).id, _status_bd: urlsBD.get(url).status });\n  }\n}\n\nfor (const [url, info] of urlsBD) {\n  if (!urlsSnapshot.has(url) && !['inactivo_pending', 'inactivo_confirmed'].includes(info.status)) {\n    ausentes.push({ id: info.id, url, status_actual: info.status });\n  }\n}\n\nreturn [{ json: { nuevas, existentes, ausentes, stats: { total_snapshot: snapshotDedup.size, total_bd: urlsBD.size, nuevas: nuevas.length, existentes: existentes.length, ausentes: ausentes.length } } }];"
      },
      "id": "c1-compare",
      "name": "Preparar Comparación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [288, 288]
    },
    {
      "parameters": {
        "jsCode": "const stats = $input.first().json.stats;\nconsole.log(`\\n=== DISCOVERY C21 ALQUILER ===\\nSnapshot: ${stats.total_snapshot}\\nBD: ${stats.total_bd}\\nNuevas: ${stats.nuevas}\\nExistentes: ${stats.existentes}\\nAusentes: ${stats.ausentes}\\n==============================\\n`);\nreturn $input.all();"
      },
      "id": "c1-log",
      "name": "Log Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, 288]
    },
    {
      "parameters": {
        "jsCode": "// === PREPARAR PARA registrar_discovery_alquiler() ===\nconst data = $input.first().json;\nconst todas = [...(data.nuevas || []), ...(data.existentes || [])];\n\nif (todas.length === 0) {\n  return [{ json: { skip: true, message: 'No hay alquileres C21 para procesar' } }];\n}\n\nreturn todas.map(prop => ({\n  json: {\n    p_url: prop.url,\n    p_fuente: prop.fuente,\n    p_codigo_propiedad: prop.codigo_propiedad,\n    p_precio_mensual_bob: prop.precio_bob,\n    p_precio_mensual_usd: prop.precio_usd,\n    p_moneda_original: prop.moneda_original || 'BOB',\n    p_area_total_m2: prop.area_total_m2,\n    p_dormitorios: prop.dormitorios,\n    p_banos: prop.banos,\n    p_estacionamientos: prop.estacionamientos,\n    p_tipo_propiedad_original: prop.tipo_propiedad_original,\n    p_latitud: prop.latitud,\n    p_longitud: prop.longitud,\n    p_fecha_publicacion: prop.fecha_publicacion,\n    p_metodo_discovery: prop.metodo_discovery,\n    p_zona: null,\n    p_datos_json_discovery: JSON.stringify(prop.datos_json_discovery)\n  }\n}));"
      },
      "id": "c1-process",
      "name": "Procesar Alquileres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, 176]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1-if-props",
      "name": "IF Alquileres",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 176]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM registrar_discovery_alquiler(\n  p_url := $1,\n  p_fuente := $2,\n  p_codigo_propiedad := $3,\n  p_precio_mensual_bob := $4::NUMERIC,\n  p_precio_mensual_usd := $5::NUMERIC,\n  p_moneda_original := $6,\n  p_area_total_m2 := $7::NUMERIC,\n  p_dormitorios := $8::INTEGER,\n  p_banos := $9::NUMERIC,\n  p_estacionamientos := $10::INTEGER,\n  p_tipo_propiedad_original := $11,\n  p_latitud := $12::NUMERIC,\n  p_longitud := $13::NUMERIC,\n  p_fecha_publicacion := $14::DATE,\n  p_metodo_discovery := $15,\n  p_zona := $16,\n  p_datos_json_discovery := $17::jsonb\n)",
        "options": {
          "queryReplacement": "={{ [$json.p_url, $json.p_fuente, $json.p_codigo_propiedad, $json.p_precio_mensual_bob, $json.p_precio_mensual_usd, $json.p_moneda_original, $json.p_area_total_m2, $json.p_dormitorios, $json.p_banos, $json.p_estacionamientos, $json.p_tipo_propiedad_original, $json.p_latitud, $json.p_longitud, $json.p_fecha_publicacion, $json.p_metodo_discovery, $json.p_zona, $json.p_datos_json_discovery] }}"
        }
      },
      "id": "c1-register",
      "name": "Registrar Discovery Alquiler",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1184, 176],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ausentes = $input.first().json.ausentes;\nif (ausentes.length === 0) return [{ json: { skip: true } }];\nreturn ausentes.map(p => ({ json: { id: p.id, url: p.url } }));"
      },
      "id": "c1-ausentes",
      "name": "Procesar Ausentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, 480]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1-if-ausentes",
      "name": "IF Ausentes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE propiedades_v2 SET status = 'inactivo_pending', fecha_discovery = NOW() WHERE id = $1 AND tipo_operacion = 'alquiler' AND status NOT IN ('inactivo_pending', 'inactivo_confirmed')",
        "options": { "queryReplacement": "={{ [$json.id] }}" }
      },
      "id": "c1-mark-absent",
      "name": "Marcar Ausentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1184, 480],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stats = $('Log Stats').first().json.stats;\nreturn [{ json: { timestamp: new Date().toISOString(), fuente: 'century21', workflow: 'Discovery C21 Alquiler', version: '1.0.0', resultados: stats, status: 'completado' } }];"
      },
      "id": "c1-summary",
      "name": "Resumen Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1408, 288]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger 1:30 AM": {
      "main": [[{"node": "Generar Cuadrantes Grid", "type": "main", "index": 0}]]
    },
    "Generar Cuadrantes Grid": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Split In Batches": {
      "main": [
        [{"node": "Aggregate Snapshot", "type": "main", "index": 0}],
        [{"node": "HTTP Request Grid", "type": "main", "index": 0}]
      ]
    },
    "HTTP Request Grid": {
      "main": [[{"node": "Wait 2s", "type": "main", "index": 0}]]
    },
    "Wait 2s": {
      "main": [[{"node": "Extraer Propiedades", "type": "main", "index": 0}]]
    },
    "Extraer Propiedades": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Aggregate Snapshot": {
      "main": [[{"node": "Obtener Alquileres Activos BD", "type": "main", "index": 0}]]
    },
    "Obtener Alquileres Activos BD": {
      "main": [[{"node": "Preparar Comparación", "type": "main", "index": 0}]]
    },
    "Preparar Comparación": {
      "main": [[{"node": "Log Stats", "type": "main", "index": 0}]]
    },
    "Log Stats": {
      "main": [
        [{"node": "Procesar Alquileres", "type": "main", "index": 0}],
        [{"node": "Procesar Ausentes", "type": "main", "index": 0}]
      ]
    },
    "Procesar Alquileres": {
      "main": [[{"node": "IF Alquileres", "type": "main", "index": 0}]]
    },
    "IF Alquileres": {
      "main": [[{"node": "Registrar Discovery Alquiler", "type": "main", "index": 0}]]
    },
    "Registrar Discovery Alquiler": {
      "main": [[{"node": "Resumen Final", "type": "main", "index": 0}]]
    },
    "Procesar Ausentes": {
      "main": [[{"node": "IF Ausentes", "type": "main", "index": 0}]]
    },
    "IF Ausentes": {
      "main": [[{"node": "Marcar Ausentes", "type": "main", "index": 0}]]
    },
    "Marcar Ausentes": {
      "main": [[{"node": "Resumen Final", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/La_Paz",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
