n8n/workflows/alquiler/flujo_c_verificador_alquiler_v2.0.0.json
{
  "name": "Flujo C - Verificador Alquiler v2.0.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "6dc12d56-b67c-491d-9ec9-c721d9e89138",
      "name": "Trigger 7:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1344,
        448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " -- Verificador Alquiler v2.0: pending (tiempo) + audit (contenido)\n  WITH pending AS (\n    SELECT id, url, fuente, codigo_propiedad, status,\n      primera_ausencia_at,\n      EXTRACT(DAY FROM NOW() - primera_ausencia_at)::INTEGER as dias_desde_ausencia,\n      'pending' as origen\n    FROM propiedades_v2\n    WHERE status = 'inactivo_pending'::estado_propiedad\n      AND tipo_operacion = 'alquiler'\n  ),\n  audit AS (\n    SELECT id, url, fuente, codigo_propiedad, status,\n      NULL::timestamptz as primera_ausencia_at,\n      0 as dias_desde_ausencia,\n      'audit' as origen\n    FROM propiedades_v2\n    WHERE status = 'completado'\n      AND tipo_operacion = 'alquiler'\n      AND es_activa = true\n      AND fuente IN ('century21', 'remax')\n    ORDER BY RANDOM()\n    LIMIT 60\n  )\n  SELECT * FROM pending\n  UNION ALL\n  SELECT * FROM audit\n  ORDER BY origen, dias_desde_ausencia DESC;",
        "options": {}
      },
      "id": "2144287f-d9ae-47bc-8b56-b9f4a2941dca",
      "name": "Query Pendientes + Audit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1120,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "exists",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "97527f37-45da-431a-8a1a-a9fd451606df",
      "name": "Hay propiedades?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "const timestamp = new Date().toISOString();\nreturn [{\n  json: {\n    status: 'completed',\n    message: 'No hay alquileres pendientes ni audit',\n    total_procesadas: 0,\n    pending_confirmadas: 0,\n    audit_c21_terminadas: 0,\n    audit_remax_terminadas: 0,\n    skipped: 0,\n    timestamp\n  }\n}];"
      },
      "id": "68986e8c-baa4-4a0f-bca9-3a8cb7606300",
      "name": "Sin pendientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        624
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "488fda30-8f81-4e81-9de1-acf9fa950b40",
      "name": "Split propiedades",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Decidir si necesita HTTP check (solo audit) o skip directo (pending)\nconst prop = $input.first().json;\nif (prop.origen === 'audit') {\n  return [{ json: { ...prop, _needsHttp: true } }];\n} else {\n  return [{ json: { ...prop, _needsHttp: false } }];\n}"
      },
      "id": "e25c5aae-88b4-4712-a2cb-35f61915facc",
      "name": "Router origen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "needs-http",
              "leftValue": "={{ $json._needsHttp }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ae0be61-5b37-4ed6-b333-2dd41d8242c5",
      "name": "Necesita HTTP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "950e9a14-5ebf-4313-90e6-256809777ead",
      "name": "HTTP GET Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "id": "571991b1-70b2-444a-b6ff-df949f31d52e",
      "name": "Wait 1.5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "webhookId": "va-wait-001"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n  // Verificador Alquiler v2.0 - Procesar respuesta\n  // Pending: auto-confirmación por tiempo (2 días)\n  // Audit: verificar status code (C21: 404, Remax: 302)\n  // ============================================================================\n\n  const item = $input.first();\n  const originalData = item.json;\n\n  let propiedadData;\n  try {\n    propiedadData = $('Router origen').first().json;\n  } catch(e) {\n    propiedadData = originalData;\n  }\n\n  const origen = propiedadData.origen;\n  const fuente = propiedadData.fuente;\n  const diasDesdeAusencia = propiedadData.dias_desde_ausencia || 0;\n  const primeraAusenciaAt = propiedadData.primera_ausencia_at;\n\n  const MAX_DIAS_PENDING = 2;\n\n  let action = 'skip';\n  let newStatus = null;\n  let reason = '';\n  let razonInactiva = 'aviso_terminado';\n\n  // ============================================================================\n  // PENDING: solo auto-confirmación por tiempo\n  // ============================================================================\n  if (origen === 'pending') {\n    if (!primeraAusenciaAt) {\n      action = 'skip';\n      reason = 'ERROR: primera_ausencia_at es NULL';\n    } else if (diasDesdeAusencia >= MAX_DIAS_PENDING) {\n      action = 'confirm';\n      newStatus = 'inactivo_confirmed';\n      razonInactiva = 'aviso_terminado';\n      reason = `Auto-confirmado: ${diasDesdeAusencia} días ausente (límite: ${MAX_DIAS_PENDING})`;\n    } else {\n      action = 'skip';\n      reason = `Esperando: día ${diasDesdeAusencia}/${MAX_DIAS_PENDING}`;\n    }\n  }\n\n  // ============================================================================\n  // AUDIT: verificar status code (C21: 404, Remax: 302)\n  // ============================================================================\n  else if (origen === 'audit') {\n    const statusCode = originalData.statusCode || 0;\n    const isError = !!originalData.error;\n\n    if (isError) {\n      action = 'skip';\n      reason = `Audit: error HTTP - skip`;\n\n    } else if (fuente === 'century21') {\n      if (statusCode === 404) {\n        action = 'confirm';\n        newStatus = 'inactivo_confirmed';\n        razonInactiva = 'audit_c21_terminado';\n        reason = `Audit C21: HTTP 404 - Aviso terminado`;\n      } else {\n        action = 'skip';\n        reason = `Audit C21: HTTP ${statusCode} - página activa`;\n      }\n\n    } else if (fuente === 'remax') {\n      if (statusCode === 301 || statusCode === 302) {\n        action = 'confirm';\n        newStatus = 'inactivo_confirmed';\n        razonInactiva = 'audit_remax_redirect';\n        reason = `Audit Remax: redirect HTTP ${statusCode} detectado`;\n      } else {\n        action = 'skip';\n        reason = `Audit Remax: HTTP ${statusCode} - página activa`;\n      }\n\n    } else {\n      action = 'skip';\n      reason = `Audit: fuente ${fuente} no soportada`;\n    }\n  }\n\n  return [{\n    json: {\n      id: propiedadData.id,\n      url: propiedadData.url,\n      fuente: fuente,\n      codigo_propiedad: propiedadData.codigo_propiedad,\n      primera_ausencia_at: primeraAusenciaAt,\n      action,\n      newStatus,\n      reason,\n      razonInactiva,\n      origen,\n      diasDesdeAusencia,\n      maxDiasPending: MAX_DIAS_PENDING,\n      timestamp: new Date().toISOString()\n    }\n  }];"
      },
      "id": "593864c2-5774-4ab9-9137-e0e9bf765a41",
      "name": "Procesar respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-confirm",
              "leftValue": "={{ $json.action }}",
              "rightValue": "confirm",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8cd632f1-5912-4a2e-bcd6-1737b8990018",
      "name": "Confirmar baja?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE propiedades_v2\n  SET\n    status = 'inactivo_confirmed',\n    es_activa = FALSE,\n    fecha_inactivacion = COALESCE(primera_ausencia_at, NOW()),\n    razon_inactiva = '{{ $json.razonInactiva }}',\n    fecha_actualizacion = NOW()\n  WHERE id = {{ $json.id }}\n    AND es_activa = TRUE\n  RETURNING id, url, status, fecha_inactivacion, razon_inactiva,\n    '{{ $json.action }}' as action,\n    '{{ $json.razonInactiva }}' as \"razonInactiva\",\n    '{{ $json.origen }}' as origen,\n    '{{ $json.fuente }}' as fuente;",
        "options": {}
      },
      "id": "c019e6ec-148a-4c14-959a-03e4c73ffa48",
      "name": "UPDATE inactivo_confirmed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nreturn [{ json: { ...item.json, logged: true, logType: 'skipped' } }];"
      },
      "id": "8b55b568-013b-418b-b227-b68b45bc615f",
      "name": "Log skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        224
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "results",
        "options": {}
      },
      "id": "ae0ad354-bacd-4ccd-aef6-6aec73e5a7a0",
      "name": "Agregar resultados",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -672,
        448
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Verificador Alquiler v2.0 - Resumen final\n// ============================================================================\n\nconst results = $input.first().json.results || [];\n\nlet pending_confirmadas = 0;\nlet audit_c21 = 0;\nlet audit_remax = 0;\nlet skipped = 0;\n\nfor (const r of results) {\n  if (r.action === 'confirm' && r.origen === 'pending') pending_confirmadas++;\n  else if (r.action === 'confirm' && r.razonInactiva === 'audit_c21_terminado') audit_c21++;\n  else if (r.action === 'confirm' && r.razonInactiva === 'audit_remax_redirect') audit_remax++;\n  else skipped++;\n}\n\nreturn [{\n  json: {\n    status: 'completed',\n    flujo: 'Verificador Alquiler v2.0',\n    timestamp: new Date().toISOString(),\n    total_procesadas: results.length,\n    pending_confirmadas,\n    audit_c21_terminadas: audit_c21,\n    audit_remax_terminadas: audit_remax,\n    total_confirmadas: pending_confirmadas + audit_c21 + audit_remax,\n    skipped,\n     detalles: results\n    .filter(r => r.action === 'confirm')\n    .map(r => `#${r.id} (${r.fuente}): ${r.razonInactiva || r.razon_inactiva || 'confirmado'}`)\n  }\n}];"
      },
      "id": "516115d2-26df-48e4-ad5e-9c826eb8321f",
      "name": "Generar resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        448
      ]
    },
    {
      "parameters": {},
      "id": "7a7506c6-0884-489f-b5b9-8a55d8fef6e3",
      "name": "Merge outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -224,
        448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow(\n  'verificador_alquiler',\n  'success',\n  {{ $json.total_procesadas || 0 }},\n  {{ $json.total_confirmadas || 0 }},\n  0,\n  NULL,\n  '{{ JSON.stringify({ pending: $json.pending_confirmadas || 0, audit_c21: $json.audit_c21_terminadas || 0, audit_remax: $json.audit_remax_terminadas || 0, skipped: $json.skipped || 0 }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "4bb6558e-75fa-4d2e-aee2-2eb423f4888c",
      "name": "PG: Registrar Ejecución",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        448
      ],
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger 7:00 AM": {
      "main": [
        [
          {
            "node": "Query Pendientes + Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Pendientes + Audit": {
      "main": [
        [
          {
            "node": "Hay propiedades?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay propiedades?": {
      "main": [
        [
          {
            "node": "Split propiedades",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin pendientes": {
      "main": [
        [
          {
            "node": "Merge outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split propiedades": {
      "main": [
        [
          {
            "node": "Agregar resultados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router origen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router origen": {
      "main": [
        [
          {
            "node": "Necesita HTTP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Necesita HTTP?": {
      "main": [
        [
          {
            "node": "HTTP GET Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET Check": {
      "main": [
        [
          {
            "node": "Wait 1.5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1.5s": {
      "main": [
        [
          {
            "node": "Procesar respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar respuesta": {
      "main": [
        [
          {
            "node": "Confirmar baja?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar baja?": {
      "main": [
        [
          {
            "node": "UPDATE inactivo_confirmed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE inactivo_confirmed": {
      "main": [
        [
          {
            "node": "Split propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log skipped": {
      "main": [
        [
          {
            "node": "Split propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar resultados": {
      "main": [
        [
          {
            "node": "Generar resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar resumen": {
      "main": [
        [
          {
            "node": "Merge outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge outputs": {
      "main": [
        [
          {
            "node": "PG: Registrar Ejecución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/La_Paz",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c4f0f763-d9dc-4bd1-932e-551aa83638db",
  "meta": {
    "instanceId": "0cf95066756cd645aa773b1efb0bb40a009acb9e082a84e9d526127529829060"
  },
  "id": "AGQvio6iFg4q47E8",
  "tags": []
}