n8n/workflows/casas_terrenos/discovery_remax_casas_terrenos_v1.0.0.json
{
  "name": "discovery_remax_casas_terrenos_v1.0.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 1 * * *"
            }
          ]
        }
      },
      "id": "ct-rmx-trigger",
      "name": "Trigger 1:15 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        288
      ],
      "notes": "Ejecución diaria a las 1:15 AM (después de deptos)"
    },
    {
      "parameters": {
        "jsCode": "// === GENERADOR DE URLs REMAX — CASAS + TERRENOS ===\n// Genera URLs para casa y terreno × todas las páginas\n// PRD: docs/backlog/CASAS_TERRENOS_PRD.md\n\nconst TOTAL_PAGES = 8;\nconst TIPOS = [\n  { slug: 'casa', nombre: 'casa' },\n  { slug: 'terreno', nombre: 'terreno' }\n];\nconst BASE = 'https://remax.bo/api/search';\nconst LOCATION = 'santa-cruz-de-la-sierra/equipetrolnoroeste';\n\nconst urls = [];\n\nfor (const tipo of TIPOS) {\n  for (let page = 1; page <= TOTAL_PAGES; page++) {\n    urls.push({\n      json: {\n        page_url: `${BASE}/${tipo.slug}/${LOCATION}?page=${page}`,\n        page_number: page,\n        tipo_propiedad: tipo.nombre,\n        fuente: 'remax'\n      }\n    });\n  }\n}\n\nconsole.log(`Generados ${urls.length} URLs (${TIPOS.length} tipos × ${TOTAL_PAGES} páginas)`);\nreturn urls;"
      },
      "id": "ct-rmx-urls",
      "name": "Generar URLs Remax",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        288
      ],
      "notes": "16 URLs: 2 tipos × 8 páginas"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ct-rmx-split",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1040,
        288
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.page_url }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ct-rmx-http",
      "name": "HTTP Request API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        432
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "ct-rmx-wait",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -608,
        432
      ],
      "webhookId": "ct-rmx-wait-001",
      "notes": "Rate limit: 2s entre requests"
    },
    {
      "parameters": {
        "jsCode": "// === EXTRAER PROPIEDADES REMAX — CASAS/TERRENOS ===\n// Mismo parsing que deptos (misma estructura API Remax)\nconst response = $input.first().json;\nconst propiedades = response.data || [];\n\nreturn propiedades.map(prop => ({\n  json: {\n    url: `https://remax.bo/propiedad/${prop.slug}`,\n    fuente: 'remax',\n    codigo_propiedad: prop.MLSID,\n    tipo_operacion: prop.transaction_type?.name?.toLowerCase() || null,\n    latitud: parseFloat(prop.location?.latitude) || null,\n    longitud: parseFloat(prop.location?.longitude) || null,\n    precio_usd: prop.price?.price_in_dollars || null,\n    precio_amount: prop.price?.amount || null,\n    moneda_original: prop.price?.currency_id === 1 ? 'BOB' : 'USD',\n    area_total_m2: prop.listing_information?.construction_area_m > 0 ? Number(prop.listing_information.construction_area_m) : null,\n    area_terreno_m2: prop.listing_information?.land_area_m > 0 ? Number(prop.listing_information.land_area_m) : null,\n    dormitorios: prop.listing_information?.number_bedrooms || null,\n    banos: prop.listing_information?.number_bathrooms || null,\n    estacionamientos: prop.listing_information?.number_parking || null,\n    tipo_propiedad_original: prop.listing_information?.subtype_property?.name || null,\n    fecha_publicacion: prop.date_of_listing || null,\n    datos_json_discovery: prop,\n    metodo_discovery: 'api_rest'\n  }\n}));"
      },
      "id": "ct-rmx-extraer",
      "name": "Extraer Propiedades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        432
      ],
      "alwaysOutputData": true,
      "notes": "Mismo parsing que deptos — API Remax es idéntica"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "propiedades",
        "include": "allFieldsExceptDefault",
        "options": {}
      },
      "id": "ct-rmx-aggregate",
      "name": "Aggregate Snapshot",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -160,
        288
      ],
      "notes": "Fin de fase SNAPSHOT"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, status FROM propiedades_v2 WHERE fuente = 'remax' AND status NOT IN ('inactivo_confirmed') AND LOWER(tipo_propiedad_original) IN ('casa', 'terreno', 'lote')",
        "options": {}
      },
      "id": "ct-rmx-urls-bd",
      "name": "Obtener URLs Activas BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        64,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "Solo casas/terrenos Remax"
    },
    {
      "parameters": {
        "jsCode": "// === PREPARAR COMPARACIÓN ===\n\nconst snapshot = $('Aggregate Snapshot').first().json.propiedades || [];\nconst propiedadesBD = $('Obtener URLs Activas BD').all().map(item => item.json);\n\nconst snapshotDedup = new Map();\nfor (const prop of snapshot) {\n  snapshotDedup.set(prop.url, prop);\n}\n\nconst urlsSnapshot = new Set(snapshotDedup.keys());\nconst urlsBD = new Map(propiedadesBD.map(p => [p.url, { id: p.id, status: p.status }]));\n\nconst nuevas = [];\nconst existentes = [];\nconst ausentes = [];\n\nfor (const [url, prop] of snapshotDedup) {\n  if (!urlsBD.has(url)) {\n    nuevas.push(prop);\n  } else {\n    existentes.push({\n      ...prop,\n      _id_bd: urlsBD.get(url).id,\n      _status_bd: urlsBD.get(url).status\n    });\n  }\n}\n\nfor (const [url, info] of urlsBD) {\n  if (!urlsSnapshot.has(url)) {\n    if (!['inactivo_pending', 'inactivo_confirmed'].includes(info.status)) {\n      ausentes.push({\n        id: info.id,\n        url: url,\n        status_actual: info.status\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    nuevas: nuevas,\n    existentes: existentes,\n    ausentes: ausentes,\n    stats: {\n      total_snapshot: snapshotDedup.size,\n      total_bd: urlsBD.size,\n      nuevas: nuevas.length,\n      existentes: existentes.length,\n      ausentes: ausentes.length\n    }\n  }\n}];"
      },
      "id": "ct-rmx-comparar",
      "name": "Preparar Comparación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        288
      ],
      "notes": "Deduplicación + Clasificación"
    },
    {
      "parameters": {
        "jsCode": "// === LOG STATS ===\nconst stats = $input.first().json.stats;\n\nconsole.log(`\n=== COMPARACIÓN DISCOVERY REMAX CASAS/TERRENOS ===\nSnapshot (deduplicado): ${stats.total_snapshot}\nBD activas: ${stats.total_bd}\n---\nNuevas: ${stats.nuevas}\nExistentes: ${stats.existentes}\nAusentes: ${stats.ausentes}\n===================================================\n`);\n\nreturn $input.all();"
      },
      "id": "ct-rmx-log",
      "name": "Log Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        288
      ],
      "notes": "Fin de fase COMPARACIÓN"
    },
    {
      "parameters": {
        "jsCode": "// === UNIFICAR PROPIEDADES PARA DISCOVERY ===\nconst data = $input.first().json;\nconst nuevas = data.nuevas || [];\nconst existentes = data.existentes || [];\nconst todas = [...nuevas, ...existentes].filter(p => p.url);\n\nif (todas.length === 0) {\n  return [{ json: { skip: true, message: 'No hay propiedades para procesar' } }];\n}\n\nfunction quitarAcentos(texto) {\n  if (!texto) return null;\n  return texto\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\");\n}\n\nfunction safeNum(v) { return v != null && v !== '' ? Number(v) : null; }\n\nreturn todas.map(prop => ({\n  json: {\n    p_url: prop.url,\n    p_fuente: prop.fuente || 'remax',\n    p_codigo_propiedad: prop.codigo_propiedad || null,\n    p_tipo_operacion: quitarAcentos(prop.tipo_operacion),\n    p_tipo_propiedad_original: prop.tipo_propiedad_original || null,\n    p_precio_usd: safeNum(prop.precio_usd),\n    p_precio_usd_original: safeNum(prop.precio_amount),\n    p_moneda_original: prop.moneda_original || null,\n    p_area_total_m2: safeNum(prop.area_total_m2),\n    p_dormitorios: safeNum(prop.dormitorios),\n    p_banos: safeNum(prop.banos),\n    p_estacionamientos: safeNum(prop.estacionamientos),\n    p_latitud: safeNum(prop.latitud),\n    p_longitud: safeNum(prop.longitud),\n    p_fecha_publicacion: prop.fecha_publicacion || null,\n    p_metodo_discovery: prop.metodo_discovery || 'api_rest',\n    p_datos_json_discovery: prop.datos_json_discovery ? JSON.stringify(prop.datos_json_discovery) : '{}',\n    p_area_terreno_m2: safeNum(prop.area_terreno_m2)\n  }\n}));"
      },
      "id": "ct-rmx-procesar",
      "name": "Procesar Propiedades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        176
      ],
      "notes": "Mapeo para registrar_discovery()"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{$json.p_url}}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ct-rmx-if-props",
      "name": "IF Propiedades",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        944,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM registrar_discovery(\n  p_url := $1,\n  p_fuente := $2,\n  p_codigo_propiedad := $3,\n  p_tipo_operacion := $4,\n  p_tipo_propiedad_original := $5,\n  p_precio_usd := $6,\n  p_precio_usd_original := $7,\n  p_moneda_original := $8,\n  p_area_total_m2 := $9,\n  p_dormitorios := $10,\n  p_banos := $11,\n  p_estacionamientos := $12,\n  p_latitud := $13,\n  p_longitud := $14,\n  p_fecha_publicacion := $15,\n  p_metodo_discovery := $16,\n  p_datos_json_discovery := $17::jsonb,\n  p_area_terreno_m2 := $18\n)",
        "options": {
          "queryReplacement": "={{ [$json.p_url, $json.p_fuente, $json.p_codigo_propiedad, $json.p_tipo_operacion, $json.p_tipo_propiedad_original, $json.p_precio_usd, $json.p_precio_usd_original, $json.p_moneda_original, $json.p_area_total_m2, $json.p_dormitorios, $json.p_banos, $json.p_estacionamientos, $json.p_latitud, $json.p_longitud, $json.p_fecha_publicacion, $json.p_metodo_discovery, $json.p_datos_json_discovery, $json.p_area_terreno_m2] }}"
        }
      },
      "id": "ct-rmx-registrar",
      "name": "Registrar Discovery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1168,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "17 parámetros — misma RPC que deptos"
    },
    {
      "parameters": {
        "jsCode": "// === PROCESAR AUSENTES ===\n\nconst ausentes = $input.first().json.ausentes;\n\nif (ausentes.length === 0) {\n  return [{ json: { skip: true, message: 'No hay propiedades ausentes' } }];\n}\n\nreturn ausentes.map(prop => ({\n  json: {\n    id: prop.id,\n    url: prop.url,\n    status_actual: prop.status_actual\n  }\n}));"
      },
      "id": "ct-rmx-ausentes",
      "name": "Procesar Ausentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        480
      ],
      "notes": "UPDATE directo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ct-rmx-if-ausentes",
      "name": "IF Ausentes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        944,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE propiedades_v2 SET status = 'inactivo_pending', fecha_discovery = NOW(), primera_ausencia_at = COALESCE(primera_ausencia_at, NOW()) WHERE id = $1 AND tipo_operacion = 'venta' AND LOWER(tipo_propiedad_original) IN ('casa', 'terreno', 'lote') AND status NOT IN ('inactivo_pending', 'inactivo_confirmed')",
        "options": {
          "queryReplacement": "={{ [$json.id] }}"
        }
      },
      "id": "ct-rmx-marcar",
      "name": "Marcar Ausentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1168,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      },
      "notes": "UPDATE → inactivo_pending (solo casas/terrenos)"
    },
    {
      "parameters": {
        "jsCode": "// === RESUMEN FINAL ===\nconst stats = $('Log Stats').first().json.stats;\n\nconst resumen = {\n  timestamp: new Date().toISOString(),\n  fuente: 'remax',\n  tipo: 'casas_terrenos',\n  workflow: 'Discovery Casas/Terrenos Remax',\n  version: '1.0.0',\n  resultados: {\n    snapshot_total: stats.total_snapshot,\n    bd_activas: stats.total_bd,\n    nuevas_insertadas: stats.nuevas,\n    existentes_actualizadas: stats.existentes,\n    ausentes_marcadas: stats.ausentes\n  },\n  status: 'completado'\n};\n\nconsole.log('=== DISCOVERY REMAX CASAS/TERRENOS COMPLETADO ===');\nconsole.log(JSON.stringify(resumen, null, 2));\n\nreturn [{ json: resumen }];"
      },
      "id": "ct-rmx-resumen",
      "name": "Resumen Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        288
      ],
      "notes": "Log final y resumen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT registrar_ejecucion_workflow('discovery_casas_terrenos_remax', 'success', 0, 0, 0, NULL, '{}'::jsonb);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        288
      ],
      "id": "ct-rmx-reg-exec",
      "name": "registrar_ejecucion_workflow",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zd5IroT7BxnpW5U6",
          "name": "Supabase - Censo Inmobiliario"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger 1:15 AM": {
      "main": [
        [
          {
            "node": "Generar URLs Remax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar URLs Remax": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Aggregate Snapshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request API": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Extraer Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Propiedades": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Snapshot": {
      "main": [
        [
          {
            "node": "Obtener URLs Activas BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URLs Activas BD": {
      "main": [
        [
          {
            "node": "Preparar Comparación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Comparación": {
      "main": [
        [
          {
            "node": "Log Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Stats": {
      "main": [
        [
          {
            "node": "Procesar Propiedades",
            "type": "main",
            "index": 0
          },
          {
            "node": "Procesar Ausentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Propiedades": {
      "main": [
        [
          {
            "node": "IF Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Propiedades": {
      "main": [
        [
          {
            "node": "Registrar Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Discovery": {
      "main": [
        [
          {
            "node": "Resumen Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Ausentes": {
      "main": [
        [
          {
            "node": "IF Ausentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Ausentes": {
      "main": [
        [
          {
            "node": "Marcar Ausentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Ausentes": {
      "main": [
        [
          {
            "node": "Resumen Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen Final": {
      "main": [
        [
          {
            "node": "registrar_ejecucion_workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/La_Paz",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "0cf95066756cd645aa773b1efb0bb40a009acb9e082a84e9d526127529829060"
  },
  "tags": [
    {
      "name": "discovery"
    },
    {
      "name": "casas_terrenos"
    },
    {
      "name": "remax"
    }
  ]
}